<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的收藏</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/my-save.css" type="text/css" />
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="$link.getContextPath()/js/share.js"></script>

</head>

<!-- 
批量删除功能 -2016-3-10
-->
<body>
#parse("./common/header.vm")
	<div id="container">
    <div class="header">
        <a href="${link.contextPath}/user/index" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/back_n.png">
			<img class="img2" src="${link.contextPath}/images/back_p.png">
		</a>
        <span>我的收藏</span>
		<a href="javascript:" id="edit">
			<img src="${link.contextPath}/images/img/edit_n.png" />
			<img class="img2" src="${link.contextPath}/images/img/edit_n.png" style="display:none" />
		</a>
		<a href="javascript:" id="edit2">完成</a>
    </div>
	<div class="save-title">共收藏了<span id="goodscountspan">$counts</span>件商品</div>
	<div id="main"></div>
	<div id='tip' style="display:none;"><p style="text-align:center;color:#666;font-size:14px;">没有更多了~</p></div>
    <div id='tip2' style="display:none;margin-bottom:15px;"><p style="text-align:center;color:#666;font-size:14px;">继续拖动，查看更多</p></div>
	<div class="car-footer">
		<div class="car-footer-1">
			<a href="javascript:" id="selectAll">
				<img class="img1 option-img1" src="${link.contextPath}/images/select_n.png" />
				<img class="img2 option-img2" src="${link.contextPath}/images/select_p.png" />
				<span class="optionAll">全选</span>
			</a>
		</div>
		<div class="car-footer-1">
			<a href="javascript:" style="color:#fff;" id="deleteall">删除</a>
		</div>
	</div>
</div>
</body>
<script>
var goodscount = '$counts';//收藏商品数量

var batch4del = [];
var hadshownoproduct = false;//是否已经显示"去逛逛吧"
var norecord=false; //是否没有记录
var deletedCount = 0;
var isBottom=false;

var scrollData={
			target:$('#main'),
			start:0,
			pageSize:4,
			append:function(str){
				this.target.append(str);
			},
			nextPage:function(){
				
				if(isBottom){
					return;
				}
				
				$.ajax({ 
					url: '$link.getContextPath()/user/collect/query',
					data:{
						start:scrollData.start,
						pageSize:this.pageSize
					},
					type:"get",
					success: function(data){
						var htmlStr='';
						if(data && data.length<4){
							isBottom=true;
						}
						scrollData.start+=data.length;
						console.log("加载之后:"+scrollData.start);
						for(var i=0;i<data.length;i++){
							norecord = false;
							htmlStr+=
							'<div class="car-content">\
								<div class="bottom-title">供应商：'+data[i].supplierName+'</div>\
								<div class="info-bottom" >\
									<div class="car-select">\
										<a href="#" class="btn option " productId="'+data[i].collectId+'" onclick="check2del4ALink(\''+data[i].collectId+'\',this)">\
										<img class="img1 option-img1" src="${link.contextPath}/images/select_n.png" />\
										<img class="img2 option-img2" src="${link.contextPath}/images/select_p.png" productId="'+data[i].collectId+'"/>\
										</a>\
									</div>\
									<div  onclick="javascript:location.href=\'/product/product_detail?productID='+data[i].productId+'\'">\
									<div class="info-bottom-img" >\
										<a href="/product/product_detail?productID='+data[i].productId+'"><img src="'+data[i].imgPath+'" /></a>\
									</div>\
									<p class="bottom-1" style="font-size:14px;">'+data[i].productName+'</p>\
									<p class="bottom-2"><!-- <span>购买尺码：M</span><span style="margin-left:30px;">颜色：深驼</span> --></p>\
									<p class="bottom-3"><span style="color:#F389AA;font-size:14px;">'+data[i].price/100+'</span></p>\
									</div>\
								</div>\
								<div class="botton-delete" >\
									<a href="#" class="btn delete" onclick="deleteCollection4ALink(\''+data[i].collectId+'\',this)">\
										<img class="img1 option-img" src="${link.contextPath}/images/delete2_n.png" />\
										<img class="img2" src="${link.contextPath}/images/delete2_p.png" />\
									</a>\
								</div>\
							</div>';
						}
						if($counts==0 && !hadshownoproduct){
							norecord = true;
							htmlStr='<p style="text-align:center;color:#666;font-size:14px;">您还没收藏商品</p>\<a href="http://$request.serverName" \
									style="width:40%;height:22px;border-radius:5px;border:1px solid #cecece;display:inline-block;\
									background-color:#E81959;color:#fff;text-align:center;line-height:22px;margin-left:30%;">去逛逛吧~</a>';
							hadshownoproduct = true;
						}else if(data.length==0 && !norecord){
							$('#tip').css('display','block');
							$('#tip2').css('display','none');
						}else{
							if(!norecord){
								
								$('#tip').css('display','none');
								$('#tip2').css('display','block');
							}
						}
						scrollData.append(htmlStr);
					}
				});
			}
	}

/*选择的按钮选中*/
function check2del4ALink(productId,ctrl){
		if($(ctrl).find(".img1").is(":visible")){
			$(ctrl).find(".img1").hide();
			$(ctrl).find(".img2").show();
			batch4del.push(productId);
		}else{
			$(ctrl).find(".img1").show();
			$(ctrl).find(".img2").hide();
			batch4del.del(productId);
		}
}

function deleteCollection(productId,ctrl,successFun){
	$.ajax({ 
					url: '$link.getContextPath()/product/collect',
					data:{
						productID : productId,
						collect : 0
					},
					type:"post",
					success: function(data){
						if(data&&data.errcode==0){
							//成功
							console.log("before:"+goodscount);
							goodscount=goodscount-1;
							console.log("after:"+goodscount);
							$('#goodscountspan').text(goodscount);

							console.log("start "+scrollData.start);
							scrollData.start--;
							console.log("start "+scrollData.start);
							if(successFun){
								successFun(data);
							}
							if($(".car-content").length==0){
								scrollData.nextPage();
							}
						}
						
					}
					
	});
}

/*删除单个商品*/
function deleteCollection4ALink(productId,ctrl){
//		if($(ctrl).parent(".botton-delete").siblings(".info-bottom").children(".car-select").find(".img1").is(":visible")){
// 			alert("对不起，请先选择删除的商品");
//		}else{
			if(confirm('确定要删除该商品吗?')){
				deleteCollection(productId,ctrl,function(successdata){$(ctrl).parents(".car-content").remove();} );
			}else{
				$(".img1").show();
				$(".img2").hide();
			}
//		}
		setTimeout(function () {
			$(".delete").find(".img2").hide();
			$(".delete").find(".img1").show();
		 }, 50);
}
/*批量删除多个商品*/
function batchDeleteCollection(){

	$("div.car-content").find(".option-img2:visible").each(function(){
		var img2ctrl = this;
		//alert($(this).attr("productId"))
		deleteCollection($(this).attr("productId"),null,function(data){
		
		$(img2ctrl).parent().parent().parent().parent().remove();
		
		});
	});
	//只能认为全部完成
	/*
	$(".car-content").each(function(){
		if($(this).find(".car-select").find(".img2").is(":visible")){
				$(this).remove();
		}
	});
	*/
	$("#edit").show();
	$("#edit2").hide();
	$(".botton-delete").hide();
	$(".option-img1").show();
	$(".option-img2").hide();
	$(".optionAll").text("全选");
	$(".car-select").css({"opacity":"0"});
	$(".car-footer").hide();
}

$(function(){
	$(".btn").click(function(){
		if($(this).find(".img1").is(":visible")){
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		}else{
			$(this).find(".img1").show();
			$(this).find(".img2").hide();
		}
	});
	
	$(".subtract").each(function(){
		$(this).click(function(){
			var divTxt = $(this).parents(".number-1").siblings(".number-2");
			num = divTxt.text();
			if(num < 2){
				alert("数量已经最少")
			}else{
				num--;
			}
			divTxt.text(num);
			$(".add").find(".img1").show();
			$(".add").find(".img2").hide();
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		})
	});
	$(".add").each(function(){
		$(this).click(function(){
			var divTxt = $(this).parents(".number-1").siblings(".number-2");
			num = divTxt.text();
			num++;
			divTxt.text(num);
			$(".subtract").find(".img1").show();
			$(".subtract").find(".img2").hide();
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		})
	});
	
	
	$("#edit").click(function(){
			$("#edit").hide();
			$("#edit2").show();
			$(".botton-delete").show();
			$(".car-select").css({"opacity":"1"});
			$(".car-footer").show();
	});
		/*顶部完成操作*/
		$("#edit2").click(function(){
			$("#edit").show();
			$("#edit2").hide();
			$(".botton-delete").hide();
			$(".car-select").css({"opacity":"0"});
			$(".car-footer").hide();
		});
		/*底部删除功能*/
		$("#deleteall").click(function(){
		if($(".car-content").find(".car-select").find(".img2").is(":visible")){
			if(confirm('确定要批量删除商品吗?')){
				batchDeleteCollection();
			
				
			}else{
				$(".img1").show();
				$(".img2").hide();
				$(".option-img1").show();
				$(".option-img2").hide();
				$(".optionAll").text("全选");
			}
		}else{
			alert("请选择商品");
		}
	});

	$(".delete").click(function(){
		if($(this).parent(".botton-delete").siblings(".info-bottom").children(".car-select").find(".img1").is(":visible")){
// 			alert("对不起，请先选择删除的商品");
		}else{
		
		
		
		
			if(confirm('确定要删除该商品吗?')){
				$(this).parents(".car-content").remove();
			}else{
				$(".img1").show();
				$(".img2").hide();
			}
		}
		setTimeout(function () {
			$(".delete").find(".img2").hide();
			$(".delete").find(".img1").show();
		 }, 50);
	});
	
	$("#selectAll").click(function(){
		if($(this).find(".option-img1").is(":visible")){
			$(".option-img1").hide();
			$(".option-img2").show();
			$(".optionAll").text("全选");
		}else{
			$(".option-img1").show();
			$(".option-img2").hide();
			$(".optionAll").text("全选");
		}
	});
	
	$('#container').css('height',$(document).height()+20);
	
	$(window).scroll(function(){
		var scrollTop = $(this).scrollTop();
	　　  var scrollHeight = $(document).height();
	　　  var windowHeight = $(this).height();
	　　  if(scrollTop + windowHeight == scrollHeight){
			console.log("before.start:"+scrollData.start);
		  	scrollData.nextPage();
			console.log("after.start:"+scrollData.start);
		}
	});
	
	scrollData.nextPage();
});
</script>
</html>
 
