<!DOCTYPE html>
<html>
<head>
#parse("./common/resources.vm")
    <!-- title -->
    <title>阿拉丁--设置支付密码</title>
    <script>
    $(function(){
    	$('#chgImg').click(function(){
    		var timestamp=(new Date()).valueOf();
    		$('#captchaImg').attr('src','/common/captcha?timestamp='+timestamp);     
    	})
    	$('#chgImg').click();
    	
    	/*表单验证对象*/
		var formValidate={
			password:{
				target:$("#password"),
				required:true,
				reg:/^[\w\d]{5,20}$/,
				tip:$('#passwordTip'),
				tipWord:'密码长度只能在5-20个字符之间'
			},
			paymentPassword:{
				target:$("#paymentPassword"),
				required:true,
				reg:/^[\w\d]{5,20}$/,
				tip:$('#paymentPasswordTip'),
				validator:function(){
					var pv=formValidate.password.target.val();
					var tv=this.target.val();
					if(pv==tv){
						this.tip.html("支付密码必须和登陆密码不同");
						this.tip.css('display','inline');
						return false;
					}
					var v=formValidate.rePaymentPassword.target.val();
					if(v!=""){
						formValidate.validate(formValidate.rePaymentPassword);
					}
					return true;
				},
				tipWord:'密码长度只能在5-20个字符之间'
			},
			rePaymentPassword:{
				target:$("#rePaymentPassword"),
				required:true,
				validator:function(){
					var v=formValidate.paymentPassword.target.val();
					var v2=this.target.val();
					if(v!=v2){
						this.tip.html(this.tipWord);
						this.tip.css('display','inline');
						return false;
					}
					return true;
				},
				tip:$('#rePaymentPasswordTip'),
				tipWord:'两次输入密码不一致'
			},
			captcha:{
				target:$("#captcha"),
				required:true,
				tip:$('#captchaTip'),
				tipWord:'验证码输入错误'
			},
			init:function(){
				this.password.target.blur(function(){
					formValidate.validate(formValidate.password);
				})
				this.paymentPassword.target.blur(function(){
					formValidate.validate(formValidate.paymentPassword);
				})
				this.rePaymentPassword.target.blur(function(){
					formValidate.validate(formValidate.rePaymentPassword);
				})
				this.captcha.target.blur(function(){
					formValidate.validate(formValidate.captcha);
				})
				this.paymentPassword.target.focus(function(){
					formValidate.paymentPassword.tip.css('display','none');
				})
				this.rePaymentPassword.target.focus(function(){
					formValidate.rePaymentPassword.tip.css('display','none');
				})
				this.password.target.focus(function(){
					formValidate.password.tip.css('display','none');
				})
				this.captcha.target.focus(function(){
					formValidate.captcha.tip.css('display','none');
				})
			},
			validate:function(o){//通用验证
				var v=o.target.val();
				if(o.required){
					if(v==""){//非空
						o.tip.html(o.tipWord);
						o.tip.css('display','inline');
						return false;
					}
				}
				if(v!=""){
					if(o.reg!=undefined){//格式
						if(!o.reg.test(v)){
							o.tip.html(o.tipWord);
							o.tip.css('display','inline');
							return false;
						}
					}
				}
				if(o.validator!=undefined){//自定义验证
					if(!o.validator()){
						return false;
					}
				}
				o.tip.css('display','none');
				return true;
			},
			validateAll:function(){
				if(this.validate(this.password)&this.validate(this.paymentPassword)&this.validate(this.rePaymentPassword)&this.validate(this.captcha)){
					return true;
				}
				return false;
			}
		}
		formValidate.init();
		
		
		var submitAble=true;
		$('#submit').click(function(){
			if(formValidate.validateAll()){
				if(!$('#readed')[0].checked){
					alert('请阅读并同意《用户注册协议》');
					submitAble=true;
					return;
				}
				submitAble=false;
				var password=$("#password").val();
				var paymentPassword=$("#paymentPassword").val();
				var captcha=$('#captcha').val();
				$.ajax({ 
    				url: '/user/save/paymentPassword/first',
    				data:{loginPassword:password,paymentPassword:paymentPassword,captcha:captcha},
    				type:"post",
    				success: function(data){
    					if(data==-1){
    						$('#chgImg').click();
    						$('#captchaTip').css('display','inline');
    						submitAble=true;
    					}else if(data==210605){
    						$('#chgImg').click();
    						$('#paymentPasswordTip').html('支付密码必须和登陆密码不同');
    						$('#paymentPasswordTip').css('display','inline');
    						submitAble=true;
    					}else if(data==0||data==210604){
    						#if($!{fromPay}==1)
    							location.href="$!{location}";
    						#else
    							location.href="/user";	
    						#end
    					}else if(data==210602){
    						$('#chgImg').click();
    						$('#paymentPasswordTip').html('密码长度只能在5-20个字符之间');
    						$('#paymentPasswordTip').css('display','inline');
    						submitAble=true;
    					}else if(data==210603){
    						$('#chgImg').click();
    						$('#passwordTip').html('登录密码错误');
    						$('#passwordTip').css('display','inline');
    						submitAble=true;
    					}else {
    						$('#chgImg').click();
        					alert('系统繁忙，请稍后再试');
        					submitAble=true;
    					}
    				},
    				error:function(){
    					$('#chgImg').click();
    					alert('系统繁忙，请稍后再试');
    					submitAble=true;
    				}
    			});
			}
		})
    })
    </script>
</head>
<body>
    <header class="header new-header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- contentbar -->
    <div class="content-bar">
        <div class="content">
            <div class="container">
                <div class="form-box payment">
                    <form>
                        <h2>支付密码设置</h2>
                        <div class="form-group">
                            <label class="control-label">
                                <span>*</span>登录密码：
                            </label>
                            <input type="password" id="password" class="form-control" placeholder="请输入您的登录密码" />
                            <span class="error" id="passwordTip" style="display:none;">输入登录密码错误</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <span>*</span>设置支付密码：
                            </label>
                            <div class="item">
                                <i class="icon-eye"></i>
                                <input type="password" id="paymentPassword" class="form-control" placeholder="请设置您的支付密码" />
                            </div>
                            <span class="error" id="paymentPasswordTip" style="display:none;">密码长度只能在6-20个字符之间</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <span>*</span>确认支付密码：
                            </label>
                            <div class="item">
                                <i class="icon-eye"></i>
                                <input type="password" id="rePaymentPassword" class="form-control" placeholder="确认密码" />
                            </div>    
                            <span class="error" id="rePaymentPasswordTip" style="display:none;">两次输入密码不一致</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <span>*</span>验证码：
                            </label>
                            <input type="text" class="form-control code" placeholder="验证码" id="captcha" />
                            <a href="javascript:;" class="code">
                                <img id="captchaImg" style="width:90px;height:32px;">
                            <a/>
                            <a href="javascript:;" class="update" id="chgImg">换一张</a>
                            <span class="error" id="captchaTip" style="display:none;padding-left: 30px;">验证码输入错误</span>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="" id="readed">
                            我已同意并阅读<a href="javascript:;">《用户注册协议》</a>
                          </label>
                        </div>
                        <button type="button" id="submit" class="btn btn-register">完成设置</button>
                        <p  class="accout">
                            <a href="forget-password.html">忘记登录密码？</a>
                        </p>
                    </div>
                </form>   
            </div>
        </div>
    </div>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>