<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人信息</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/info-index.css" type="text/css" />
</head>
<!-- title-2 文字位置修改 -->
<body>
#parse("./common/header.vm")
<div id="container">
    <div class="header">
        <a href="${link.contextPath}/user/index" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/back_n.png">
			<img class="img2" src="${link.contextPath}/images/back_p.png">
		</a>
        <span>个人信息</span>
    </div>
	<div class="info-area">
		<a href="#"><div class="info-list">
			<div class="list-1">头像</div>
			<div class="user-head"><img src="#if($headImage)$headImage#else${link.contextPath}/images/headImg.png#end"/></div>
		</div></a>
		<div class="info-list">
			<div class="list-1">昵称</div>
			<div class="user-name">$!{nickName}</div>
		</div>
		<div class="info-list">
			<div class="list-1">免费号</div>
			<div class="user-name">$!{luckNum}</div>
		</div>
		<a href="${link.contextPath}/receadd/manage_rece_add"><div class="info-list">
			<div class="list-1">收货地址</div>
			<span><img src="${link.contextPath}/images/arrow.png"></span>
		</div></a>
	</div>
	<div class="address-btn">
		 <a href="javascript:" class="addAddress"> 
       刷新微信个人信息</a>
    </div>
    <div class="common-msg">
		刷新微信消息成功
	</div>
</div>
</body>
<script>
    $(function(){
    	#if(${isRefresh}==1)
    		$(".common-msg").fadeIn();
			setTimeout(function () {
				$(".common-msg").fadeOut();
			}, 2000);
    	#end
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		
		$(".addAddress").click(function(){
			$.ajax({
				url:'${link.contextPath}/user/refresh-wx-info',
				type:'POST',
				dataType:'JSON',
				success:function(ret){
					if(ret.errcode==0){
						location.href="${link.contextPath}/user/info-index?isRefresh=1";
					}else{
						$(".common-msg").text("刷新微信消息失败");
						$(".common-msg").fadeIn();
						setTimeout(function () {
							$(".common-msg").fadeOut();
						}, 2000);
					}
				}
			});
		});
		
	});
</script>
</html>