<!DOCTYPE html>
<html>
<head>
#parse("./common/resources.vm")
    <!-- title -->
    <title>会员等级</title>
    <script>
    $(function(){
    	
    })
    </script>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="javascript:;">账户中心</a>
                                </li>
                                <li class="sub">
                                    <a href="person.html">我的账户</a>
                                </li>
                                <li class="sub">
                                    <a href="person-info.html">个人信息</a>
                                </li>
                                <li class="sub">
                                    <a href="level.html" class="active">会员等级</a>
                                </li>
                                <li class="sub">
                                    <a href="address.html">收货地址</a>
                                </li class="sub">
                                <li class="sub">
                                    <a href="my-card.html">我的银行卡</a>
                                </li>
                                <li class="sub">
                                    <a href="my-sales.html">我的销售</a>
                                </li>
                                <li class="sub">
                                    <a href="alipay-binding.html">我要提现</a>
                                </li>
                                <li class="sub">
                                    <a href="my-code.html">我要推广</a>
                                </li>
                                <li class="bold">
                                    <a href="javascript:;">订单中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-order.html">我的订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">团购订单</a>
                                </li>
                                <li liclass="sub">
                                    <a href="javascript:;" >砍价订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">一元购订单</a>
                                </li>
                                <li class="bold">
                                    <a href="advertise.html">参与活动</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的团购</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的一元购</a>
                                </li>
                                <li class="bold">
                                    <a href="wealth.html">我的财富</a>
                                </li>
                                <li class="bold">
                                    <a href="my-team.html">我的团队</a>
                                </li>
                                <li class="bold">
                                    <a href="collection.html">我的收藏</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <div class="level">
                                <h3>#if($userInfo.isGoldType==1)金牌用户/#end普通用户</h3>
                                <!--<ul>
                                    <li>
                                    	<span class="fl">渠道会员</span>
                                    	<span class="fl">渠道会员</span>
                                        <span class="fr">金牌用户/普通用户</span>
                                    </li>
                                </ul>-->
                            </div>
                            #if($userInfo.isChannelType==1)
                            <div class="level">
                            <h3>渠道用户</h3>
                            <ul>
                                <li>
                                    <span class="fl">渠道会员</span>
                                    <span class="fr">$levelInfo.channel.levelName</span>
                                </li>
                                <li>
                                    <span class="fl">升级路程</span>
                                    <span class="fr">$levelInfo.channel.levelName<i class="icon-left"></i>$levelInfo.channel.nextLevelName</span>
                                </li>
                                <li>
                                    <span class="fl">自消费累计金额</span>
                                    <span class="fr">￥$number.format("#0.00",$math.div($levelInfo.channel.selfSum,100))/￥$number.format("#0.00",$math.div($levelInfo.channel.nextSelfSum,100))</span>
                                </li>
                                <li>
                                    <span class="fl">推荐金牌用户数</span>
                                    <span class="fr">$levelInfo.channel.countDirectountGoldUser人/$levelInfo.channel.nextCountDirectountGoldUser人</span>
                                </li>
                                <li>
                                    <span class="fl">团队金牌人数</span>
                                    <span class="fr">$levelInfo.channel.countAllGoldUser人/$levelInfo.channel.nextCountAllGoldUser人</span>
                                </li>
                            </ul>
                            </div>
                            #end
                            #if($userInfo.isCashBackType==1)
                            <div class="level">
                            <h3>全返用户</h3>
                            <ul>
                                <li>
                                    <span class="fl">全返会员</span>
                                    <span class="fr">$levelInfo.gold.levelName</span>
                                </li>
                                <li>
                                    <span class="fl">升级路程</span>
                                    <span class="fr">$levelInfo.gold.levelName<i class="icon-left"></i>$levelInfo.gold.nextLevelName</span>
                                </li>
                                <li>
                                    <span class="fl">团队消费人数</span>
                                    <span class="fr">$levelInfo.gold.countConsumeMember人/$levelInfo.gold.nextCountConsumeMember人</span>
                                </li>
                                <li>
                                    <span class="fl">自消费累计金额</span>
                                    <span class="fr">￥$number.format("#0.00",$math.div($levelInfo.gold.selfSum,100))/￥$number.format("#0.00",$math.div($levelInfo.gold.nextSelfSum,100))</span>
                                </li>
                                <li>
                                    <span class="fl">团队消费累计金额</span>
                                    <span class="fr">￥$number.format("#0.00",$math.div($levelInfo.gold.teamSum,100))/￥$number.format("#0.00",$math.div($levelInfo.gold.nextTeamSum,100))</span>
                                </li>
                                <li>
                                    <span class="fl">团队金牌人数</span>
                                    <span class="fr">$levelInfo.gold.countAllGoldUser人/$levelInfo.gold.nextCountAllGoldUser人</span>
                                </li>
                            </ul>
                            </div>
                            #end
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>浏览记录</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>