<!DOCTYPE html>
<html>
<head>

#parse("./common/resources.vm")
    <!-- title -->
    <title>我的销售</title>
    <script>
    function toPage(i){
    	location.href="/user/sales?page="+i;
    }
    </script>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="javascript:;">账户中心</a>
                                </li>
                                <li class="sub">
                                    <a href="person.html">我的账户</a>
                                </li>
                                <li class="sub">
                                    <a href="person-info.html">个人信息</a>
                                </li>
                                <li class="sub">
                                    <a href="level.html">会员等级</a>
                                </li>
                                <li class="sub">
                                    <a href="address.html">收货地址</a>
                                </li class="sub">
                                <li class="sub">
                                    <a href="my-card.html">我的银行卡</a>
                                </li>
                                <li class="sub">
                                    <a href="my-sales.html" class="active">我的销售</a>
                                </li>
                                <li class="sub">
                                    <a href="alipay-binding.html">我要提现</a>
                                </li>
                                <li class="sub">
                                    <a href="my-code.html">我要推广</a>
                                </li>
                                <li class="bold">
                                    <a href="javascript:;">订单中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-order.html">我的订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">团购订单</a>
                                </li>
                                <li liclass="sub">
                                    <a href="javascript:;" >砍价订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">一元购订单</a>
                                </li>
                                <li class="bold">
                                    <a href="advertise.html">参与活动</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的团购</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的一元购</a>
                                </li>
                                <li class="bold">
                                    <a href="wealth.html">我的财富</a>
                                </li>
                                <li class="bold">
                                    <a href="my-team.html">我的团队</a>
                                </li>
                                <li class="bold">
                                    <a href="collection.html">我的收藏</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <table class="table wealth-order record table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>订单金额</th>
                                        <th>订单编号</th>
                                        <th>所得佣金</th>
                                        <th>交易状态</th>
                                        <th>交易时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	#foreach($item in $sales)
                                	<tr>
                                        <td>￥$number.format("#0.00",$math.div($item.orderSum,100))</td>
                                        <td>5325425256</td>
                                        <td>￥$number.format("#0.00",$math.div($item.remainReward,100))</td>
                                        <td>交易成功</td>
                                        <td>$item.completeTime</td>
                                    </tr>
                                	#end
                                </tbody>
                            </table>
                        </div>
                        <div class="button-group">
                        #if($page>1)<a href="javascript:toPage(#set($prev=$page - 1)$prev);" class="prev">上一页</a>#end
                        #if($page>1)<a href="javascript:toPage(1);" class="num">1</a>#end
                        #if($page - 3>1)
                        	<span>...</span>
                        #end
                        #foreach($item in [2,1])
                    	#set($p=$page - $item)
                    		#if($p>1)
                    			<a href="javascript:toPage($p);" class="num">$p</a>
                    		#end
                    	#end
                        <a href="javascript:toPage($page);" class="num active">$page</a>
                        #foreach($item in [1,2])
                        	#set($p=$page + $item)
                        	#if($p<$total)
                        	<a href="javascript:toPage($p);" class="num">$p</a>
                        	#else
                        		#break
                        	#end
                        #end
                        #if($page+3<$total)
                        	<span>...</span>
                        #end
                        #if($page<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
                        #if($page<$total)<a href="javascript:toPage(#set($next=$page+1)$next);" class="prev">下一页</a>#end
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>浏览记录</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>