<!DOCTYPE html>
<html>
<head>

#parse("./common/resources.vm")
    <!-- title -->
    <title>我的财富-充值记录</title>
    <script>
    function teamQuery(target,e){
    	var nextLevel=$('#'+target).attr('nextLevel');
    	if(nextLevel==undefined){
        	var nextTier=parseInt($('#'+target).attr('tier'))+1;
        	var mqId=$('#'+target).attr('mqId');
       		$.ajax({ 
    			url: '/user/team/query',
    			data:{mqId:mqId},
    			type:"post",
    			success: function(data){
    				var divId=target+"_n";
    				var html='<div id="'+divId+'" style="display:none;">';
    				for(var i=0;i<data.length;i++){
    					var id='tier'+nextTier+''+i;
						html+='<h3 style="text-indent:'+15*(nextTier-1)+'px;" onclick=\'teamQuery("'+id+'",event);\' id="'+id+'" tier="'+nextTier+'""'+i+'" mqid="'+data[i].mqId+'">\
									<span class="glyphicon glyphicon-triangle-right"></span>\
									<span>第'+nextTier+'级</span>\
									<span>\
										<a href="javascript:;">\
											<img style="width:40px;height:40px;" src="'+data[i].headImage+'" />\
										</a>'+data[i].nickname+'\
									</span>\
								</h3>';
    				}

    				html+='</div>';
    				$('#'+target).after(html);
    				$('#'+divId).slideToggle('slow');
    	    		var arrow = $('#'+target).find('.glyphicon');
    	    		if(arrow.hasClass('glyphicon-triangle-right')) {
    	    			arrow.addClass('glyphicon-triangle-bottom').removeClass('glyphicon-triangle-right');
    	    		} else {
    	    			arrow.addClass('glyphicon-triangle-right').removeClass('glyphicon-triangle-bottom');
    	    		}
    				$('#'+target).attr('nextLevel',divId);
    			},
    			error:function(){
    				alert('系统繁忙，请稍后再试');
    				submitAble=true;
    			}
    		});
    	}else{
    		$('#'+nextLevel).slideToggle('slow');
    		var arrow = $('#'+target).find('.glyphicon');
    		if(arrow.hasClass('glyphicon-triangle-right')) {
    			arrow.addClass('glyphicon-triangle-bottom').removeClass('glyphicon-triangle-right');
    		} else {
    			arrow.addClass('glyphicon-triangle-right').removeClass('glyphicon-triangle-bottom');
    		}
    	}
   		if (e || e.stopPropagation) { 
    		e.stopPropagation(); 
    	} 
    	else { 
    		window.event.CancelBubble = true; 
    	} 
   	}
    </script>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="javascript:;">账户中心</a>
                                </li>
                                <li class="sub">
                                    <a href="person.html">我的账户</a>
                                </li>
                                <li class="sub">
                                    <a href="person-info.html">个人信息</a>
                                </li>
                                <li class="sub">
                                    <a href="level.html">会员等级</a>
                                </li>
                                <li class="sub">
                                    <a href="address.html">收货地址</a>
                                </li class="sub">
                                <li class="sub">
                                    <a href="my-card.html">我的银行卡</a>
                                </li>
                                <li class="sub">
                                    <a href="my-sales.html">我的销售</a>
                                </li>
                                <li class="sub">
                                    <a href="alipay-binding.html" class="active">我要提现</a>
                                </li>
                                <li class="sub">
                                    <a href="my-code.html">我要推广</a>
                                </li>
                                <li class="bold">
                                    <a href="javascript:;">订单中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-order.html">我的订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">团购订单</a>
                                </li>
                                <li liclass="sub">
                                    <a href="javascript:;" >砍价订单</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">一元购订单</a>
                                </li>
                                <li class="bold">
                                    <a href="advertise.html">参与活动</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的团购</a>
                                </li>
                                <li class="sub">
                                    <a href="javascript:;">我的一元购</a>
                                </li>
                                <li class="bold">
                                    <a href="wealth.html">我的财富</a>
                                </li>
                                <li class="bold">
                                    <a href="my-team.html">我的团队</a>
                                </li>
                                <li class="bold">
                                    <a href="collection.html">我的收藏</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <div class="search team">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="输入商品标题或者订单编号进行搜索">
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <div class="team-list">
                                <h3 class="first">
                                    <span>折叠</span>
                                    <span>级数</span>
                                    <span>用户</span>
                                </h3>
                                #foreach($item in $directlyMembers)
                                <h3 onclick='teamQuery("tier$velocityCount",event);' id="tier1" tier="1" mqid="$item.mqId">
                            		<span class="glyphicon glyphicon-triangle-right"></span>
                                    <span>第1级</span>
                                    <span>
                                        <a href="javascript:;">
                                            <img style="width:40px;height:40px;" src="$!item.headImage" />
                                        </a>$!item.nickname
                                    </span>
                                </h3>	
                                #end
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>浏览记录</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>