<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>余额明细</title>
	<link rel="stylesheet" type="text/css" href="$link.getContextPath()/css/wealth-detail.css" />
	<script type="text/javascript" src="$link.getContextPath()/js/jquery-2.1.3.min.js" ></script>

	<script>
		$(function() {
			$(".btn").click(function() {
				if ($(this).find(".img1").is(":visible")) {
					$(this).find(".img1").hide();
					$(this).find(".img2").show();
				} else {
					$(this).find(".img1").show();
					$(this).find(".img2").hide();
				}
			});
			$(".menu-btn").css({"color" : "#666"});
			$(".menu-btn").eq($tabIdx).css({"color" : "#E81959"});
			$('#tabs').children().eq($tabIdx).css("display", "block");
			
			$('#container').css('height',$(document).height()+20);
			
			$(window).scroll(function(){
				var scrollTop = $(this).scrollTop();
			　　  var scrollHeight = $(document).height();
			　　  var windowHeight = $(this).height();
			　　  if(scrollTop + windowHeight == scrollHeight){
				  	scrollData.nextPage();
				}
			});
			
			var scrollData={
					currentPage:0,
					target:$('#tabs').children().eq($tabIdx),
					pageSize:15,
					append:function(str){
						this.target.append(str);
					},
					nextPage:function(){
						this.currentPage++;
						$.ajax({ 
							url: '$link.getContextPath()/user/wealthDetail/query',
							data:{accountType:"#if($tabIdx==0)KYY#elseif($tabIdx==1)DJY#end",page:this.currentPage,pageSize:this.pageSize},
							type:"post",
							success: function(data){
								var htmlStr='';
								for(var i=0;i<data.length;i++){
									htmlStr+='<div class="sale-list">\
										<div class="sale-1">\
											<p style="font-size: 14px; color: #232323;">金额：<span style="color: #E81959">'+(data[i].flowDirection=='OUT'?'-':'+')+' ￥'+data[i].sum/100+'</span></p>\
										</div>\
										<div class="sale-2">\
											<p>'+data[i].insertTime.replace(/(\d{4}-\d{2}-\d{2} \d{2}:\d{2}):\d{2}/,"$1")+'</p>\
										</div>\
										<div class="sale-3">\
											<p style="right: 13px; color: #666;float:right;margin:5px 1em 5px 1em">'+data[i].remark+'</p>\
										</div>\
									</div>';
								}
								if(data.length==0){
									$('#tip').css('display','block');
									$('#tip2').css('display','none');
								}else{
									$('#tip').css('display','none');
									$('#tip2').css('display','block');
								}
								scrollData.append(htmlStr);
							}
						});
					}
			}
			scrollData.nextPage();
		});
	</script>
</head>
<body>
#parse("./common/header.vm")
	<div id="container">
		<div class="header">
			<a href="$link.getContextPath()/user/wealth" class="header-back btn"> <img class="img1" src="$link.getContextPath()/images/back_n.png"> <img
					class="img2" src="$link.getContextPath()/images/back_p.png"></a> <span>余额明细</span>
		</div>
		<div class="header-menu">
			<ul>
				<li><a href="$link.getContextPath()/user/wealthDetail?tabIdx=0" class="menu-btn">可用余额</a></li>
				<li><a href="$link.getContextPath()/user/wealthDetail?tabIdx=1" class="menu-btn">冻结余额</a></li>
			</ul>
		</div>
		<div id="tabs">
			<div class="sale-area1" style="display:none;">
			</div>
			<div class="sale-area1" style="display:none;">
			</div>
		</div>
		<div style="clear:both;"></div>
		<div id='tip' style="display:none;padding-bottom: 5px;"><p style="text-align:center;color:#666;font-size:14px;">没有更多了~</p></div>
   		<div id='tip2' style="display:none;padding-bottom: 5px;"><p style="text-align:center;color:#666;font-size:14px;">继续拖动，查看更多</p></div>
	</div>
</body>
</html>

