#set($tmp=$remainingSum/100.0)
#set($remainingSum=$number.format("#0.00",$tmp))
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>提现申请</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="$link.getContextPath()/css/common.css" type="text/css" />
	<link rel="stylesheet" href="$link.getContextPath()/css/reflect-money.css" type="text/css" />
	<script src="$link.getContextPath()/js/jquery-2.1.3.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="$link.getContextPath()/js/share.js"></script>
	<script>
	
	var frobiddenchange = false;
	
		$(function() {
	share_link='http://$request.serverName?iv=$session.getAttribute("principal").userId';
			$(".btn").click(function() {
				if ($(this).find(".img1").is(":visible")) {
					$(this).find(".img1").hide();
					$(this).find(".img2").show();
				} else {
					$(this).find(".img1").show();
					$(this).find(".img2").hide();
				}
			});

			$("#reflect-btn").click(function() {
				$(this).css({
					"color" : "#fff",
					"background-color" : "#E81959"
				});
				setTimeout(function() {
					$("#reflect-btn").css({
						"color" : "#5e5b5c",
						"background-color" : "#fff"
					});
				}, 1000)
			});

			
			var moneyValidate = {
				element : $('#money'),
				max:${remainingSum},
				preValue : null,
				bind : function() {
					moneyValidate.element.keydown(function(e) {
						moneyValidate.preValue = moneyValidate.element.val();
					});
					moneyValidate.element.keyup(function(e) {
						var v = moneyValidate.element.val();
						var dotIdx = moneyValidate.preValue.indexOf('.');
						var keyCode = v.substring(v.length - 1, v.length);
						if ((keyCode<"0"||keyCode>"9") && keyCode != ".") {
							moneyValidate.element.val(v.substring(0,
									v.length - 1));
							return;
						}
						if (dotIdx != -1) {
							if (keyCode == ".") {
								moneyValidate.element.val(v.substring(0,
										v.length - 1));
								return;
							}
							if (moneyValidate.preValue.substring(dotIdx, v.length).length == 3) {
								moneyValidate.element.val(v.substring(0,
										v.length - 1));
								return;
							}
						}
						if(parseFloat(v)>moneyValidate.max){
							moneyValidate.element.val(v.substring(0,
									v.length - 1));
							return;
						}
					});
				}
			}
			moneyValidate.bind();

			var reflectBtnAble=true;
			$("#reflect-btn").click(function() {
				var wdmoney = $('#money').val();
				if(isNaN(wdmoney)){
					alert("提现金额请填入不小于1元的数字");
					return;
				}
				var fwdmoney = parseFloat(wdmoney);
				if(reflectBtnAble&&fwdmoney>=1){
					
				}else{
					alert("提现金额不得小于1元");
					return;
				}
				
				if(fwdmoney > ${remainingSum}){
					alert("提现金额不得大于当前余额");
					return;
				}
				
				if($('#name').val()==''){
					alert("请输入姓名");
					return;
				}
				if($('#account').val()==''){
					alert("请输入银行帐户");
					return;
				}
				if($("#account").val().length<14||$("#account").val().length>16){
					alert("请填写正确的银行账户");
					return;
				}
				var ctrlbankcode = document.getElementById("bankcode");
				if(ctrlbankcode.selectedIndex == -1){
					alert("请选择银行");
					return;
				}
				var ctrlprovince = document.getElementById("province");
				if(ctrlprovince.selectedIndex == -1){
					alert("请选择银行所在省份");
					return;
				}
				var ctrlcity = document.getElementById("city");
				if(ctrlcity.selectedIndex == -1){
					alert("请选择银行所在城市");
					return;
				}
				if($('#bankBranchName').val()==''){
					alert("请输入银行所属支行");
					return;
				}
				
				reflectBtnAble=false;
				$('#form').submit();
				
			})
		});
		
		function changeBank(ctrl){
			if(ctrl.selectedIndex!=-1){
				var opt = ctrl.options[ctrl.selectedIndex];
				$('#account').val($(opt).attr('accountNo'));
				$('#name').val($(opt).attr('accountName'));
				$('#bankcode').val($(opt).attr('bankName'));
				$('#bankBranchName').val($(opt).attr('bankBranchName'));
				$('#province').val($(opt).attr('province'));
				provinceChange($('#city'),$(opt).attr('city'));
				$(".curProvince").text($('#province option:selected').text());
				$('#bankcode').trigger('change');
				frobiddenchange =( ctrl.selectedIndex != 0 );
				if(frobiddenchange){
					$('#name').attr("readonly","true");
					$('#account').attr("readonly","true");
					$('#province').attr("readonly","true");
					$('#city').attr("readonly","true");
				}
				else{
					$('#name').removeAttr ("readonly");
					$('#account').removeAttr ("readonly");
					$('#province').removeAttr ("readonly");
					$('#city').removeAttr ("readonly");
					
				}
				
			}
		}
		
		function provinceChange(ctrl,cityid){
			//不允许改变
			if(frobiddenchange ){return; }
			var ctlr = ctrl;
			var pid = ctrl.val();
			var divTxt = ctrl.parent().find(".seleted-content");
			var optionTxt = ctrl.find("option:selected");
			divTxt.text(optionTxt.text());
			ctrl.siblings(".select-img").find(".img1").show();
			ctrl.siblings(".select-img").find(".img2").hide();
			$.ajax({
					
				url:"${link.contextPath}/receadd/getAddressByPid",
				type:"POST",
				data:{"pid":pid},
				dataType:"json",
				success:function(ret){
					$("select[name=city]").empty();
					if(!cityid){
						$(".curCity").text(ret[0].name);
					}
					var cityOption = "";
					for(var i=0;i<ret.length;i++){
						if(cityid==ret[i].id){
							$(".curCity").text(ret[i].name);
							cityOption+='<option selected value="'+ret[i].id+'">'+ret[i].name+'</option>'
						}
						else{
							
						cityOption+='<option value="'+ret[i].id+'">'+ret[i].name+'</option>'
						}
					}
					$("select[name=city]").append(cityOption);
					if(cityid){
						$("select[name=city]").val(cityid);
					}
					
				}
				
			});
		}
		
		$(function(){
			$(".selected").click(function(){
				
				if(frobiddenchange &&  (this.id == 'bankcode' || this.id == 'province'  ||this.id == 'city')){
					//不允许改变
					return;
				}
				
				if($(this).siblings(".select-img").find(".img1").is(":visible")){
					$(this).siblings(".select-img").find(".img1").hide();
					$(this).siblings(".select-img").find(".img2").show();
				}else{
					$(this).siblings(".select-img").find(".img1").show();
					$(this).siblings(".select-img").find(".img2").hide();
				}
			});
			$(".select-img").click(function(){
				/*
				if($(this).find(".img1").is(":visible")){
					$(this).find(".img1").hide();
					$(this).find(".img2").show();
				}else{
					$(this).find(".img1").show();
					$(this).find(".img2").hide();
				}
				*/
				
				$(this).parent().find("select").trigger('click');
			});
			$("#userBankId,#bankcode,#city").change(function(){
				var ctlr = $(this);
				if(frobiddenchange &&  (this.id == 'bankcode' || this.id == 'province'  ||this.id == 'city')){
					//不允许改变
					return;
				}
				var divTxt = ctlr.parent().find(".seleted-content");
				var optionTxt = ctlr.find("option:selected");
				divTxt.text(optionTxt.text());
				$(this).siblings(".select-img").find(".img1").show();
				$(this).siblings(".select-img").find(".img2").hide();
			})
			
			//当省份变化的时候 城市和地区也要跟着变化
			$("select[name=province]").change(function(){
				provinceChange($(this));
				
				
			});
		});
	</script>
</head>
<body>
#parse("./common/header.vm")
	<div id="container">
		<div class="header">
			<a href="$link.getContextPath()/user/wealth" class="header-back btn"> <img class="img1"
				src="$link.getContextPath()/images/back_n.png"> <img class="img2"
					src="$link.getContextPath()/images/back_p.png"></a> <span>提现申请</span>
		</div>
		<div class="reflect-area">
			<div class="reflect-title">
				<p>可用提现金额</p>
				<p style="color: #E81959">￥$remainingSum</p>
			</div>
			<div class="reflect-tip">
				<p style="margin-bottom: 10px">《提现协议》</p>
				<p>1.每个月只能体现5次</p>
				<p>2.提现金额不能超过1000元</p>
				<p>3.申请提现后会在多少个工作日内处理</p>
			</div>
		</div>
		<form method="post" id="form" action="$link.getContextPath()/user/applyWithDrawUsingBankcard">
			<div class="reflect-content">
				<p>由于提现的金额达到微信转账的限额,您可以申请提现到银行卡,需要您提供以下信息</p>
				
				<div class="mart10 marl10 marr10">
					<div style="float:left" class="mart10 wid100 mart10">您的银行卡</div>
					
					<div class="area-selected area-selected-YHK">
						<div class="seleted-content wid100 ">添加新银行卡</div>
						<select name="userBankId" id="userBankId" onchange="changeBank(this)" class="selected">
							<option value="">添加新银行卡</option>
							#foreach( $uBank in $userBanks)
								#set($startIndex=$uBank.account_no.length() - 4)
								#set($shortAccountNo=$uBank.account_no.substring($startIndex,$uBank.account_no.length()))
								<option value="${uBank.id}" accountNo="${uBank.account_no}"  accountName="${uBank.account_name}"  bankName="${uBank.bank_name}"  province="${uBank.province}"  city="${uBank.city}"  bankBranchName="${uBank.bank_branch_name}" >${uBank.account_name}&nbsp;${uBank.bank_name}&nbsp;(${shortAccountNo})</option>
							#end
						</select>
						<div class="select-img">
							<img class="img1" src="/images/pull_down.png" style="display: inline;">
							<img class="img2" src="/images/up_down.png" style="display: none;">
						</div>
					</div>
				</div>
					<div style="clear: both;" ></div>
				<div class="mart10 marl10 marr10">
					<div class="wid100 floatl mart10">姓名</div>
					<div class="floatl area-selected-YHK">
						<input type="text" id="name" name="name" value="$!{name}" />
					</div>
				</div>
				<div style="clear: both;" ></div>
				<div class="mart10 marl10 marr10">
					<div class="wid100 floatl mart10">帐号</div>
					<div class="floatl area-selected-YHK">
						<input type="number" id="account" name="account" value="$!{account}" />
					</div>
				</div>
					<div style="clear: both;" ></div>
				<div class="mart10 marl10 marr10">
					<div style="float:left" class="mart10 wid100 mart10">银行名称</div>
					<div class="area-selected area-selected-YHK">
						<div class="seleted-content">请选择银行</div>
						<select name="bankcode" id="bankcode"  class="selected">
							#foreach( $aBank in $allBank)
								<option value="${aBank.bankCode}">$!{aBank.bankName}</option>
							#end
						</select>
						<div class="select-img">
							<img class="img1" src="/images/pull_down.png" style="display: inline;">
							<img class="img2" src="/images/up_down.png" style="display: none;">
						</div>
					</div>
					<div style="clear: both;" ></div>
				</div>
				<div class="mart10 marl10 marr10">
			            <div style="float:left" class="wid100  mart10">银行所在省份</div>
						<div class="select-option area-selected area-selected-YHK">
							<div class="option-text curProvince seleted-content">请选择省份</div>
				            <select name="province"  id="province" class="selected">
				                #foreach($p in $provinces)
									<option value="$p.id" #if($add.provinceID==$p.id)selected="selected"#end>$p.name</option>
								#end
				            </select>
							<div class="option-img select-img">
								<img class="img1" src="${link.contextPath}/images/pull_down.png"/>
								<img class="img2" src="${link.contextPath}/images/up_down.png"/>
							</div>
						</div>
			            <div style="clear: both;" ></div>
			        </div>
			        <div class="mart10 marl10 marr10">
			            <div style="float:left" class="wid100  mart10">银行所在市区</div>
						<div class="select-option area-selected area-selected-YHK">
							<div class="option-text curCity seleted-content">请选择城市</div>
				            <select name="city" id="city" class="selected">
				                #foreach($c in $cities)
									<option value="$c.id" #if($add.cityID==$c.id)selected="selected"#end>$c.name</option>
								#end
				            </select>
							<div class="option-img select-img">
								<img class="img1" src="${link.contextPath}/images/pull_down.png"/>
								<img class="img2" src="${link.contextPath}/images/up_down.png"/>
							</div>
						</div>
			            <div style="clear: both;" ></div>
			        </div>
				<div class="mart10 marl10 marr10">
					<div class="wid100 floatl mart10">银行所属支行 </div>
					<div class="floatl area-selected-YHK">
						<input type="text" id="bankBranchName" name="bankBranchName" value="$!{bankBranchName}" />
					</div>
					<div style="clear: both;" ></div>
				</div>
				<div class="mart10 marl10 marr10">
					<div class=" wid100 floatl mart10">提现金额(￥)</div>
					<div class="floatl area-selected-YHK">
						<input type="tel" id="money" name="money" value="$!{money}" />
					</div>
					<div style="clear: both;" ></div>
				</div>
			</div>
		</form>
		<div class="reflect-footer marb10">
			<a href="javascript:void();" id="reflect-btn">提 现</a>
		</div>
	</div>
</body>
</html>

