<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script type="text/javascript" src="/js/imgLiquid-min.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!-- title -->
    <title>统计管理-订单量</title>
</head>
<body>
    #parse("./common/header.vm") 

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="shop-center.html">店铺中心</a>
                                </li>
                                <li class="sub">
                                    <a href="shop-view.html">店铺浏览</a>
                                </li>
                                <li class="sub">
                                    <a href="/store/setting">店铺设置</a>
                                </li>
                                <li>
                                    <a href="product-management.html">商品管理</a>
                                </li>
                                <li>
                                    <a href="/store/order" class="active">订单管理</a>
                                </li>
                                <li>
                                    <a href="statistical-income.html">统计管理</a>
                                </li>
                                <li>
                                    <a href="magic.html">魔法页面</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content">
                            <div class="title">
                                <a href="javascript:;" class="active all">全部</a>
                                <a href="javascript:;" class="dfk">待付款</a>
                                <a href="javascript:;" class="dfh">待发货</a>
                                <a href="javascript:;" class="dpl">待评价</a>
                                <a href="javascript:;" class="tk">退款</a>
                                <a href="javascript:;" class="th">退货</a>
                            </div>
                            <div class="list-page">
                                <ul class="order-list">
									<div class="order-info-all">
										#foreach($childOrder in $allOrder)
											#if($childOrder.status=='TH')
												<li>
													<div class="detail">
														#foreach($orderProduct in $childOrder.orderProductList)
														<div class="pull-left">
															<a href="javascript:;" class="img">
																<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;"/>
															</a>
															<div class="prod">
																<p>$orderProduct.productName</p>
																<p>
																	<span>价格 ¥$number.format("#0.00",$math.div($orderProduct.skuPrice,100))</span>
																	<span>数量 x${orderProduct.buyNum}</span>
																</p>
																#foreach($skuStr in $orderProduct.skuStrs)
																<p>$skuStr</p>
																#end
															</div>
														</div>
														<div class="pull-right status">
															<span>$!{orderProduct.statuStr}</span>
															
															#if(${orderProduct.statuStr})
																<a class="btn btn-search" href="/store/return-goods-detail-orderproductid?orderProductID=$!{orderProduct.ID}">查看退货详情</a>
															#end
															
														</div>
														
														#end
														
													</div>
												</li>
											#else
												<li>
													<div class="detail">
														#foreach($orderProduct in $childOrder.orderProductList)
														<div class="pull-left">
															<a href="javascript:;" class="img">
																<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;"/>
															</a>
															<div class="prod">
																<p>$orderProduct.productName</p>
																<p>
																	<span>价格 ¥$number.format("#0.00",$math.div($orderProduct.skuPrice,100))</span>
																	<span>数量 x${orderProduct.buyNum}</span>
																</p>
																#foreach($skuStr in $orderProduct.skuStrs)
																<p>$skuStr</p>
																#end
															</div>
														</div>
														#end
														<div class="pull-right status">
															#if($childOrder.status=='COM')
																<span>已完成</span>
															#elseif($childOrder.status=='CAN')
																<span>已取消</span>
															#elseif($childOrder.status=='DFK')
																<span>待付款</span>
															#elseif($childOrder.status=='DFH')
																<span>待发货</span>
															#elseif($childOrder.status=='YFH')
																<span>已发货</span>
															#elseif($childOrder.status=='STK')
																<span>退款审核中</span>
															#elseif($childOrder.status=='TKZ')
																<span>退款中</span>
															#elseif($childOrder.status=='TKB')
																<span>退款审核不通过</span>
															#elseif($childOrder.status=='TKC')
																<span>退款成功</span>
															#elseif($childOrder.status=='TKS')
																<span>退款失败</span>
															#end
															
															#if($childOrder.status=='COM')
																<a class="btn btn-search" href="/store/order-detail-com?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='CAN')
																<a class="btn btn-search" href="/store/order-detail-can?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='DFK')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.parentCode}">查看订单详情</a>
															#elseif($childOrder.status=='DFH')
																<a class="btn btn-search" href="/store/order-detail-dfh?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='YFH')
																<a class="btn btn-search" href="/store/order-detail-yfh?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='STK')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='TKZ')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='TKB')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='TKC')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#elseif($childOrder.status=='TKS')
																<a class="btn btn-search" href="/store/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
															#end
														</div>
													</div>
												</li>
											#end
										#end
									</div>
									<div class="order-info-dfk">
										#foreach($childOrder in $noPayOrder)
										<li>
											<div class="detail">
												#foreach($orderProduct in $childOrder.orderProductList)
												<div class="pull-left">
													<a href="javascript:;" class="img">
														<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;"/>
													</a>
													<div class="prod">
														<p>$orderProduct.productName</p>
														<p>
															<span>价格 ¥$number.format("#0.00",$math.div($orderProduct.skuPrice,100))</span>
															<span>数量 x${orderProduct.buyNum}</span>
														</p>
														#foreach($skuStr in $orderProduct.skuStrs)
															<p>$skuStr</p>
														#end
													</div>
												</div>
												#end
												<div class="pull-right status">
													<span>待付款</span>
													<a class="btn btn-search" href="/order/order-detail?orderCode=${childOrder.orderCode}">查看订单详情</a>
												</div>
											</div>
										</li>
										#end
									</div>
									
									
									<div class="order-info-dfh">
										#foreach($childOrder in $noSendOrder)
											<li>
												<div class="detail">
													#foreach($orderProduct in $childOrder.orderProductList)
														<div class="pull-left">
															<a href="javascript:;" class="img">
																<div class="imgLiquidNotFill" style="width:121px;height:120px;display:inline-block;">
																	<img src="$!qiniu.getDownloadUrl($!{orderProduct.skuImg})" />
																</div>
															</a>
															<div class="prod">
																<p>$!{orderProduct.productName}</p>
																<p>
																	<span>价格 ¥$number.format("#0.00",$math.div($orderProduct.skuPrice,100))</span>
																	<span>数量 x${orderProduct.buyNum}</span>
																</p>
																#foreach($skuStr in $orderProduct.skuStrs)
																	<p>$skuStr</p>
																#end
															</div>
														</div>
													#end
													<div class="pull-right status">
														<span>待发货</span>
														<a href="/store/order-detail-dfh?orderCode=$!{childOrder.orderCode}" class="btn btn-search">查看订单详情</a>
													</div>
												</div>
											</li>
										#end
									</div>
									
									
									<div class="order-info-dpl">
										#foreach($waitForComment in $waitForCommentOrder)
											<li>
												<div class="detail">
													<div class="pull-left">
														<a href="javascript:;" class="img">
															<div class="imgLiquidNotFill" style="width:121px;height:120px;display:inline-block;">
																<img src="$!qiniu.getDownloadUrl($!{waitForComment.skuImg})" />
															</div>
														</a>
														<div class="prod">
															<p>$!{waitForComment.productName}</p>
															<p>
																<span>价格 ¥$number.format("#0.00",$math.div($waitForComment.sellPrice,100))</span>
																<span>数量 x${waitForComment.buyNum}</span>
															</p>
															#foreach($skuStr in $waitForComment.skuStrs)
																	<p>$skuStr</p>
															#end
														</div>
													</div>
													<div class="pull-right status">
														<span>待评价</span>
														<a href="/store/order-detail-dpl?orderID=$!{waitForComment.childOrderID}&orderProductID=$!{waitForComment.orderProductID}" class="btn btn-search">查看订单详情</a>
													</div>
												</div>
											</li>
										#end
										
									</div>
									
									<div class="order-info-tk">
										#foreach($returnMoney in $returnMoneyOrder)
											<li data-id="$returnMoney">
												<div class="detail">
													#foreach($orderProduct in $returnMoney.orderProductList)
														<div class="pull-left">
															<a href="javascript:;" class="img">
																<div class="imgLiquidNotFill" style="width:121px;height:120px;display:inline-block;">
																	<img src="$!qiniu.getDownloadUrl($!{orderProduct.skuImg})" />
																</div>
															</a>
															<div class="prod">
																<p>$!{orderProduct.productName}</p>
																<p>
																	<span>价格 ¥$number.format("#0.00",$math.div($orderProduct.skuPrice,100))</span>
																	<span>数量 x$!{orderProduct.buyNum}</span>
																</p>
																#foreach($skuStr in $orderProduct.skuStrs)
																	<p>$skuStr</p>
																#end
															</div>
														</div>
													#end
													<div class="pull-right status">
														#if(${returnMoney.status}=='STK')
															<span>退款审核中</span>
														#elseif(${returnMoney.status}=='TKB')
															<span>退款审核不通过</span>
														#elseif(${returnMoney.status}=='TKZ')
															<span>退款中</span>
														#elseif(${returnMoney.status}=='TKS')
															<span>退款失败</span>
														#elseif(${returnMoney.status}=='TKC')
															<span>退款成功</span>
														#end
														<a href="/store/order-detail?orderCode=$!{returnMoney.orderCode}" class="btn btn-search">查看订单详情</a>
													</div>
												</div>
											</li>
										#end
										
									</div>
									<div class="order-info-th">
										#foreach($returnGoods in $returnGoodsOrder)
											<li>
												<div class="detail">
													<div class="pull-left">
														<a href="javascript:;" class="img">	
															<div class="imgLiquidNotFill" style="width:121px;height:120px;display:inline-block;">
																<img src="$!qiniu.getDownloadUrl($returnGoods.skuImg)" />
															</div>
														</a>
														<div class="prod">
															<p>$!{returnGoods.productName}</p>
															<p>
																<span>价格 ¥$number.format("#0.00",$math.div($returnGoods.sellPrice,100))</span>
																<span>数量 x$!{returnGoods.buyNum}</span>
															</p>
															#foreach($skuStr in $returnGoods.skuStrs)
																<p>$skuStr</p>
															#end
														</div>
													</div>
													<div class="pull-right status">
														<span>$!{returnGoods.statuStr}</span>
														<a href="/store/return-goods-detail-orderproductid?orderProductID=$!{returnGoods.orderProductID}" class="btn btn-search">查看订单详情</a>
													</div>
												</div>
											</li>
										#end
									</div>
                                </ul>
                            </div>
                        </div>
						#set($allPage=1)
						#set($dfkPage=1)
						#set($dfhPage=1)
						#set($dplPage=1)
						#set($tkPage=1)
						#set($thPage=1)
                        #if($allOrderCount!=0)
							<div class="button-group all">
								#set($total = $allOrderCount)
								#if($tab=='all')
									#set($allPage=$page)
								#end
								#if($allPage>1)<a href="javascript:toPage(#set($prev=$allPage - 1)$prev);" class="prev">上一页</a>#end
								#if($allPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($allPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$allPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($allPage);" class="num active">$allPage</a>
								#foreach($item in [1,2])
									#set($p=$allPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($allPage+3<$total)
									<span>...</span>
								#end
								#if($allPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($allPage<$total)<a href="javascript:toPage(#set($next=$allPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
							
							
						#if($noPayOrderCount!=0)
							<div class="button-group dfk">
								#set($total = $noPayOrderCount)
								#if($tab=='dfk')
									#set($dfkPage=$page)
								#end
								#if($dfkPage>1)<a href="javascript:toPage(#set($prev=$dfkPage - 1)$prev);" class="prev">上一页</a>#end
								#if($dfkPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($dfkPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$dfkPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($dfkPage);" class="num active">$dfkPage</a>
								#foreach($item in [1,2])
									#set($p=$dfkPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($dfkPage+3<$total)
									<span>...</span>
								#end
								#if($dfkPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($dfkPage<$total)<a href="javascript:toPage(#set($next=$dfkPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
						
						#if($noSendOrderCount!=0)
							<div class="button-group dfh">
								#set($total = $noSendOrderCount)
								#if($tab=='dfh')
									#set($dfhPage=$page)
								#end
								#if($dfhPage>1)<a href="javascript:toPage(#set($prev=$dfhPage - 1)$prev);" class="prev">上一页</a>#end
								#if($dfhPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($dfhPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$dfhPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($dfhPage);" class="num active">$dfhPage</a>
								#foreach($item in [1,2])
									#set($p=$dfhPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($dfhPage+3<$total)
									<span>...</span>
								#end
								#if($dfhPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($dfhPage<$total)<a href="javascript:toPage(#set($next=$dfhPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
						
						#if($waitForCommentCount!=0)
							<div class="button-group dpl">
								#set($total = $waitForCommentCount)
								#if($tab=='dpl')
									#set($dplPage=$page)
								#end
								#if($dplPage>1)<a href="javascript:toPage(#set($prev=$dplPage - 1)$prev);" class="prev">上一页</a>#end
								#if($dplPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($dplPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$dplPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($dplPage);" class="num active">$dplPage</a>
								#foreach($item in [1,2])
									#set($p=$dplPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($dplPage+3<$total)
									<span>...</span>
								#end
								#if($dplPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($dplPage<$total)<a href="javascript:toPage(#set($next=$dplPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
						
						#if($returnMoneyCount!=0)
							<div class="button-group tk">
								#set($total = $returnMoneyCount)
								#if($tab=='tk')
									#set($tkPage=$page)
								#end
								#if($tkPage>1)<a href="javascript:toPage(#set($prev=$tkPage - 1)$prev);" class="prev">上一页</a>#end
								#if($tkPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($tkPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$tkPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($tkPage);" class="num active">$tkPage</a>
								#foreach($item in [1,2])
									#set($p=$tkPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($tkPage+3<$total)
									<span>...</span>
								#end
								#if($tkPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($tkPage<$total)<a href="javascript:toPage(#set($next=$tkPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
						
						
						
						#if($returnGoodsCount!=0)
							<div class="button-group th">
								#set($total = $returnGoodsCount)
								#if($tab=='th')
									#set($thPage=$page)
								#end
								#if($thPage>1)<a href="javascript:toPage(#set($prev=$thPage - 1)$prev);" class="prev">上一页</a>#end
								#if($thPage>1)<a href="javascript:toPage(1);" class="num">1</a>#end
								#if($thPage - 3>1)
									<span>...</span>
								#end
								#foreach($item in [2,1])
								#set($p=$thPage - $item)
									#if($p>1)
										<a href="javascript:toPage($p);" class="num">$p</a>
									#end
								#end
								<a href="javascript:toPage($thPage);" class="num active">$thPage</a>
								#foreach($item in [1,2])
									#set($p=$thPage + $item)
									#if($p<$total)
									<a href="javascript:toPage($p);" class="num">$p</a>
									#else
										#break
									#end
								#end
								#if($thPage+3<$total)
									<span>...</span>
								#end
								#if($thPage<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
								#if($thPage<$total)<a href="javascript:toPage(#set($next=$thPage+1)$next);" class="prev">下一页</a>#end
							</div>
						#end
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全${page}</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script type="text/javascript">
		var curTab = "all";
		$(function(){
			
			
			
			$(".imgLiquidNotFill").imgLiquid({
				fill: false,
				horizontalAlign: "center",
				verticalAlign: "center"
			});
			
			$(".button-group").hide();
			//console.log("$!{tab}");
			$(".$!{tab}").show();
		
			
		
			$(".title a").click(function(){
				$(".title a").removeClass("active");
				$(this).addClass("active");
			});
			
			$("[class^='order-info']").hide();
			$(".order-info-$!{tab}").show();
			
			chooseTab("$!{tab}");
			
			$(".all").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-all").show();
				curTab = "all";
				
				$(".button-group").hide();
				$(".all").show();
				
			});
			$(".dfk").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-dfk").show();
				curTab = "dfk";
				
				$(".button-group").hide();
				$(".dfk").show();
				
			});
			$(".dfh").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-dfh").show();
				curTab = "dfh";
				
				$(".button-group").hide();
				$(".dfh").show();
				
			});
			$(".dpl").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-dpl").show();
				curTab = "dpl";
				
				$(".button-group").hide();
				$(".dpl").show();
				
			});
			$(".tk").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-tk").show();
				curTab = "tk";
				
				$(".button-group").hide();
				$(".tk").show();
				
				
			});
			$(".th").click(function(){
				
				$("[class^='order-info']").hide();
				$(".order-info-th").show();
				curTab = "th";
				
				$(".button-group").hide();
				$(".th").show();
				
			});
			
			
		});
		
		function chooseTab(tab){
			$("."+tab).trigger("click");
		}
		
		function toPage(i){
			location.href="/store/order?page="+i+"&tab="+curTab;
		}
		
	</script>
</body>
</html>