<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品列表</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/index.css" type="text/css" />
<script type="text/javascript" src="$link.getContextPath()/js/imgLiquid-min.js"></script>
</head>
<style>
.header{width:100%;height:50px;background:url("${link.contextPath}/images/classfiy/title_bar.png");text-align: center;}
.header-back{width:25px;height:25px;display:block;float:left;text-align: center;line-height: 25px;margin:12px;}
.header-back img{width:100%;height:100%;}
.header span{text-align: center;font-size:18px;color:#fff;line-height: 50px;position:relative;left:-20px;}
.right-btn{width:25px;height:25px;display:block;float:right;text-align: center;line-height: 25px;margin:12px;position:absolute;right:0px;top:0px;}
.right-btn img{width:100%;height:100%;}
</style>
#parse("./common/header.vm")
<script>
$(function(){
	share_link=location.href;
	share_title = "$categorys.className - $categorys.className2";
	share_desc = "多款“$categorys.className”相关商品任您来挑！";
	share_imgUrl="$categorys.classNameImg";
	
	$(".imgLiquidNotFill").imgLiquid({
		fill: false,
		horizontalAlign: "center",
		verticalAlign: "center"
	});
	
	$(".btn").click(function(){
		var text = $(".search-text");
		if($(this).find(".img1").is(":visible")){
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		}else{
			$(this).find(".img2").hide();
			$(this).find(".img1").show();
		}
 	});
	
	$('#container').css('height',$(document).height()+20);
	
	var order={
		orderProperty:'createTime',
		orderDirection:'desc',
		bind:function(){
			$('#sort1').click(function(){
				$(".sort-2").removeClass("color");
				$(this).addClass("color");
				$(".up > .img2").hide();
				$(".up > .img1").show();
				$(".down > .img1").show();
				$(".down > .img2").hide();
				order.change('createTime','desc');
			});
			$('#sort2').click(function(){
				$(this).addClass("color");
				if($(".sort-1").hasClass("color")){
					$(".sort-1").removeClass("color");
					$(".up > .img2").show();
					$(".up > .img1").hide();
					$(".down > .img1").show();
					$(".down > .img2").hide();
				}else{
					if($(this).find(".up > .img2").is(":visible")){
						$(".up > .img2").hide();
						$(".up > .img1").show();
						$(".down > .img1").hide();
						$(".down > .img2").show();
					}else{
						$(".up > .img2").show();
						$(".up > .img1").hide();
						$(".down > .img1").show();
						$(".down > .img2").hide();
					}
				}
				if(order.orderProperty!='price'||order.orderDirection=='desc'){
					order.change('price','asc');
				}else{
					order.change('price','desc');
				}
			});
		},
		change:function(orderProperty,orderDirection){
			if(orderProperty!=this.orderProperty||orderDirection!=this.orderDirection){
				this.orderProperty=orderProperty;
				this.orderDirection=orderDirection;
				scrollData.target.html('');
				scrollData.currentPage=0;
				scrollData.nextPage();
			}
		}
	}
	order.bind();
	
	$(window).scroll(function(){
		var scrollTop = $(this).scrollTop();
	　　  var scrollHeight = $(document).height();
	　　  var windowHeight = $(this).height();
	　　  if(scrollTop + windowHeight == scrollHeight){
		  	scrollData.nextPage();
		}
	});
	var scrollData={
			target:$('#main'),
			currentPage:0,
			pageSize:14,
			append:function(str){
				this.target.append(str);
			},
			nextPage:function(){
				this.currentPage++;
				$.ajax({ 
					url: '$link.getContextPath()/product/query/category/$categoryId',
					data:{
						orderProperty:order.orderProperty,
						orderDirection:order.orderDirection,
						page:this.currentPage,
						pageSize:this.pageSize
					},
					type:"post",
					success: function(data){
						var htmlStr='';
						for(var i=0;i<data.length;i++){
							if(i%2==0){
								htmlStr+='<div class="product">\
						 					<div class="product-1">\
						 							<a href="$link.getContextPath()/product/product_detail?productID='+data[i].ID+'">\
					                			<div class="product-img imgLiquidNotFill">\
						 								<img src="'+data[i].imgPath+'">\
						 						</div>\
						 							</a>\
					              		 		<div class="product-price">\
													<span>'+data[i].productName+'</span>\
													<div class="price-footer">\
														<div class="price-1">￥'+data[i].price/100+'</div>\
													</div>\
												</div>\
					       					</div>';
					       		if(i==data.length-1){
					       			htmlStr+='</div>';
					       		}
							}else{
								htmlStr+='<div class="product-2">\
											<div class="product-img imgLiquidNotFill">\
												<a href="$link.getContextPath()/product/product_detail?productID='+data[i].ID+'">\
														<img src="'+data[i].imgPath+'">\
												</a>\
											</div>\
					                		<div class="product-price">\
					                			<span>'+data[i].productName+'</span>\
												<div class="price-footer">\
													<div class="price-1">￥'+data[i].price/100+'</div>\
												</div>\
											</div>\
										</div>\
					       			</div>';
							}
						}
						
						if(data.length==0){
							$('#tip').css('display','block');
							$('#tip2').css('display','none');
						}else{
							$('#tip').css('display','none');
							$('#tip2').css('display','block');
						}
						scrollData.append(htmlStr);
						$(".imgLiquidNotFill").imgLiquid({
							fill: false,
							horizontalAlign: "center",
							verticalAlign: "center"
						});
					}
				});
			}
	}
	scrollData.nextPage();
})
</script>
<body>
<div id="container">
    <div class="header">
        <a href="${link.contextPath}/productCategory/index" class="header-back">
			<img class="img1" src="${link.contextPath}/images/classfiy/back_n.png">
			<img class="img2" src="${link.contextPath}/images/classfiy/back_p.png">
		</a>
        <span style="position:relative;left:1px;display:block;overflow:hidden;white-space:nowrap;margin:0px 49px 0px 49px;">【$categorys.className - $categorys.className2】</span>
		<a href="${link.contextPath}/product/search-index" class="btn right-btn" id="edit">
			<img src="${link.contextPath}/images/classfiy/search_n.png" />
			<img src="${link.contextPath}/images/classfiy/search_p.png" style="display:none" />
		</a>
    </div>
	<div class="success-search">
       <div class="success-1"><a href="javascript:void(0);" id="sort1" class="sort-1 color">新品优先</a></div>
       <div class="success-2">
			<a href="javascript:void(0);" id="sort2" class="sort-2">
				价格排序
				<span class="up">
					<img class="img1" src="${link.contextPath}/images/img/up_n.png" />
					<img class="img2" src="${link.contextPath}/images/img/up_p.png" style="display:none"/>
				</span>
				<span class="down">
					<img class="img1" src="${link.contextPath}/images/img/down_n.png" />
					<img class="img2" src="${link.contextPath}/images/img/down_p.png" style="display:none;" />
				</span>
			</a>
	   </div>
    </div>
    <div id="main" class="share-product">
    </div>
    <div style="clear:both;"></div>
    <div id='tip' style="display:none;"><p style="text-align:center;color:#666;font-size:14px;">没有更多了~</p></div>
    <div id='tip2' style="display:none;"><p style="text-align:center;color:#666;font-size:14px;">继续拖动，查看更多</p></div>
</div>
</body>

</html>
 
