<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script type="text/javascript" src="/js/imgLiquid-min.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!-- title -->
    <title>商品详情-介绍页</title>
	<style>
		.imgLiquidNotFill{
			display:inline-block;
			width:100px;
		}
	</style>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="link.html">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- product-bar -->
    <section class="product-bar">
       <div class="prod-detail">
           <div class="container">
			<input type="hidden" class="status" value="$!{status}"/>
			<input type="hidden" class="productID" value="$productID"/>
			<input type="hidden" class="skuID" value="${productVo.skus[0].ID}"/>
               <div class="row">
                   <div class="col-md-5">
                       <div class="prod-image">
                           <a href="javascript:;">
                               <img src="$!qiniu.getDownloadUrl($productImgList[0])" />
                           </a>
                       </div>
                       <div class="prod-silder">
                           <ul class="silder-list jq-slider">
								#foreach($productImg in $productImgList)
									
									<li #if($velocityCount==1) class="active" #end>
									   <a href="javascript:;">
										   <img src="$qiniu.getDownloadUrl($productImg)" />
									   </a>
									</li>
								#end
                           </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="prod-name">
                           <p>$!{productVo.product.productName}</p>
                        </div>
                        <div class="prod-price">
                           <p class="price">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：<span>￥$!number.format("#0.00",$math.div($!{productVo.product.price},100))</span></p>
                           <p>$!{productVo.freightStr}</p>
                        </div>
                        <div class="prod-total">
                           <p class="fl">已售<span class="number">$!{productVo.product.sellCount}</span></p>
                           <p class="fr">累计评价<span class="number">$!{productVo.commentCount}</span></p>
                        </div>
						
						#foreach($attrItem in $attrItems)
                        <div class="prod-size"  data-attrid="$attrItem.attrID">
                            <p>$!attrItem.attrName：</p>
                            <p class="choosen jq-choosen">
                                #foreach($attrValue in $attrItem.attrValues)
									<span data-valueid="$attrValue[0]">$!attrValue[1]</span>
								#end
                            </p>
                        </div>
						#end
                        <div class="prod-number">
                            <p>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</p>
                            <p class="change">
                                <input type="type" class="form-control num jq-prodNum" value="1" />
                                <a href="javascritp:;" class="prod-add jq-prodAdd">+</a>
                                <a href="javascritp:;" class="prod-sub jq-prodSub">-</a>
                            </p>
                            <span class="store">（库存：$!{productStock}件）</span>
                        </div>
                        <div class="prod-operate">
                            <a href="javascript:;" class="prod-love">
                                <i class="icon-love"></i>收藏
                            </a>
                            <a href="javascript:;" class="prod-addToCart">加入购物车</a>
                            <a href="javascript:;" class="prod-buyNow">立即购买</a>
                        </div>
                    </div>
                </div>
           </div>
       </div>
    </section>
    
    <!-- main -->
    <section class="main">
        <div class="list prod-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="slide-area">
                                <li>
                                    <a href="javascript:;">
                                        <img src="/images/product/prod-06.png">
                                    </a>
                                    <p class="name">
                                        <a href="javascript:;">AMII 0942纯色圆领长袖基础短款和法方大码...</a>
                                    </p>
                                    <p class="price">¥25.00</p>
                                    <p>三只小猪供货商</p>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="/images/product/prod-06.png">
                                    </a>
                                    <p class="name">
                                        <a href="javascript:;">AMII 0942纯色圆领长袖基础短款和法方大码...</a>
                                    </p>
                                    <p class="price">¥25.00</p>
                                    <p>三只小猪供货商</p>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <img src="/images/product/prod-06.png">
                                    </a>
                                    <p class="name">
                                        <a href="javascript:;">AMII 0942纯色圆领长袖基础短款和法方大码...</a>
                                    </p>
                                    <p class="price">¥25.00</p>
                                    <p>三只小猪供货商</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="head">
                            <a href="javascript:;" class="active product-intro">商品介绍</a>
                            <a href="javascript:;" class="product-comment">商品评价(<span>$!{productVo.commentCount}</span>)</a>
                        </div>
						<div class="assessment" style="display:none;">
                            <div class="top">
                                <div class="col-sm-4">
                                    <p>97%</p>
                                    <p>好评度</p>
                                </div>
                                <div class="col-sm-8">
                                    <p>
                                        <span>描述相符</span>
                                        <span class="start-level">
                                            <a href="javascript:;" class="start #if(${commentStatistics.descConform}>0) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.descConform}>100) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.descConform}>200) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.descConform}>300) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.descConform}>400) active #end"></a>
                                        </span>
                                    </p>
                                    <p>
                                        <span>卖家服务</span>
                                        <span class="start-level">
                                            <a href="javascript:;" class="start #if(${commentStatistics.service}>0) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.service}>100) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.service}>200) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.service}>300) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.service}>400) active #end"></a>
                                        </span>
                                    </p>
                                    <p>
                                        <span>物流速度</span>
                                        <span class="start-level">
                                            <a href="javascript:;" class="start #if(${commentStatistics.speed}>0) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.speed}>100) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.speed}>200) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.speed}>300) active #end"></a>
                                            <a href="javascript:;" class="start #if(${commentStatistics.speed}>400) active #end"></a>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom">
                                <label>
                                    <input type="radio" name="hasImage" class="image-all" checked="true">全部
                                </label>
                                <label>
                                    <input type="radio" name="hasImage" class="image-has" >有图($!{hasImageCount})
                                </label>
                            </div>
                        </div>
						<div class="content comment" style="display:none;">
								<ul class="assessment-list">
									#foreach($commentVo in $commentVoListAll)
										<li class="all-li">
											<div class="assessment-category">
												<div class="col-sm-3">
													<span class="start-level">
														#set($leftCount = $math.sub(5,$commentVo.comment.service))
														#foreach($count in [1..$commentVo.comment.service])
															<a href="javascript:;" class="start active"></a>
														#end
														#foreach($count in [1..$leftCount])
															<a href="javascript:;" class="start"></a>
														#end
													</span>
													<p>$date.format("yyyy-MM-dd",$commentVo.comment.createTime)</p>
													<p>#foreach($skuStr in $commentVo.skuStrs) $skuStr &nbsp; #end</p>
												</div>
												<div class="col-sm-6">
													<p>$!{commentVo.comment.commentDesc}</p>
													<p class="photo">
														#foreach($img in ${commentVo.comment.imgs})
														<div class="imgLiquidNotFill" style="height:77px;">
															<a href="javascript:;">
															   <img src="$qiniu.getDownloadUrl($img.imgPath)">
															</a>
														</div>
														#end
														<div class="imgLiquidNotFill" style="height:77px;">
															<img src="/images/5727171351132061766.jpg">
														</div>
													</p>
												</div>
												<div class="col-sm-3">
													<p>
														<a href="javascript:;">
															<img src="$!{commentVo.userHeadImg}">
														</a>
													</p>
													<p class="name">$!{commentVo.userName}</p>
												</div>
											</div>
										</li>
									#end
									
									#foreach($commentVo in $commentVoListHasImage)
										<li class="hasImage-li" style="display:none;">
											<div class="assessment-category">
												<div class="col-sm-3">
													<span class="start-level">
														#set($leftCount = $math.sub(5,$commentVo.comment.service))
														#foreach($count in [1..$commentVo.comment.service])
															<a href="javascript:;" class="start active"></a>
														#end
														#foreach($count in [1..$leftCount])
															<a href="javascript:;" class="start"></a>
														#end
													</span>
													<p>$date.format("yyyy-MM-dd",$commentVo.comment.createTime)</p>
													<p>#foreach($skuStr in $commentVo.skuStrs) $skuStr &nbsp; #end</p>
												</div>
												<div class="col-sm-6">
													<p>$!{commentVo.comment.commentDesc}</p>
													<p class="photo">
														#foreach($img in ${commentVo.comment.imgs})
														<div class="imgLiquidNotFill" style="height:77px;">
															<a href="javascript:;">
															   <img src="$qiniu.getDownloadUrl($img.imgPath)">
															</a>
														</div>
														#end
													</p>
												</div>
												<div class="col-sm-3">
													<p>
														<a href="javascript:;">
															<img src="$!{commentVo.userHeadImg}">
														</a>
													</p>
													<p class="name">$!{commentVo.userName}</p>
												</div>
											</div>
										</li>
									#end
									
								</ul>
						</div>
                        <div class="content product-detail">
                            $!{productVo.productDetail}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script type="text/javascript">
		$(function(){
			$(".product-intro").click(function(){
				$(".product-comment").removeClass("active");
				$(this).addClass("active");
				$(".assessment").hide();
				$(".comment").hide();
				$(".product-detail").show();
			});
			
			$(".product-comment").click(function(){
				$(".product-intro").removeClass("active");
				$(this).addClass("active");
				$(".product-detail").hide();
				$(".assessment").show();
				$(".comment").show();
			});
			
			$("input[name=hasImage]").click(function(){
				if($(this).hasClass("image-all")){
					$(".hasImage-li").hide();
					$(".all-li").show();
				}else{
					$(".all-li").hide();
					$(".hasImage-li").show();
				}
			});
			
			$(".prod-size").each(function(){
				$(this).find(".choosen span:eq(0)").addClass("active");
				
			});
			$(".choosen span").click(function(){
				var prod_size = $(this).closest(".prod-size");
				prod_size.find("span").removeClass("active");
				$(this).addClass("active");
				
				var productID = $(".productID").val();
				var param = "productID="+productID;
				
				$(".prod-size").each(function(){
					var attrID = $(this).data("attrid");
					var valueID = $(this).find(".active").data("valueid");
					param+="&attrs="+attrID+"&values="+valueID;
				});
				
				$.ajax({
					url:"${link.contextPath}/product/querySku?"+param,
					type:"POST",
					dataType:"JSON",
					success:function(ret){
						
						if(ret.errcode==0){
							
							$(".store").text("（库存："+ret.skuStock+"件）");
							
							$(".skuID").val(ret.skuID);
							
						}else{
							$(".store").text("（库存：0件）");
						}
					}
					
				});
				
				
			});
			
			$(".prod-add").click(function(){
				var num = parseInt($(".num").val());
				$(".num").val(num+1);
			});
			
			$(".prod-sub").click(function(){
				var num = parseInt($(".num").val());
				if(num==1){
					return;
				}
				$(".num").val(num-1);
			});
			
			var productID = $(".productID").val();
			var param = "productID="+productID;
			
			$(".prod-size").each(function(){
				param+="&attrs="+$(this).data("attrid")+"&values="+$(this).find("span:eq(0)").data("valueid");
			});
			
			$.ajax({
				url:"${link.contextPath}/product/querySku?"+param,
				type:"POST",
				dataType:"JSON",
				success:function(ret){
					if(ret.errcode==0){
						var numPattern = new RegExp("[0-9]+");
						
						$(".store").text("（库存："+ret.skuStock+"件）");
						
						$(".skuID").val(ret.skuID);
						//curSkuStock = ret.skuStock;
					}else{
						$(".store").text("（库存：0件）");
					}
				}
				
			});	

			//加入购物车
			$(".prod-addToCart").click(function(){
				
				if($(".status").val()!='UP#'){
					alert("该商品已下架");
					return;
				}
				
				var productID = $(".productID").val();
				var buyNum = $(".num").val();
				
				$.ajax({
					
					url:"/shop_car/add_to_shopcar",
					type:"POST",
					dataType:"JSON",
					data:{"productID":productID,"skuID":$(".skuID").val(),"buyNum":buyNum},
					success:function(ret){
						if(ret && ret.errcode==0){
							alert("添加成功");
						}else if(ret && ret.errcode && ret.errcode!=0){
							alert(ret.msg);
						}else{
							alert("网络异常");
						}
						
					}
					
				});
				
				
				
				
			});
			
			$(".prod-buyNow").click(function(){
				
				if($(".status").val()!='UP#'){
					alert("该商品已下架无法进行购买");
					return;
				}
				
				var buyNum = $(".num").val();
				
				$.ajax({
					url:"${link.contextPath}/product/check-limit",
					type:"POST",
					data:{"skuIds":$(".skuID").val(),"buyNums":buyNum},
					dataType:"json",
					success:function(ret){
						if(ret && ret.errcode==0){
							var params = [];
							params.push($("<input>",{name:"mode",value:"buyNow"}))
							params.push($("<input>",{name:"skuIds",value:$(".skuID").val()}));
							params.push($("<input>",{name:"buyNums",value:buyNum}));
							
							$('<form>', {  
								method: 'post',
								action: '${link.contextPath}/order/previewOrder'
							}).append(params).submit();
						}else if(ret && ret.errcode && ret.errcode==10000){
							alert("商品超出限购数量,无法进行购买");
						}else{
							alert("网络异常,请稍后重试");
						}
					}
				})
				

			});
			
			$(".imgLiquidNotFill").imgLiquid({
				fill: false,
				horizontalAlign: "center",
				verticalAlign: "center"
			});
			
			
			
		});
	</script>
</body>
</html>    