<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索商品</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/index.css" type="text/css" />
<script type="text/javascript" src="$link.getContextPath()/js/imgLiquid-min.js"></script>
</head>
<body>
#parse("./common/header.vm") 
<div id="container">
    <div class="header">
		<a href="javascript:history.go(-1);"><div class="header-0">
			<div class="back">
				<div class="back-1">
					<img class="img1" src="${link.contextPath}/images/classfiy/back_n.png" />
					<img class="img2" src="${link.contextPath}/images/classfiy/back_p.png" />
				</div>
			</div>
		</div></a>
		<form id="searchForm" action="${link.contextPath}/product/search?startIndex=0&pageSize=8" method="POST">
		<input type="hidden" name="orderBy" value="asc"/>
		<div class="header-2">	
			<input type="text" class="search-text" placeholder="输入关键字" name="keyWord" value="$!{keyWord}"/>
		</div>
		</form>
		<a href="javascript:" class="btn" ><div class="header-3">
			<img src="${link.contextPath}/images/classfiy/search_n.png" />
			<img src="${link.contextPath}/images/classfiy/search_p.png" style="display:none" />
		</div></a>
    </div>
	<div class="success-search">
       <div class="success-1"><a href="javascript:" class="sort-1">新品优先</a></div>
       <div class="success-2">
			<a href="javascript:" class="sort-2">
				价格排序
				<span class="up">
					<img class="img1" src="${link.contextPath}/images/img/up_n.png" style="display:none;"/>
					<img class="img2" src="${link.contextPath}/images/img/up_p.png" style="display:block"/>
				</span>
				<span class="down">
					<img class="img1" src="${link.contextPath}/images/img/down_n.png" />
					<img class="img2" src="${link.contextPath}/images/img/down_p.png" style="display:none;" />
				</span>
			</a>
	   </div>
    </div>
    <div class="share-product">
    	#set($index = 0)
    	#foreach($product in $productList)
    		#if($index % 2 == 0)
    		<div class="product">
	            <div class="product-1">
	                <div class="product-img imgLiquidNotFill">
	                	<a href="${link.contextPath}/product/product_detail?productID=$product.ID"><img src="$qiniu.getDownloadUrl($!{product.imgPath})"></a>
	                </div>
	                <div class="product-price">
						<span>$!{product.productName}</span>
						<div class="price-footer">
							<div class="price-1">￥$!number.format("#0.00",$math.div($product.price,100))</div>
						</div>
					</div>
	            </div>
            #else
            	<div class="product-2">
                	<div class="product-img imgLiquidNotFill">
                		<a href="${link.contextPath}/product/product_detail?productID=$product.ID">
                			<img src="$qiniu.getDownloadUrl($!{product.imgPath})">
                		</a>
                	</div>
                	<div class="product-price">
						<span>$!{product.productName}</span>
						<div class="price-footer">
							<div class="price-1">￥$!number.format("#0.00",$math.div($product.price,100))</div>
						</div>
					</div>
            	</div>
            </div>
            #end
            #set($index=$index+1)
    	#end
        
    </div>
</div>
</body>
<script type="text/javascript">
	$(function(){
		
		var isBottom = false;
		var startIndex = 8;
		var keyWord = "";
		
		$(".imgLiquidNotFill").imgLiquid({
	        fill: false,
	        horizontalAlign: "center",
	        verticalAlign: "center"
	    });
		
		$(window).scroll(function(){
			   var scrollTop = $(this).scrollTop();
			　　  var scrollHeight = $(document).height();
			　　  var windowHeight = $(this).height();
			   var orderBy = $("input[name=orderBy]").val();
			   console.log("orderBy: "+orderBy);
			　　  if(scrollTop + windowHeight == scrollHeight){
				  
				  keyWord = $(".search-text").val();
				  /* if(!keyWord||keyWord.trim()==""){
					  alert("请输入合法的参数");
					  return;
				  } */
				  
				  if(!isBottom){
					  $.ajax({
						  url:"${link.contextPath}/product/ajaxSearch",
						  type:"POST",
						  data:"startIndex="+startIndex+"&pageSize=8&orderBy="+orderBy+"&keyWord="+keyWord,
						  dataType:"json",
						  success:function(ret){
							  console.log(ret);
							  if(ret.length==8){
								  startIndex+=8;
							  }else{
								  isBottom = true;
							  }
							  
							  for(var i=0;i<ret.length;i++){
								  
								  if(i%2!=0){
									  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i-1].ID+'"><img src="'+ret[i-1].imgPath+'"></a></div><div class="product-price"><span>'+ret[i-1].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i-1].price/100).toFixed(2))+'</div></div></div></div><div class="product-2"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
								  }else{
									  if(i==ret.length-1){
										  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
									  }
								  }
								  
							  }
							  $(".imgLiquidNotFill").imgLiquid({
						          fill: false,
						          horizontalAlign: "center",
						          verticalAlign: "center"
						      });
							  
							  
						  }
					  });
				  }
			   }
		});
		
		$(".search-text").focus(function(){
			window.location.href="${link.contextPath}/product/search-index";
		});
		$(".btn").click(function(){
			window.location.href="${link.contextPath}/product/search-index";
			var text = $(".search-text");
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img2").hide();
				$(this).find(".img1").show();
			}
			if(text.val()==""){
				alert("搜索参数不能为空");
			}else{
				$("#searchForm").submit();
			}
	  });
	  
	  //排序
	  $(".sort-1").click(function(){
		    isBottom = false;
		    keyWord = $(".search-text").val();
		  	/* if(!keyWord||keyWord.trim()==""){
			 	 alert("请输入合法的参数");
			 	 return;
		  	} */
			if($(this).hasClass("color")){
				$(this).removeClass("color");
			}else{
				$(this).addClass("color");
				$(".up > .img2").hide();
				$(".up > .img1").show();
				$(".down > .img1").show();
				$(".down > .img2").hide();
				
				$.ajax({
					url:"${link.contextPath}/product/ajaxSearch",
				  	type:"POST",
				  	data:"startIndex=0&pageSize=8&orderBy=createTime&keyWord="+keyWord,
				  	dataType:"json",
				  	success:function(ret){
				  		$("input[name=orderBy]").val("createTime");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  if(i%2!=0){
								  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i-1].ID+'"><img src="'+ret[i-1].imgPath+'"></a></div><div class="product-price"><span>'+ret[i-1].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i-1].price/100).toFixed(2))+'</div></div></div></div><div class="product-2"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
							  }else{
								  if(i==ret.length-1){
									  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
								  }
							  }
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
					        fill: false,
					        horizontalAlign: "center",
					        verticalAlign: "center"
					    });
				  	}
				});
				
			}
		});

		$(".sort-2").click(function(){
			isBottom = false;
		    keyWord = $(".search-text").val();
		  	/* if(!keyWord||keyWord.trim()==""){
			 	 alert("请输入合法的参数");
			 	 return;
		  	} */
			if($(".sort-1").hasClass("color")){
				$(".sort-1").removeClass("color");
			}
			if($(this).find(".up > .img2").is(":visible")){//此时 从小到大排的箭头是亮的  所以 要改成 另一个箭头亮  即从大到小排序
				$.ajax({
				  	url:"${link.contextPath}/product/ajaxSearch",
				  	type:"POST",
				  	data:"startIndex=0&pageSize=8&orderBy=desc&keyWord="+keyWord,
				  	dataType:"json",
				  	success:function(ret){
				  		$("input[name=orderBy]").val("desc");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  if(i%2!=0){
								  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i-1].ID+'"><img src="'+ret[i-1].imgPath+'"></a></div><div class="product-price"><span>'+ret[i-1].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i-1].price/100).toFixed(2))+'</div></div></div></div><div class="product-2"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
							  }else{
								  if(i==ret.length-1){
									  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
								  }
							  }
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
					        fill: false,
					        horizontalAlign: "center",
					        verticalAlign: "center"
					    });
				  	}
				});
				$(".up > .img2").hide();
				$(".up > .img1").show();
				$(".down > .img1").hide();
				$(".down > .img2").show();
			}else{
				$.ajax({
				  	url:"${link.contextPath}/product/ajaxSearch",
				  	type:"POST",
				  	data:"startIndex=0&pageSize=8&orderBy=asc&keyWord="+keyWord,
				  	dataType:"json",
				  	success:function(ret){
				  		$("input[name=orderBy]").val("asc");
				  		$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  if(i%2!=0){
								  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i-1].ID+'"><img src="'+ret[i-1].imgPath+'"></a></div><div class="product-price"><span>'+ret[i-1].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i-1].price/100).toFixed(2))+'</div></div></div></div><div class="product-2"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
							  }else{
								  if(i==ret.length-1){
									  $(".share-product").append('<div class="product"><div class="product-1"><div class="product-img imgLiquidNotFill"><a href="${link.contextPath}/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'"></a></div><div class="product-price"><span>'+ret[i].productName+'</span><div class="price-footer"><div class="price-1">￥'+((ret[i].price/100).toFixed(2))+'</div></div></div></div></div>');
								  }
							  }
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
					        fill: false,
					        horizontalAlign: "center",
					        verticalAlign: "center"
					    });
				  	}
				});
				$(".up > .img2").show();
				$(".up > .img1").hide();
				$(".down > .img1").show();
				$(".down > .img2").hide();
			}
		});
		//分类
		$(".select").click(function(){
				if($(this).find(".flag").is(":visible")){
					$(this).find(".flag").hide();
					$(this).removeClass("bg");
				}else{
					$(".select").removeClass("bg");
					$(".select").find(".flag").hide();
					$(this).find(".flag").show();
					$(this).addClass("bg");
				}
		})
		$(".select-2").click(function(){
			if($(this).find(".bg2").hasClass("bg2")){
				$(this).removeClass("bg2");
			}else{
				$(".select-2").removeClass("bg2");
				$(this).addClass("bg2");
			}
		})
		
		
	});
</script>
</html>
