<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script type="text/javascript" src="/js/imgLiquid-min.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>商品搜索</title>
	<style>
		.imgLiquidNotFill{
			display:inline-block;
			width:246px;
		}
		.imgLiquidNotFill2{
			display:inline-block;
			width:165px;
		}
		.name{
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}
	</style>
</head>
<body>
    #parse("./common/header.vm") 

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="head">
                            <a href="javascript:;">推广商品</a>
                        </div>
                        <div class="content">
                            <ul class="slide-area">
								#foreach($product in $promoteList)
									<li>
										<div class="imgLiquidNotFill2" style="height:248px;">
											<a href="/product/product_detail?productID=$!{product.ID}">
												<img src="$!qiniu.getDownloadUrl($!{product.imgPath})" />
											</a>
										</div>
									</li>
								#end
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="head">
                            <ul class="fl">
                                <li>
                                   <a href="javascript:;" class="hotsell red">热销</a>
                                </li>
                                <li>
                                   <a href="javascript:;" class="newest">新品</a>
                                </li> 
                                <li>
                                   <a href="javascript:;" class="price">价格</a>
                                </li> 
                                <li>
                                   <a href="javascript:;">
                                       <i class="icon-adjust"></i>
                                   </a>
                                </li>  
                            </ul>
                            <div class="fr">
                                <a href="javascript:;" class="prev">
                                    <i class="glyphicon glyphicon-menu-left"></i>
                                </a>
                                <a href="javascript:;" class="page">
                                    <span>1/</span>3
                                </a>    
                                <a href="javascript:;" class="next">
                                    <i class="glyphicon glyphicon-menu-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content share-product">
							#foreach($product in $productList)
								<div class="item">
									<div class="imgLiquidNotFill" style="height:280px;">
										<a href="javascript:;">
											<img src="$!qiniu.getDownloadUrl($!product.imgPath)" />
										</a>
									</div>
									<p class="price">¥$!number.format("#0.00",$!math.div($!{product.price},100))</p>
									<p class="name">
										<a href="javascript:;">$!{product.productName}</a>
									</p>
									<p>$!{product.sellCount}人购买</p>
								</div>
							#end
                        </div>
                        <div class="button-group">
							#set($total = $pageCount)
							#set($page=1)
							#if($page>1)<a href="javascript:toPage(#set($prev=$page - 1)$prev);" class="prev">上一页</a>#end
							#if($page>1)<a href="javascript:toPage(1);" class="num">1</a>#end
							#if($page - 3>1)
								<span>...</span>
							#end
							#foreach($item in [2,1])
							#set($p=$page - $item)
								#if($p>1)
									<a href="javascript:toPage($p);" class="num">$p</a>
								#end
							#end
							<a href="javascript:toPage($page);" class="num active">$page</a>
							#foreach($item in [1,2])
								#set($p=$page + $item)
								#if($p<$total)
								<a href="javascript:toPage($p);" class="num">$p</a>
								#else
									#break
								#end
							#end
							#if($page+3<$total)
								<span>...</span>
							#end
							#if($page<$total)<a href="javascript:toPage($total);" class="num">$total</a>#end
							#if($page<$total)<a href="javascript:toPage(#set($next=$page+1)$next);" class="prev">下一页</a>#end
						</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script>
		$(".imgLiquidNotFill").imgLiquid({
			fill: false,
			horizontalAlign: "center",
			verticalAlign: "center"
		});
		
		$(".imgLiquidNotFill2").imgLiquid({
			fill: false,
			horizontalAlign: "center",
			verticalAlign: "center"
		});
		
		$(".hotsell").click(function(){
			
			if($(this).hasClass("red")){
				return;
			}
			changeContent("hotsell",$(".num.active").text());
			
		});
		$(".newest").click(function(){
			
			if($(this).hasClass("red")){
				return;
			}
			changeContent("newest",$(".num.active").text());
			
		});
		$(".price").click(function(){
			
			var keyWord = $("input[name=keyWord]").val();
		
			if($(this).hasClass("red")){
					
				var orderBy = $("input[name=orderBy]").val();
				if(orderBy=='asc'){
					changeContent("price_down",$(".num.active").text());
					
				}else{
					changeContent("price_up",$(".num.active").text());
				}		
					
					
				
			}else{
				
				changeContent("price_up",$(".num.active").text());
				
				$(".red").removeClass("red");
				$(this).addClass("red");
				
			}
		});
		
		function toPage(page){
			var total = ${pageCount};
			var groupStr = "";
			if(page>1){
				groupStr += '<a href="javascript:toPage('+(page-1)+');" class="prev">上一页</a>';
				groupStr += '<a href="javascript:toPage(1);" class="num">1</a>';
			}
			if(page-3>1){
				groupStr += '<span></span>';
			}
			for(var i=2;i>=1;i--){
				var p = page-i;
				if(p>1){
					groupStr += '<a href="javascript:toPage('+p+');" class="num">'+p+'</a>';
				}
			}
			groupStr += '<a href="javascript:toPage('+page+');" class="num active">'+page+'</a>';
			for(var i=1;i<=2;i++){
				var p = page+i;
				if(p<total){
					groupStr += '<a href="javascript:toPage('+p+');" class="num">'+p+'</a>';
				}else{
					break;
				}
			}
			
			if(page+3<total){
				groupStr += '<span>...</span>';
			}
			if(page<total){
				groupStr += '<a href="javascript:toPage('+total+');" class="num">'+total+'</a>';
				groupStr += '<a href="javascript:toPage('+(page+1)+');" class="prev">下一页</a>';
			}
			
			$(".button-group").empty().append(groupStr);
			
			if($(".red").hasClass("hotsell")){
				changeContent("hotsell",$(".num.active").text());
			}else if($(".red").hasClass("newest")){
				changeContent("newest",$(".num.active").text());
			}else{
				var orderBy = $("input[name=orderBy]").val();
				if(orderBy=='asc'){
					changeContent("price_up",$(".num.active").text());
				}else{
					changeContent("price_down",$(".num.active").text());
				}
			}
			
		}
		
		function changeContent(tab,page){
			
			var keyWord = $("input[name=keyWord]").val();
			
			if(tab=='hotsell'){
				
				var _this = $(".hotsell").get(0);
				
				$.ajax({
					url:"/product/ajaxSearch",
					type:"POST",
					data:"startIndex="+((page-1)*12)+"&pageSize=12&orderBy=createTime&keyWord="+keyWord,
					dataType:"json",
					success:function(ret){
						$("input[name=orderBy]").val("createTime");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  $(".share-product").append('<div class="item"><div class="imgLiquidNotFill" style="height:280px;"><a href="/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'" /></a></div><p class="price">¥'+((ret[i].price/100).toFixed(2))+'</p><p class="name"><a href="/product/product_detail?productID='+ret[i].ID+'">'+ret[i].productName+'</a></p><p>'+(ret[i].sellCount==undefined?0:ret[i].sellCount)+'人购买</p></div>');
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
							fill: false,
							horizontalAlign: "center",
							verticalAlign: "center"
						});
					}
				});
				
				$(".red").removeClass("red");
				$(_this).addClass("red");
				
			}else if(tab=='newest'){
				
				var _this = $(".newest").get(0);
				
				$.ajax({
					url:"/product/ajaxSearch",
					type:"POST",
					data:"startIndex="+(page-1)*12+"&pageSize=12&orderBy=createTime&keyWord="+keyWord,
					dataType:"json",
					success:function(ret){
						$("input[name=orderBy]").val("createTime");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  $(".share-product").append('<div class="item"><div class="imgLiquidNotFill" style="height:280px;"><a href="/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'" /></a></div><p class="price">¥'+((ret[i].price/100).toFixed(2))+'</p><p class="name"><a href="/product/product_detail?productID='+ret[i].ID+'">'+ret[i].productName+'</a></p><p>'+(ret[i].sellCount==undefined?0:ret[i].sellCount)+'人购买</p></div>');
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
							fill: false,
							horizontalAlign: "center",
							verticalAlign: "center"
						});
					}
				});
				
				$(".red").removeClass("red");
				$(_this).addClass("red");
			
			}else if(tab=='price_up'){
				
				$.ajax({
					url:"/product/ajaxSearch",
					type:"POST",
					data:"startIndex="+(page-1)*12+"&pageSize=12&orderBy=asc&keyWord="+keyWord,
					dataType:"json",
					success:function(ret){
						$("input[name=orderBy]").val("asc");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  $(".share-product").append('<div class="item"><div class="imgLiquidNotFill" style="height:280px;"><a href="/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'" /></a></div><p class="price">¥'+((ret[i].price/100).toFixed(2))+'</p><p class="name"><a href="/product/product_detail?productID='+ret[i].ID+'">'+ret[i].productName+'</a></p><p>'+(ret[i].sellCount==undefined?0:ret[i].sellCount)+'人购买</p></div>');
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
							fill: false,
							horizontalAlign: "center",
							verticalAlign: "center"
						});
					}
				});
				
			}else if(tab=='price_down'){
				
				$.ajax({
					url:"/product/ajaxSearch",
					type:"POST",
					data:"startIndex="+(page-1)*12+"&pageSize=12&orderBy=desc&keyWord="+keyWord,
					dataType:"json",
					success:function(ret){
						$("input[name=orderBy]").val("desc");
						$(".share-product").empty();
						for(var i=0;i<ret.length;i++){
							  
							  $(".share-product").append('<div class="item"><div class="imgLiquidNotFill" style="height:280px;"><a href="/product/product_detail?productID='+ret[i].ID+'"><img src="'+ret[i].imgPath+'" /></a></div><p class="price">¥'+((ret[i].price/100).toFixed(2))+'</p><p class="name"><a href="/product/product_detail?productID='+ret[i].ID+'">'+ret[i].productName+'</a></p><p>'+(ret[i].sellCount==undefined?0:ret[i].sellCount)+'人购买</p></div>');
							  
						}	
						$(".imgLiquidNotFill").imgLiquid({
							fill: false,
							horizontalAlign: "center",
							verticalAlign: "center"
						});
					}
				});
			
			}
			
		}
		
	</script>
	
</body>
</html>