
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${pinStr}</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/success-create-group.css" type="text/css" />
</head>
<!-- 将右上角分享按钮去掉 
	邀请好友参团 出现分享效果跳出框
-->
<body>
#parse("./common/header.vm") 
	<div id="container">
    <div class="header">
        <a href="group-deliver-detail.html" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/back_n.png">
			<img class="img2" src="${link.contextPath}/images/back_p.png">
		</a>
        <span>${pinStr}</span>
		<!-- <a href="javascript:" class="btn right-btn" id="share">
			<img class="img1" src="${link.contextPath}/images/share_n.png" />
			<img class="img2" src="${link.contextPath}/images/share_p.png" style="display:none" />
		</a> -->
    </div>
    <div class="team-title">
		<p style="color:#E81959;margin-top:5px;padding-top:8px;">恭喜客官已${pinStr}！</p>
		<p style="color:#555;">还需${remainPeople}位小伙伴参与哦，快点行动吧！</p>
		<div class="team-tile-btn">
			<a href="javascript:" class="btn2" id="share">邀请好友参团</a>
		</div>
	</div>
	<div class="end-time">
		<div class="recommend">
			<div class="end-time-main">
				距离本团结束时间
			</div>
			<div class="end-time-text">
				$number.format("#00",${remainHours})时 $number.format("#00",${remainMinutes})分 $number.format("#00",${remainSeconds})秒 $number.format("#00",${remainMillSeconds})
			</div>
		</div>
	</div>
	<div class="team-area">
		<div class="end-time-title">
			已参团人员
			<p style="font-size:12px;color:#b1b1b1;">(${people}/${pinCount})</p>
		</div>
		<div class="end-time-content">
			<p style="color:#555;margin-top:40px;">$!{colonelNickName}</p>
			<p style="color:#E81959;font-size:12px;">(团长)</p>
			<p style="color:#b1b1b1;font-size:12px;">$!date.format('MM-dd HH:mm',$!colonelJoinTime)</p>
			<div class="leader">
				<div class="leader-img">
					<img src="${link.contextPath}/images/head_portrait01.png" />
				</div>
				<div class="leader-main">
					<ul id="team-ul">
						
						#foreach($pinUserInfo in $pinUserInfoList)
							#if($velocityCount%2!=0)
								<li class="team-li">
									<div class="team-li-div">
										<div class="div-left">
											<div class="member-left1">
												<div class="member-grade">(团员)</div>
												<div class="member-time">$!date.format('MM-dd HH:mm',$pinUserInfo.joinTime)</div>
											</div>
											<div class="member-left2">
												<div class="member-img">
													<img src="${link.contextPath}/images/head_portrait02.png" />
												</div>
												<div class="member-name">
													$!{pinUserInfo.nickName}
												</div>
											</div>
											<div class="member-left3">
												<img src="${link.contextPath}/images/dot.png" />
											</div>
										</div>
									</div>
								</li>
							#else
								<li class="team-li">
									<div class="team-li-div">
										<div class="div-right">
											<div class="member1-right">
												<img src="${link.contextPath}/images/dot.png" />
											</div>
											<div class="member2-right">
												<div class="member2-img">
													<img src="${link.contextPath}/images/head_portrait02.png" />
												</div>
												<div class="member2-name">
													$!{pinUserInfo.nickName}
												</div>
											</div>
											<div class="member3-right">
												<div class="member3-grade">(团员)</div>
												<div class="member3-time">$!date.format('MM-dd HH:mm',$pinUserInfo.joinTime)</div>
											</div>
										</div>
									
									</div>
								</li>
							#end
						#end
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="share-main">
		<div class="share-heeader">
			<p>1.点击右上角</p>
			<div class="share-centent">
			2.点击 <a href="#"><img src="${link.contextPath}/images/share.png" /></a>  或  <a href="#"><img src="${link.contextPath}/images/friends.png" /></a> 分享
			</div>
		</div>
		<div class="share-footer">
			<a href="javascript:" id="know">我知道了</a>
		</div>	
	</div>
</div>
</body>
<script>
    $(function(){
		
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();;
			}
		});
	$(window).scroll(function(){
	　var scrollTop = $(this).scrollTop();
　　  var scrollHeight = $(document).height();
　　  var windowHeight = $(this).height();
　　  if(scrollTop + windowHeight == scrollHeight){
　　　	var len = $("#team-ul li").length;
		if(len % 2 != 0){
			$("#team-ul").append("<li class='team-li'><div class='team-li-div'><div class='div-right'>" +
			"<div class='member1-right'><img src='${link.contextPath}/images/dot.png' /></div>" +
			"<div class='member2-right'><div class='member2-img'><img src='${link.contextPath}/images/head_portrait02.png' /></div>" +
			"<div class='member2-name'>小龙女</div></div>"+
			"<div class='member3-right'><div class='member3-grade'>(团员)</div>"+
			"<div class='member3-time'>01-18 14:03</div></div></div></div></li>");
		}else{
			$("#team-ul").append("<li class='team-li'><div class='team-li-div'>"+
				"<div class='div-left'><div class='member-left1'>"+
				"<div class='member-grade'>(团员)</div><div class='member-time'>01-18 14:03</div></div>"+
				"<div class='member-left2'><div class='member-img'><img src='${link.contextPath}/images/head_portrait02.png' /></div>"+
				"<div class='member-name'>小龙女</div></div>"+
				"<div class='member-left3'><img src='${link.contextPath}/images/dot.png' /></div></div></li>");
			}
			$(".team-li").each(function(){
			$(".team-li:even").css({
				"border-right":"1px solid #cecece"
			})
			$(".team-li:odd").css({
				"position":"relative",
				"left":"49%",
				"border-left":"1px solid #cecece"
			});
		});
　　}
});
		$(".team-li").each(function(){
			$(".team-li:even").css({
				"border-right":"1px solid #cecece"
			})
			$(".team-li:odd").css({
				"position":"relative",
				"left":"49%",
				"border-left":"1px solid #cecece"
			});
		});
		
		$(".btn2").click(function(){
			$(this).css({"background-color":"#E81959","color":"#fff","border-radius":"5px"});
			setTimeout(function(){
				$(".btn2").css({"background-color":"#fff","color":"#555"});
			},1500);
		});
			$("#share").click(function(){
			$(".share-main").fadeIn();
			$("#know").css({"background-color":"#E81959"});
		})
		$("#know").click(function(){
			$(this).css({"background-color":"#AA063A","border":"1px solid #AA063A"});
			$(".share-main").fadeOut();
		})
	});
</script>
</html>
 
