<!DOCTYPE html>
<html>
<head>
#parse("./common/resources.vm")
    <!-- title -->
    <title>阿拉丁--注册</title>
    <script>
    $(function(){
    	$('#chgImg').click(function(){
    		var timestamp=(new Date()).valueOf();
    		$('#captchaImg').attr('src','/common/captcha?timestamp='+timestamp);     
    	})
    	$('#chgImg').click();
    	
    	
    	var smsAble=true;
    	var countDown=function(i){
    		smsAble=false;
    		var content=$('#sms').html();
    		$('#sms').html(content+'('+i+')');
    		var interval=setInterval(function(){
    			$('#sms').html(content+'('+i+')');
    			if(i<0){
    				$('#sms').html(content);
    				clearTimeout(interval);
    				smsAble=true;
    			}
    			i--;
    		},1000);
    	}
    	$('#sms').click(function(){
    		if(smsAble&&formValidate.validateAll()){
    			smsAble=false;
    			var phone=$('#username').val();
    			$.ajax({ 
    				url: '/register/sms',
    				data:{phone:phone},
    				type:"post",
    				success: function(data){
    					if('success'==data){
    		    			countDown(60);
    					}else if('phone_exists'==data){
    						$('#chgImg').click();
    						$('#usernameTip').html('用户名已存在！');
    						$('#usernameTip').css('display','inline');
    						smsAble=true;
    					}else if('error'==data){
    						alert('系统繁忙，请稍后再试');
    						smsAble=true;
    					}
    				},
    				error:function(){
    					alert('系统繁忙，请稍后再试');
    					smsAble=true;
    				}
    			});
    		}
    	})
    	if($sms_wait_second>0){
    		countDown($sms_wait_second);
    	}
    	
    	
    	
    	/*表单验证对象*/
		var formValidate={
			username:{
				target:$("#username"),
				required:true,
				reg:/(^1\d{10}$)|(^.*@.*\..*)/,
				tip:$('#usernameTip'),
				tipWord:'输入手机号/邮箱格式错误'
			},
			password:{
				target:$("#password"),
				required:true,
				reg:/^[\w\d]{5,20}$/,
				tip:$('#passwordTip'),
				validator:function(){
					var v=formValidate.rePassword.target.val();
					if(v!=""){
						formValidate.validate(formValidate.rePassword);
					}
					return true;
				},
				tipWord:'密码长度只能在5-20个字符之间'
			},
			rePassword:{
				target:$("#rePassword"),
				required:true,
				validator:function(){
					var v=formValidate.password.target.val();
					var v2=this.target.val();
					if(v!=v2){
						return false;
					}
					return true;
				},
				tip:$('#rePasswordTip'),
				tipWord:'两次输入密码不一致'
			},
			captcha:{
				target:$("#captcha"),
				required:true,
				tip:$('#captchaTip'),
				tipWord:'验证码输入错误'
			},
			sms_captcha:{
				target:$("#sms_captcha"),
				required:true,
				tip:$('#smsCaptchaTip'),
				tipWord:'短信验证码输入错误'
			},
			init:function(){
				this.username.target.blur(function(){
					formValidate.validate(formValidate.username);
					if(/^1\d{10}$/.test(formValidate.username.target.val())){
						$('#sms_box').css('display','block');
					}else{
						$('#sms_box').css('display','none');
					}
				})
				this.sms_captcha.target.blur(function(){
					formValidate.validate(formValidate.sms_captcha);
				})
				this.password.target.blur(function(){
					formValidate.validate(formValidate.password);
				})
				this.rePassword.target.blur(function(){
					formValidate.validate(formValidate.rePassword);
				})
				this.captcha.target.blur(function(){
					formValidate.validate(formValidate.captcha);
				})
				this.sms_captcha.target.focus(function(){
					formValidate.sms_captcha.tip.css('display','none');
				})
				this.username.target.focus(function(){
					formValidate.username.tip.css('display','none');
				})
				this.password.target.focus(function(){
					formValidate.password.tip.css('display','none');
				})
				this.rePassword.target.focus(function(){
					formValidate.rePassword.tip.css('display','none');
				})
				this.captcha.target.focus(function(){
					formValidate.captcha.tip.css('display','none');
				})
			},
			validate:function(o){//通用验证
				var v=o.target.val();
				if(o.required){
					if(v==""){//非空
						o.tip.html(o.tipWord);
						o.tip.css('display','inline');
						return false;
					}
				}
				if(v!=""){
					if(o.reg!=undefined){//格式
						if(!o.reg.test(v)){
							o.tip.html(o.tipWord);
							o.tip.css('display','inline');
							return false;
						}
					}
				}
				if(o.validator!=undefined){//自定义验证
					if(!o.validator()){
						o.tip.html(o.tipWord);
						o.tip.css('display','inline');
						return false;
					}
				}
				o.tip.css('display','none');
				return true;
			},
			validateAll:function(){
				if(this.validate(this.username)&this.validate(this.password)&this.validate(this.rePassword)&this.validate(this.captcha)){
					return true;
				}
				return false;
			}
		}
		formValidate.init();
		
		
		
		var submitAble=true;
    	$('#submit').click(function(){
    		if(submitAble){
    			submitAble=false;
    			if(formValidate.validateAll()){
    				if(!$('#readed')[0].checked){
    					alert('请阅读并同意《用户注册协议》');
    					submitAble=true;
    					return;
    				}
    				var username=$('#username').val();
    				var password=$('#password').val();
    				var captcha=$('#captcha').val();
    				$.ajax({ 
        				url: '/register/submit',
        				data:{captcha:captcha,username:username,password:password},
        				type:"post",
        				success: function(data){
        					if('captcha_error'==data){
        						$('#chgImg').click();
        						$('#captchaTip').css('display','inline');
        						submitAble=true;
        					}else if('sms_captcha_error'==data){
        						$('#chgImg').click();
        						$('#smsCaptchaTip').css('display','inline');
        						submitAble=true;
        					}else if('username_exists'==data){
        						$('#chgImg').click();
        						$('#usernameTip').html('用户名已存在！');
        						$('#usernameTip').css('display','inline');
        						submitAble=true;
        					}else if('success_phone'==data){
        						location.href="${link.contextPath}/register/vertify/phone"
        					}else if('success_email'==data){
        						location.href="${link.contextPath}/register/vertify/email"
        					}else if('error'==data){
        						$('#chgImg').click();
            					alert('系统繁忙，请稍后再试');
            					submitAble=true;
        					}
        				},
        				error:function(){
        					$('#chgImg').click();
        					alert('系统繁忙，请稍后再试');
        					submitAble=true;
        				}
        			});
    			}else{
    				submitAble=true;
    			}
    		}
    	})
    })
    </script>
</head>
<body>
    <header class="header new-header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="link.html">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- contentbar -->
    <div class="content-bar">
        <div class="content">
            <div class="container">
                <div class="form-box">
                    <form>
                        <h2>新用户注册</h2>
                        <div class="form-group">
                            <label class="control-label" style="width:140px;">
                                <span>*</span>用户名：
                            </label>
                            <input type="text" id="username" class="form-control" placeholder="手机号/邮箱地址" />
                            <span class="error" id="usernameTip" style="display:none;">输入手机号/邮箱格式错误</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="width:140px;">
                                <span>*</span>密码：
                            </label>
                            <input type="password" id="password" class="form-control" placeholder="设置登录密码" />
                            <span class="error" id="passwordTip" style="display:none;">密码长度只能在5-20个字符之间</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="width:140px;">
                                <span>*</span>确认密码：
                            </label>
                            <input type="password" id="rePassword" class="form-control" placeholder="确认密码" />
                            <span class="error" id="rePasswordTip" style="display:none;">两次输入密码不一致</span>
                        </div>
                        
                        <div class="form-group" id="sms_box" style="display:none;">
                        	<label class="control-label" style="width:140px;">
                        		<span>*</span>短信验证码：
                        	</label>
                        	<input type="text" id="sms_captcha" style="width: 120px;display: inline;" class="form-control" placeholder="手机校验码" />
                        	<button type="button" id="sms" style="width:150px;width:auto;font-size:14px;color:#808080;padding:8px 10px;border:1px solid #D0D0D0;display:inline-block;border-left: 0;">获取短信验证码</button>  
                        	<span class="error" style="padding-left:98px;" id="smsCaptchaTip" >短信验证码输入错误</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" style="width:140px;">
                                <span>*</span>验证码：
                            </label>
                            <input type="text" id="captcha" class="form-control code" placeholder="验证码" />
                            <a href="javascript:;" class="code">
                                <img id="captchaImg" style="width:90px;height:32px;" >
                            <a/>
                            <a href="javascript:;" class="update" id="chgImg">换一张</a>
                            <span class="error" style="padding-left:30px;display:none;" id="captchaTip" >验证码输入错误</span>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="readed">
                            我已同意并阅读<a href="javascript:;">《用户注册协议》</a>
                          </label>
                        </div>
                        <button type="button" id="submit" class="btn btn-register">立即注册</button>
                        <p  class="accout">
                            已有账号？<a href="/login">马上登录</a>
                        </p>
                    </div>
                </form>   
            </div>
        </div>
    </div>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>