<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>填写信息</title>
        <script type="text/javascript">
            var rTimeArr = [];
            rTimeArr[0] = {time : new Date()};
            document.addEventListener("DOMContentLoaded",function(){
                rTimeArr[1] = {time : new Date() , sTime : "0"};
            });
        </script>
        <link rel="stylesheet" type="text/css" href="/css/ariel-all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/common.min.css">
        <link rel="stylesheet" type="text/css" href="/css/new-card-info.min.css">
        <link rel="stylesheet" href="${link.contextPath}/css/mall.css" type="text/css" />
        <script type="text/javascript">
            rTimeArr[2] = {time : new Date() , sTime : "0"};
            if (window.JdAndroid){
                window.JdAndroid.setPageIndex("cashierDesk_quick_newcardinfo");
            }
        </script>
    <script type="text/javascript" src="/js/m_common2.1.js"></script>
	<script type="text/javascript" src="/js/m_common_header_bottom2.1.js"></script>
	<link rel="stylesheet" type="text/css" charset="utf-8" href="/css/new-card-info.css"></head>
    <body>
        <div id="viewport">
	        <div class="header">
		        <a href="javascript:history.go(-1);" class="header-back btn">
					<img class="img1" src="${link.contextPath}/images/back_n.png">
					<img class="img2" src="${link.contextPath}/images/back_p.png">
				</a>
		        <span>新建银行卡</span>
		    </div>
            <div class="JS-page-ct page-ct page-ct-m">
                <div class="JS-page-scorller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                    <div class="STEP-BAR">
                        <ul class="list STEP-BAR-LIST">
                            <li class="list-item  STEP_TITLE">
                                <span class="INPUT_CARD_NUMBER RED_COLOR">输入银行卡号</span>
                                <span class="INPUT_INFO RED_COLOR">填写信息</span>
                                <span class="BIND_AND_PAY">#if(${addType}=='pay')绑定并支付#else完成绑定#end</span>
                            </li>
                            <li class="list-item  STEP_ITEM ">
                                <div class="STEP_LINE">
                                    <div class="PERCENT"> </div>
                                </div>
                                <div class="CIRCLE">
                                    <div class="RED_BALL"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="knowed-card-wrap" style="display: block;">
                        <ul class="COMM_TOP_1PX_BORDER">
                        	#if(${isOpen}=='unknown')
                        	<li class="list-item COMM_BOTTOM_1PX_BORDER unknow-card-no-item">
                                <span class="title-main">银行卡号</span>
                                <div class="textfile card-textfile card-no textfile-invalid">
                                    <input maxlength="20" class="textfile-input" value="$!{accNoStr}" placeholder="请输入银行卡号">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div>                 
                            </li>
                            #else
                            <li class="list-item COMM_BOTTOM_1PX_BORDER  bank-bar">
                                <span class="bank" agencycode="131" bankname="$!{bankName}" acronym="CCB" isvaildcvv2="false">$!{bankName}（$!{cardTypeName}）</span>
                                <span class="card" cardno="$!{accNo}" cardtype="2" isvaildcvv2="false">$!{accNoStr} </span>
                            </li>
                            #end
                            <li class="list-item COMM_BOTTOM_1PX_BORDER unknow-card-no-item CARD_TYPE" isopen="${isOpen}" style="#if(${isOpen}=='unknown')display:block; #else display:none;#end">
                                <span class="title-main">卡类型</span>
                                <a class="type-radio saving checked"><span class="card-type-name">储蓄卡</span></a>
                                <a class="type-radio credit"><span class="card-type-name">信用卡</span></a>               
                            </li>
                            <li class="list-item list-link-item COMM_BOTTOM_1PX_BORDER choose-bank no-border-bottom" style="#if(${isOpen}=='unknown') display:block; #else display:none;#end">
                                <a href="javascript:void(0);" class="list-link">
                                    <span class="title-main">付款银行</span>
                                    <span class="card-info">请选择卡片所属银行</span>
                                </a>            
                            </li>
                            
                            
                            <li class="list-item COMM_BOTTOM_1PX_BORDER credit-card-list-item " style="#if(${payCardType}=='02') display: list-item; #else display:none; #end">
                                <span class="title-main">有效期</span>
                                <div class="textfile card-textfile valid-date textfile-invalid">
                                    <input type="tel" maxlength="5" class="textfile-input" name="expired" placeholder="请输入卡月份/年份">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset textfile-reset-hide">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div>            
                                <a href="javascript:void(0);" class="info-icon card-tip expire-tip"></a>
                            </li>
							<li class="list-item COMM_BOTTOM_1PX_BORDER credit-card-list-item " style="#if(${payCardType}=='02') display: list-item; #else display:none; #end">
                                <span class="title-main">防伪码</span>
                                <div class="textfile card-textfile valid-date textfile-invalid">
                                    <input type="tel" maxlength="3" class="textfile-input" name="cvn2" placeholder="请输入防伪码">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset textfile-reset-hide">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div>               
                                <a href="javascript:void(0);" class="info-icon card-tip cvn-tip"></a>
                            </li>
                            
                        </ul>
                        
                    </div>
                    <div class="savings-card-wrap" style="display: block;">
                        <ul class="savings-card-list COMM_TOP_1PX_BORDER">
                                                                     
                            <li class="list-item COMM_BOTTOM_1PX_BORDER savings-card-list-item ">
                                <span class="title-main">姓&nbsp;&nbsp;名</span>
                                <div class="textfile card-textfile holder-name textfile-invalid">
                                    <input class="textfile-input" data-use-preload="0" name="name" placeholder="请输入姓名">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset textfile-reset-hide">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div> 
                            </li>
                            <li class="list-item COMM_BOTTOM_1PX_BORDER savings-card-list-item ">
                                <span class="title-main">身份证</span>
                                <div class="textfile card-textfile id-card textfile-invalid">
                                    <input class="textfile-input" data-use-preload="0" maxlength="18" name="identity" placeholder="请输入身份证号">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset textfile-reset-hide">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div> 
                                <a href="javascript:void(0);" class="info-icon BCOM cardId-tip" style="display: none;"></a>               
                            </li>
                            <li class="list-item COMM_BOTTOM_1PX_BORDER savings-card-list-item ">
                                <span class="title-main">手机号</span>
                                <div class="textfile card-textfile phone textfile-invalid">
                                    <input type="tel" data-use-preload="1" class="textfile-input" name="phoneNo" maxlength="12" placeholder="请输入银行预留手机号">
                                    <a href="javascript:void(0);" class="close-btn textfile-reset textfile-reset-hide">
                                        <span class="close-btn-cross"></span>
                                    </a>
                                </div> 
                                <a href="javascript:void(0);" class="info-icon BCOM phone-tip" style="display: none;"></a>                
                            </li>            
                        </ul>        
                    </div>
                    <a href="javascript:void(0);" class="btn b-btn next" style="display: block;">绑定并支付</a>
                    <div class="COMM_FIXED_QQ_NAV_BAR"></div>
                </div>
            </div>
            <div class="choose-layer-mask" style="display: none;"></div>
			<div class="choose-layer choose-layer-in" style="height: 400px;display:none;">
				<span class="choose-layer-close"></span>   <h2 class="choose-layer-title">请选择卡片所属银行</h2>   
				<ul class="choose-layer-list" style="height: 345px;">
					#foreach($bankCode in $bankCodeList)
						<li class="COMM_BOTTOM_1PX_BORDER choose-layer-list-item" name="${bankCode.bankName}" issinscode="${bankCode.issInsCode}" isvaildcvv2="true"><a class="choose-layer-radio"><span class="choose-layer-name">${bankCode.bankName}</span></a></li>
					#end
				</ul>
			</div>
        </div>
        <script type="text/javascript" src="/js/ariel-all.min.js"></script>
		<script type="text/javascript" src="/js/pay-all.min.js"></script>
		<script type="text/javascript" src="/js/new-card-info.min.js"></script>
		<script>
			$(function(){
				$(".list-link").click(function(){
					$(".choose-layer-mask").show();
					$(".choose-layer").show();
				});
				$(".choose-layer-close").click(function(){
					$(".choose-layer-mask").hide();
					$(".choose-layer").hide();
				});
				$(".choose-layer-radio").click(function(){
					$(".choose-layer-radio").removeClass("checked");
					$(this).addClass("checked");
					var bankName = $(this).closest("li").attr("name");
					var issInsCode = $(this).closest("li").attr("issinscode");
					$(".card-info").text(bankName);
					$(".card-info").attr("issinscode",issInsCode);
					$(".choose-layer-mask").hide();
					$(".choose-layer").hide();
				});
				$(".saving").click(function(){
					$("input[name=cvn2]").closest("li").hide();$("input[name=expired]").closest("li").hide();
					$(this).addClass("checked");
					$(".credit").removeClass("checked");
				});
				$(".credit").click(function(){
					$("input[name=cvn2]").closest("li").show();$("input[name=expired]").closest("li").show();
					$(this).addClass("checked");
					$(".saving").removeClass("checked");
				});
				
				$(".expire-tip").click(function(){
					$("#viewport").append('<div class="COMM_DIALOG_MASK"></div><div class="COMM_DIALOG_WRAPPER">    <div class="COMM_DIALOG">        <span class="COMM_DIALOG_TITLE">卡片有效期</span>        <a href="javascript:void(0);" class="COMM_DIALOG_CLOSE"></a>        <p class="COMM_DIALOG_DESCRIPTION COMM_DIALOG_EXPIRE_DESCRIPTION">有效期为卡片正面格式为<br>月份/年份的数字</p>        <a href="javascript:void(0);" class="COMM_DIALOG_BTN">我知道了</a>    </div></div>');
				});
				$(".cvn-tip").click(function(){
					$("#viewport").append('<div class="COMM_DIALOG_MASK"></div><div class="COMM_DIALOG_WRAPPER">    <div class="COMM_DIALOG">        <span class="COMM_DIALOG_TITLE">防伪码</span>        <a href="javascript:void(0);" class="COMM_DIALOG_CLOSE"></a>        <p class="COMM_DIALOG_DESCRIPTION COMM_DIALOG_CVN_DESCRIPTION">防伪码为<br>卡片背面数字的后3位</p>        <a href="javascript:void(0);" class="COMM_DIALOG_BTN">我知道了</a>    </div></div>');
				});
				$("#viewport").on('click',".COMM_DIALOG_BTN",function(){
					console.log("nihao");
					$(".COMM_DIALOG_WRAPPER").remove();
					$(".COMM_DIALOG_MASK").remove();
				});
				$(".next").click(function(){
					var ret = validate();
					var requrl = "";
					#if(${isOpen}=='unknown')
							var payCardType = "01";
							if($(".saving").hasClass("checked")){
								payCardType = "01";
							}else{
								payCardType = "02";
							}
							requrl="/bankCard/bind-card?isOpen=$!{isOpen}&payCardType="+payCardType+"&accNo=$!{accNo}&name="+$("input[name=name]").val()+"&idCard="+$("input[name=identity]").val()+"&phoneNo="+$("input[name=phoneNo]").val()+"&expired="+$("input[name=expired]").val()+"&cvn2="+$("input[name=cvn2]").val()+"&issInsCode="+$(".card-info").attr("issinscode")+"&bankName="+$(".card-info").text();
							
					#else
							requrl="/bankCard/bind-card?isOpen=$!{isOpen}&payCardType=${payCardType}&accNo=$!{accNo}&name="+$("input[name=name]").val()+"&idCard="+$("input[name=identity]").val()+"&phoneNo="+$("input[name=phoneNo]").val()+"&expired="+$("input[name=expired]").val()+"&cvn2="+$("input[name=cvn2]").val()+"&issInsCode=$!{issInsCode}&bankName=$!{bankName}";
					#end
					console.log("requrl:"+requrl);
					if(ret===true){
						$.ajax({
							url:requrl,						
							type:"POST",
							dataType:"json",
							success:function(ret){
								console.log("ret:"+ret);
								if(ret && ret.errcode==0){
									#if(${addType}=='pay')
										location.href="/bankCard/verify-code?cardId="+ret.cardId+"&orderCode=$!{orderCode}";
									#elseif(${addType}=='add')
										location.href="/bankCard/list";
									#elseif(${addType}=='withDraw')
										location.href="/user/withDraw";
									#end
								}else if(ret && ret.errcode==10001){
									mask(ret.errmsg);
									setTimeout(function(){
										removeMask();
									},1100);
								}else{
									mask("系统繁忙,请稍候重试");
									setTimeout(function(){
										removeMask();
									},1100);
								}
							},
							error:function(){
								mask("系统繁忙,请稍候重试");
								setTimeout(function(){
									removeMask();
								},1100);
							}
						});
						//location.href="/order/bind-card?isOpen=$!{isOpen}&payCardType=${payCardType}&accNo=$!{accNo}&name="+$("input[name=name]").val()+"&idCard="+$("input[name=identity]").val()+"&phoneNo="+$("input[name=phonoNo]").val()+"&expired="+$("input[name=expired]").val()+"&cvn2="+$("input[name=cvn2]").val();
					}else {
						mask(ret);
						setTimeout(function(){
							removeMask();
						},1500);
					}
				});
			})
			function validate(){
				
				var pass = false;
				
				#if(${isOpen}=='unknown')
					if($(".card-info").attr("issinscode")==undefined){
						return "必须选择付款银行";
					}
				#end	
				if($(".credit").hasClass("checked")){
					if(/^0[1-9]|1[0-2]\/[0-9]{2}$/.test($("input[name=expired]").val())){
						pass = true;
					}else {
						return "有效期格式不正确";
					}
					
					if(/[0-9]{3}/.test($("input[name=cvn2]").val())){
						pass = true;
					}else{
						return "防伪码格式不正确";
					}
				}
				
				
				#if(${payCardType}=='02')
				if(/0[1-9]|1[0-2]\/[0-9]{2}/.test($("input[name=expired]").val())){
					pass = true;
				}else {
					return "有效期格式不正确";
				}
				
				if(/[0-9]{3}/.test($("input[name=cvn2]").val())){
					pass = true;
				}else{
					return "防伪码格式不正确";
				}
				#end
				
				if(/^[\u4e00-\u9fa5]{2,10}$/.test($("input[name=name]").val())){
					pass = true;
				}else {
					return "姓名必须为汉字,且长度不得大于10位";
				}
				
				
				if(IdentityCodeValid($("input[name=identity]").val())){
					pass = true;
				}else{
					return "身份证格式不正确";
				}
				
				if(checkTel($("input[name=phoneNo]").val())){
					pass = true;
				}else{
					return "手机号码格式不正确";
				}
				
				return pass;
				
			}
			
			function IdentityCodeValid(code) { 
				var city={11:"北京",12:"天津",13:"河北",14:"山西",15:"内蒙古",21:"辽宁",22:"吉林",23:"黑龙江 ",31:"上海",32:"江苏",33:"浙江",34:"安徽",35:"福建",36:"江西",37:"山东",41:"河南",42:"湖北 ",43:"湖南",44:"广东",45:"广西",46:"海南",50:"重庆",51:"四川",52:"贵州",53:"云南",54:"西藏 ",61:"陕西",62:"甘肃",63:"青海",64:"宁夏",65:"新疆",71:"台湾",81:"香港",82:"澳门",91:"国外 "};
				var tip = "";
				var pass= true;
				
				if(!code || !/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[12])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)?$/i.test(code)){
					tip = "身份证号格式错误";
					pass = false;
				}
				
			   else if(!city[code.substr(0,2)]){
					tip = "地址编码错误";
					pass = false;
				}
				else{
					//18位身份证需要验证最后一位校验位
					if(code.length == 18){
						code = code.split('');
						//∑(ai×Wi)(mod 11)
						//加权因子
						var factor = [ 7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2 ];
						//校验位
						var parity = [ 1, 0, 'X', 9, 8, 7, 6, 5, 4, 3, 2 ];
						var sum = 0;
						var ai = 0;
						var wi = 0;
						for (var i = 0; i < 17; i++)
						{
							ai = code[i];
							wi = factor[i];
							sum += ai * wi;
						}
						var last = parity[sum % 11];
						if(parity[sum % 11] != code[17]){
							tip = "校验位错误";
							pass =false;
						}
					}
				}
				//if(!pass) alert(tip);
				return pass;
			}
			
			function checkTel(value){
				var filter = /^(([0\+]\d{2,3}-)?(0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;
				var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;
				var isMob=/^((\+?86)|(\(\+86\)))?(1[3-9][0-9]{9})$/;
				if(isPhone.test(value)||filter.test(value)||isMob.test(value)){
					return true;
				}else{
					return false;
				}
			}
			
			function mask(note){
				$("#viewport").append('<div class="pop-mask"></div> <div class="pop-wrapper">    <div class="pop" style="opacity: 1;">        <div class="pop-description-wrap">            <p class="pop-description">'+note+'</p>        </div>    </div></div>');
			}
			function removeMask(){
				$(".pop-mask").remove();
				$(".pop-wrapper").remove();
			}
		</script>
</body></html>