<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>银行卡管理</title>
<script type="text/javascript" src="$link.getContextPath()/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="$link.getContextPath()/css/bankCard.css" type="text/css" />
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="$link.getContextPath()/js/share.js"></script>
<script>
$(function() {
	share_link='http://$request.serverName?iv=$session.getAttribute("principal").userId';
	$(".btn").click(function() {
		if ($(this).find(".img1").is(":visible")) {
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		} else {
			$(this).find(".img1").show();
			$(this).find(".img2").hide();
		}
	});
	
	$(".address-btn").hover(function(){
        $(this).children(".img1").hide();
        $(this).children(".img2").show();
    },function(){
        $(this).children(".img1").show();
        $(this).children(".img2").hide();
    });
	
	var scrollData={
			currentPage:0,
			target:$('#detail'),
			pageSize:15,
			append:function(str){
				this.target.append(str);
			},
			nextPage:function(){
				this.currentPage++;
				$.ajax({ 
					url: '$link.getContextPath()/bankCard/query',
					data:{page:this.currentPage,pageSize:this.pageSize},
					type:"post",
					success: function(data){
						var htmlStr='';
						for(var i=0;i<data.length;i++){
							htmlStr+='<div class="bank">\
								<div class="bankName">'+data[i].bankName+'</div>\
								<div class="p">'+data[i].payCardType+'：'+data[i].cardNum+'</div>\
								<div class="p">持卡人姓名：'+data[i].holderName+'</div>\
								<div class="p">手机号码：'+data[i].phone+'</div>\
								<div class="footer-right">\
									<span>\
										<img class="img1" src="${link.contextPath}/images/delete_n.png">\
										<img class="img2" src="${link.contextPath}/images/delete_p.png">\
										<a href="javascript:del('+data[i].id+')" >解绑</a>\
									</span>\
								</div>\
								</div>';
						}
						scrollData.append(htmlStr);
						}
					});
				}
			}
	scrollData.nextPage();
});
var delAble=true;
function del(id){
	if(delAble){
		if(confirm('确定删除该银行卡吗?')){
			delAble=false;
			location.href="${link.contextPath}/bankCard/del?id="+id;
		}else{
			$(this).siblings(".img1").show();
			$(this).siblings(".img2").hide();
		}
	}
}
</script>
</head>
<body>
#parse("./common/header.vm")
<div id="container">
	<div class="header">
		<a href="$link.getContextPath()/user/wealth" class="header-back btn"> 
			<img class="img1" src="$link.getContextPath()/images/back_n.png"> 
			<img class="img2" src="$link.getContextPath()/images/back_p.png">
		</a> 
		<span>银行卡管理</span>
	</div>
	<div id="detail">
	</div>
	<div class="address-btn">
        <a href="${link.contextPath}/bankCard/add/1?addType=add" class="addAddress">
        	添加银行卡
			<img class="img1" src="${link.contextPath}/images/add_n.png">
			<img class="img2" src="${link.contextPath}/images/add_p.png">
		</a>
    </div>
</div>
</body>
</html>

