<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script src="/js/order-index.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>我的订单</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="link.html">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="account-center.html">账户中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-account.html">我的账户</a>
                                </li>
                                <li class="sub">
                                    <a href="personal.html">个人信息</a>
                                </li>
                                <li class="sub">
                                    <a href="level.html">会员等级</a>
                                </li>
                                <li class="sub">
                                    <a href="address.html">收货地址</a>
                                </li class="sub">
                                <li class="sub">
                                    <a href="my-card.html">我的银行卡</a>
                                </li>
                                <li class="sub">
                                    <a href="my-sales.html">我的销售</a>
                                </li>
                                <li class="sub">
                                    <a href="payment.html">我要提现</a>
                                </li>
                                <li class="sub">
                                    <a href="extend.html">我要推广</a>
                                </li>
                                <li class="bold">
                                    <a href="order.html">订单中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-order.html" class="active">我的订单</a>
                                </li>
                                <li class="sub">
                                    <a href="group-order.html">团购订单</a>
                                </li>
                                <li liclass="sub">
                                    <a href="bargain-order.html" >砍价订单</a>
                                </li>
                                <li class="sub">
                                    <a href="once-order.html">一元购订单</a>
                                </li>
                                <li class="bold">
                                    <a href="activity.html">参与活动</a>
                                </li>
                                <li class="sub">
                                    <a href="my-management.html">我的团购</a>
                                </li>
                                <li class="sub">
                                    <a href="my-once.html">我的一元购</a>
                                </li>
                                <li class="bold">
                                    <a href="my-wealth.html">我的财富</a>
                                </li>
                                <li class="bold">
                                    <a href="my-team.html">我的团队</a>
                                </li>
                                 <li class="bold">
                                    <a href="my-store.html">我的收藏</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <div class="title">
                                <a href="javascript:;" class="active all">所有订单</a>
                                <a href="javascript:;" class="dfk">待付款</a>
                                <a href="javascript:;" class="dfh">待发货</a>
                                <a href="javascript:;" class="dsk">待收款</a>
								<a href="javascript:;" class="dpl">待评价</a>
                                <a href="javascript:;" class="tk">退款</a>
                                <a href="javascript:;" class="th">退货</a>
                            </div>
                            <div class="search">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="输入商品标题或者订单编号进行搜索" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr><th>商品</th>
                                        <th>单价(元)</th>
                                        <th>数量</th>
                                        <th>实付款(元)</th>
                                        <th>状态</th>
                                        <th>订单操作</th>
                                    </tr>
                                </thead>
                            </table>
							
							<div class="order-info-all">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $childOrderList)
											#if($childOrder.status=='COM')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已完成
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='CAN')
												
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已取消
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											
											#end
											#if($childOrder.status=='DFK')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.parentCode}</span>
														
														<span class="time">#if($childOrder.remainTime=='OUT_OF_DATE') 订单已过付款时间 #else 还剩$!{childOrder.remainTime}可以进行付款 #end</span>
													</td>
												</tr>
												
													#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																待付款
																<a href="/order/order-detail?orderCode=$childOrder.parentCode">订单详情</a>
																<a href="javascript:;" data-toggle="modal" data-target="#myModal" data-href="/Aladdin/orderCancel-popup.html" data-class="modal-orderCancel" class="jq-orderCancel">取消订单</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																#if($childOrder.remainTime!='OUT_OF_DATE')<a href="javascript:;" class="pay-money">付款</a>#end
															</td>
														#end
													</tr>
													#end
											#end
										
											#if($childOrder.status=='DFH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																待发货
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">退款</a>
															</td>
														#end
														
														
													</tr>
												#end
											#end
											
											#if($childOrder.status=='STK')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款审核中
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKZ')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款中
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKB')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款审核不通过
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKC')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款成功
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKS')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款失败
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											
											#if($childOrder.status=='TH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																$!{orderProduct.statuStr}
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<a href="/order/rg?o=$childOrder.orderCode&p=$orderProduct.ID" class="pay-money">退货</a>
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='YFH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	<span>颜色：墨蓝</span>
																	<span>尺寸：XL</span>
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
																<p>（含运费¥$!{childOrder.orderSum}）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已发货
																<a href="/order/order-detail-yfh?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<a href="/order/rg?o=$childOrder.orderCode&p=$orderProduct.ID" class="pay-money">退货</a>
															</td>
														#end
													</tr>
												#end
											#end
											
											
										
										
										#end
										
									</tbody>
								</table>
							</div>
							
							<div class="order-info-dfk">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
									
										#foreach($childOrder in $noPayedOrderList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：$!{childOrder.orderCode}</span>
													
													<span class="time">#if($childOrder.remainTime=='OUT_OF_DATE') 订单已过付款时间 #else 还剩$!{childOrder.remainTime}可以进行付款 #end</span>
												</td>
											</tr>
											
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																<span>颜色：墨蓝</span>
																<span>尺寸：XL</span>
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
															<p>（含运费¥$!{childOrder.orderSum}）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															待付款
															<a href="/order/order-detail?orderCode=$childOrder.parentCode">订单详情</a>
															<a href="/order/cancel?orderCode=${childOrder.orderCode}">取消订单</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.remainTime!='OUT_OF_DATE')<a href="javascript:;" class="pay-money">付款</a>#end
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
								
							</div>
							
                            
							<div class="order-info-dfh">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $noSendOrderList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$!date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：${childOrder.orderCode}</span>
													<span>供应商：$!{childOrder.supName}</span>
												</td>
											</tr>
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																<span>颜色：墨蓝</span>
																<span>尺寸：XL</span>
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
															<p>（含运费¥$!{childOrder.orderSum}）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															待发货
															<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">退款</a>
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
							</div>
							
							<div class="order-info-dpl">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($waitForComment in $waitForCommentList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>供应商：$!{waitForComment.supName}</span>
												</td>
											</tr>
											
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{waitForComment.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{waitForComment.productName}</a>
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{waitForComment.sellPrice},100))</td>
													<td>$!{waitForComment.buyNum}</td>
													<td class="status">
														<p>¥$number.format("#0.00",$math.mul($!math.div($!{waitForComment.sellPrice},100),$!{waitForComment.buyNum}))</p>
													</td>
													<td class="status">
														待评价
														<a href="/order/order-detail?orderID=$waitForComment.childOrderID">订单详情</a>
													</td>
													<td class="status">
														<a href="/order/evaluate-index?orderProductID=$waitForComment.orderProductID" class="pay-money">评价</a>
													</td>
												</tr>
											
										#end
									</tbody>
								</table>
							</div>
							
							<div class="order-info-tk">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $returnMoneyList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$!date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：${childOrder.orderCode}</span>
													<span>供应商：$!{childOrder.supName}</span>
												</td>
											</tr>
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																<span>颜色：墨蓝</span>
																<span>尺寸：XL</span>
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$!{orderProduct.skuPrice})</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$number.format("#0.00",$math.mul($!{orderProduct.skuPrice},$!{orderProduct.buyNum}))</p>
															<p>（含运费¥$!{childOrder.orderSum}）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.status=='STK')
																退款审核中
															#elseif($childOrder.status=='TKZ')
																退款中
															#elseif($childOrder.status=='TKB')
																退款审核不通过
															#elseif($childOrder.status=='TKC')
																退款成功
															#elseif($childOrder.status=='TKS')
																退款失败
															#end
															<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.status=='TKB')
																<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">重新申请</a>
															#end
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
							</div>
							<div class="order-info-th">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($orderProduct in $returnGoodsList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																<span>颜色：墨蓝</span>
																<span>尺寸：XL</span>
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.sellPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													
													<td class="status">
														<p>¥$number.format("#0.00",$math.mul($math.div($!{orderProduct.sellPrice},100),$!{orderProduct.buyNum}))</p>
														<p></p>
													</td>
													<td class="status">
														$orderProduct.returnGoodsStr
													</td>
													<td class="status">
														#if(${orderProduct.returnGoodsStatus}=='NO#'||${orderProduct.returnGoodsStatus}=='JTK')
															<a href="/order/r2?p=$orderProduct.orderProductID" class="pay-money">重新申请</a>
														#else
															<a href="/order/return-goods-detail-orderproductid?orderProductID=$orderProduct.orderProductID">退货详情</a>
														#end
													</td>
													
												</tr>
											
											
										#end
									</tbody>
								</table>
							</div>
							
                           
                        </div>
                        <div class="button-group">
                            <a href="javascript:;" class="prev">上一页</a>
                            <a href="javascript:;" class="num active">1</a>
                            <a href="javascript:;" class="num">2</a>
                            <a href="javascript:;" class="num">3</a>
                            <span>...</span>
                            <a href="javascript:;" class="num">18</a>
                            <a href="javascript:;" class="prev">下一页</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<script type="text/javascript">
			
			var curTab = "all";
			
			$(function(){
				
			
				$(".alipay-content a").click(function(){
					$(".alipay-content a").removeClass("active");
					$(this).addClass("active");
				});
				
				$("[class^='order-info']").hide();
				$(".order-info-all").show();
				
				$(".all").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-all").show();
					curTab="all";
				});
				
				//点击待付款
				$(".dfk").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dfk").show();
					curTab="dfk";
				});
				
				//点击待发货
				$(".dfh").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dfh").show();
					curTab="dfh";
				});
				
				//点击待评价
				$(".dpl").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dpl").show();
					curTab="dpl";
				});
				
				//点击退款
				$(".tk").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-tk").show();
					curTab="tk";
				});
				
				//点击退货
				$(".th").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-th").show();
					curTab="th";
				});
			});
			
			$(".num").click(function(){
				
				var pageNum = $(this).text();
				
				var curPageNum = $(".num.active").text();
				
				
				if(curPageNum!=pageNum){
					
					if(curTab=='all'){
						$.ajax({
							url:'${link.contextPath}/order/more-order',
							type:'POST',
							data:{"pageIndex":pageNum},
							dataType:'json',
							success:function(ret){
								console.log(ret);
								for(var i=0;i<ret.length;i++){
									console.log("status:"+ret[i].status);
								}
								$(".order-info-all").empty();
								if(ret.length!=0){
									$(".order-info-all").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									$(".order-info-all tbody").append(getItemStr(ret[i]));
								}
								
								
							}
						});
					}else if(curTab=='dfk'){
						
					}else if(curTab=='dfh'){
						
					}else if(curTab=='tk'){
						
					}else if(curTab=='th'){
						
					}
					
				}
				
				
				
				
				
				
			});
			
			
			
			
		</script>
    </footer>
</body>
</html>