<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
	<script src="/js/order-index.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>我的订单</title>
</head>
<body>
    #parse("./common/header.vm") 

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="content">
                            <ul class="nav-category">
                                <li class="bold">
                                    <a href="account-center.html">账户中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-account.html">我的账户</a>
                                </li>
                                <li class="sub">
                                    <a href="personal.html">个人信息</a>
                                </li>
                                <li class="sub">
                                    <a href="level.html">会员等级</a>
                                </li>
                                <li class="sub">
                                    <a href="address.html">收货地址</a>
                                </li class="sub">
                                <li class="sub">
                                    <a href="my-card.html">我的银行卡</a>
                                </li>
                                <li class="sub">
                                    <a href="my-sales.html">我的销售</a>
                                </li>
                                <li class="sub">
                                    <a href="payment.html">我要提现</a>
                                </li>
                                <li class="sub">
                                    <a href="extend.html">我要推广</a>
                                </li>
                                <li class="bold">
                                    <a href="order.html">订单中心</a>
                                </li>
                                <li class="sub">
                                    <a href="my-order.html" class="active">我的订单</a>
                                </li>
                                <li class="sub">
                                    <a href="group-order.html">团购订单</a>
                                </li>
                                <li liclass="sub">
                                    <a href="bargain-order.html" >砍价订单</a>
                                </li>
                                <li class="sub">
                                    <a href="once-order.html">一元购订单</a>
                                </li>
                                <li class="bold">
                                    <a href="activity.html">参与活动</a>
                                </li>
                                <li class="sub">
                                    <a href="my-management.html">我的团购</a>
                                </li>
                                <li class="sub">
                                    <a href="my-once.html">我的一元购</a>
                                </li>
                                <li class="bold">
                                    <a href="my-wealth.html">我的财富</a>
                                </li>
                                <li class="bold">
                                    <a href="my-team.html">我的团队</a>
                                </li>
                                 <li class="bold">
                                    <a href="my-store.html">我的收藏</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <div class="title">
                                <a href="javascript:;" class="active all">所有订单</a>
                                <a href="javascript:;" class="dfk">待付款</a>
                                <a href="javascript:;" class="dfh">待发货</a>
                                <a href="javascript:;" class="dsk">待收款</a>
								<a href="javascript:;" class="dpl">待评价</a>
                                <a href="javascript:;" class="tk">退款</a>
                                <a href="javascript:;" class="th">退货</a>
                            </div>
                            <div class="search">
                                <form class="search-form">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="输入商品标题或者订单编号进行搜索" />
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                    <tr><th>商品</th>
                                        <th>单价(元)</th>
                                        <th>数量</th>
                                        <th>实付款(元)</th>
                                        <th>状态</th>
                                        <th>订单操作</th>
                                    </tr>
                                </thead>
                            </table>
							
							<div class="order-info-all">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $childOrderList)
											#if($childOrder.status=='COM')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已完成
																<a href="/order/order-detail-com?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='CAN')
												
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已取消
																<a href="/order/order-detail-can?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											
											#end
											#if($childOrder.status=='DFK')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.parentCode}</span>
														
														<span class="time">#if($childOrder.remainTime=='OUT_OF_DATE') 订单已过付款时间 #else 还剩$!{childOrder.remainTime}可以进行付款 #end</span>
													</td>
												</tr>
												
													#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																待付款
																<a href="/order/order-detail?orderCode=$childOrder.parentCode">订单详情</a>
																<a href="/order/cancel?orderCode=$!{childOrder.parentCode}">取消订单</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																#if($childOrder.remainTime!='OUT_OF_DATE')<a href="/order/pay-again?orderCode=$!{childOrder.parentCode}" class="pay-money">付款</a>#end
															</td>
														#end
													</tr>
													#end
											#end
										
											#if($childOrder.status=='DFH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																待发货
																<a href="/order/order-detail-dfh?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">退款</a>
															</td>
														#end
														
														
													</tr>
												#end
											#end
											
											#if($childOrder.status=='STK')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款审核中
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKZ')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款中
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKB')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款审核不通过
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKC')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款成功
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											#if($childOrder.status=='TKS')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																退款失败
																<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																
															</td>
														#end
													</tr>
												#end
											#end
											
											
											#if($childOrder.status=='TH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
															<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
														</td>
														#end
														<td class="status">
															$!{orderProduct.statuStr}
														</td>
														<td class="status">
															#if(!${orderProduct.statuStr})
																<a href="/order/rg?o=$childOrder.orderCode&p=$orderProduct.ID" class="pay-money">退货</a>
															#end
														</td>
													</tr>
												#end
											#end
											
											#if($childOrder.status=='YFH')
												<tr class="status">
													<td colspan="6" class="text-left">
														<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
														<span>订单编号：$!{childOrder.orderCode}</span>
														<span>供应商：$!{childOrder.supName}</span>
													</td>
												</tr>
												#foreach($orderProduct in $childOrder.orderProductList)
													<tr>
														<td class="text-left">
															<a href="javascript:;" class="fl">
																<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
															</a>
															<div class="fr">
																<p>
																	<a href="javascript:;">$!{orderProduct.productName}</a>
																</p>
																<p>
																	#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																	#end
																</p>
															</div>
														</td>
														
														<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
														
														<td>$!{orderProduct.buyNum}</td>
														
														#if($velocityCount==1)
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																已发货
																<a href="/order/order-detail-yfh?orderCode=$childOrder.orderCode">订单详情</a>
															</td>
															<td rowspan="$childOrder.orderProductList.size()" class="status">
																<a href="/order/rg?o=$childOrder.orderCode&p=$orderProduct.ID" class="pay-money">退货</a>
															</td>
														#end
													</tr>
												#end
											#end
											
											
										
										
										#end
										
									</tbody>
								</table>
							</div>
							
							<div class="order-info-dfk">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
									
										#foreach($childOrder in $noPayedOrderList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：$!{childOrder.orderCode}</span>
													
													<span class="time">#if($childOrder.remainTime=='OUT_OF_DATE') 订单已过付款时间 #else 还剩$!{childOrder.remainTime}可以进行付款 #end</span>
												</td>
											</tr>
											
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($orderProduct.skuImg)" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
																<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															待付款
															<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
															<a href="/order/cancel?orderCode=${childOrder.orderCode}">取消订单</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.remainTime!='OUT_OF_DATE')<a href="javascript:;" class="pay-money">付款</a>#end
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
								
							</div>
							
                            
							<div class="order-info-dfh">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $noSendOrderList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$!date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：${childOrder.orderCode}</span>
													<span>供应商：$!{childOrder.supName}</span>
												</td>
											</tr>
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
															<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															待发货
															<a href="/order/order-detail-dfh?orderCode=$childOrder.orderCode">订单详情</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">退款</a>
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
							</div>
							
							<div class="order-info-dsk">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $sendOrderList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$!date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：${childOrder.orderCode}</span>
													<span>供应商：$!{childOrder.supName}</span>
												</td>
											</tr>
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														#set($size = $childOrder.orderProductList.size())
														<td rowspan="$size">
															<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
															<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
														</td>
														<td rowspan="$size">
															待收款
															<a style="display:block;" href="/order/order-detail-yfh?orderCode=$childOrder.orderCode">订单详情</a>
														</td>
														<td rowspan="$size">
															
														</td>
													#end
												</tr>
											#end
										#end
									
									</tbody>
								</table>
							</div>

							<div class="order-info-dpl">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($waitForComment in $waitForCommentList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>供应商：$!{waitForComment.supName}</span>
												</td>
											</tr>
											
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{waitForComment.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{waitForComment.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $waitForComment.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{waitForComment.sellPrice},100))</td>
													<td>$!{waitForComment.buyNum}</td>
													<td class="status">
														<p>¥$number.format("#0.00",$math.mul($!math.div($!{waitForComment.sellPrice},100),$!{waitForComment.buyNum}))</p>
													</td>
													<td class="status">
														待评价
														<a href="/order/order-detail-dpl?orderID=$waitForComment.childOrderID&orderProductID=$waitForComment.orderProductID">订单详情</a>
													</td>
													<td class="status">
														<a href="/order/evaluate-index?orderProductID=$waitForComment.orderProductID" class="pay-money">评价</a>
													</td>
												</tr>
											
										#end
									</tbody>
								</table>
							</div>
							
							<div class="order-info-tk">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($childOrder in $returnMoneyList)
											<tr class="status">
												<td colspan="6" class="text-left">
													<span>$!date.format("yyyy-MM-dd",$!{childOrder.createTime})</span>
													<span>订单编号：${childOrder.orderCode}</span>
													<span>供应商：$!{childOrder.supName}</span>
												</td>
											</tr>
											#foreach($orderProduct in $childOrder.orderProductList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.skuPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													#if($velocityCount==1)
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															<p>¥$!number.format("#0.00",$math.div($!{childOrder.orderSum},100))</p>
															<p>（含运费¥$!number.format("#0.00",$math.div($!{childOrder.postFee},100))）</p>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.status=='STK')
																退款审核中
															#elseif($childOrder.status=='TKZ')
																退款中
															#elseif($childOrder.status=='TKB')
																退款审核不通过
															#elseif($childOrder.status=='TKC')
																退款成功
															#elseif($childOrder.status=='TKS')
																退款失败
															#end
															<a href="/order/order-detail?orderCode=$childOrder.orderCode">订单详情</a>
														</td>
														<td rowspan="$childOrder.orderProductList.size()" class="status">
															#if($childOrder.status=='TKB')
																<a href="/order/return-money?orderCode=$childOrder.orderCode" class="pay-money">重新申请</a>
															#end
														</td>
													#end
												</tr>
											#end
											
										#end
									</tbody>
								</table>
							</div>
							<div class="order-info-th">
								<table class="table table-bordered table-hover table-responsive">
									<tbody>
										#foreach($orderProduct in $returnGoodsList)
												<tr>
													<td class="text-left">
														<a href="javascript:;" class="fl">
															<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;">
														</a>
														<div class="fr">
															<p>
																<a href="javascript:;">$!{orderProduct.productName}</a>
															</p>
															<p>
																#foreach($skuStr in $orderProduct.skuStrs)
																		<span>$skuStr</span>
																#end
															</p>
														</div>
													</td>
													<td>¥$!number.format("#0.00",$math.div($!{orderProduct.sellPrice},100))</td>
													<td>$!{orderProduct.buyNum}</td>
													
													<td>
														<p>¥$number.format("#0.00",$math.mul($math.div($!{orderProduct.sellPrice},100),$!{orderProduct.buyNum}))</p>
														<p></p>
													</td>
													<td>
														$orderProduct.returnGoodsStr
													</td>
													<td>
														#if(${orderProduct.returnGoodsStatus}=='NO#'||${orderProduct.returnGoodsStatus}=='JTK')
															<a href="/order/r2?p=$orderProduct.orderProductID" class="pay-money">重新申请</a>
														#else
															<a href="/order/return-goods-detail-orderproductid?orderProductID=$orderProduct.orderProductID">退货详情</a>
														#end
													</td>
													
												</tr>
										#end
									</tbody>
								</table>
							</div>
							
                           
                        </div>
                        <div class="button-group">
                            <a href="javascript:;" class="prev">上一页</a>
                            <a href="javascript:;" class="num active">1</a>
                            <a href="javascript:;" class="num">2</a>
                            <a href="javascript:;" class="num">3</a>
                            <span class="etc">...</span>
                            <a href="javascript:;" class="num">18</a>
                            <a href="javascript:;" class="next">下一页</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<script type="text/javascript">
			
			var curTab = "all";
			
			#if($!{orderListCount}==0)
				
			#elseif($!{orderListCount}<5)
				var pages = [];
				for(var i=0;i<$!{orderListCount};i++){
					pages.push(i+1);
				}
				$(".button-group").empty().append(paginationDefined(pages));
				
			#else
				$(".button-group").empty().append(paginationDefined([1,2,3,0,$!{orderListCount}]));
			#end
			$(".num:eq(0)").addClass("active");
			
			
			$(function(){
					
				
			
				$(".alipay-content a").click(function(){
					$(".alipay-content a").removeClass("active");
					$(this).addClass("active");
				});
				
				$("[class^='order-info']").hide();
				$(".order-info-all").show();
				
				$(".all").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-all").show();
					curTab="all";
					$(".button-group").empty().append(pagination($!{orderListCount}));
				});
				
				//点击待付款
				$(".dfk").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dfk").show();
					curTab="dfk";
					$(".button-group").empty().append(pagination($!{noPayedOrderListCount}));
				});
				
				//点击待发货
				$(".dfh").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dfh").show();
					curTab="dfh";
					$(".button-group").empty().append(pagination($!{noSendOrderListCount}));
				});
				
				//点击待收款
				$(".dsk").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dsk").show();
					curTab="dsk";
					$(".button-group").empty().append(pagination($!{sendOrderListCount}));	
				});
				
				//点击待评价
				$(".dpl").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-dpl").show();
					curTab="dpl";
					$(".button-group").empty().append(pagination($!{waitForCommentListCount}));	
				});
				
				//点击退款
				$(".tk").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-tk").show();
					curTab="tk";
					$(".button-group").empty().append(pagination($!{returnMoneyListCount}));	
				});
				
				//点击退货
				$(".th").click(function(){
					$("[class^='order-info']").hide();
					$(".order-info-th").show();
					curTab="th";
					$(".button-group").empty().append(pagination($!{returnGoodsListCount}));	
				});
			});
			
			$(".num").click(function(){
				
				var pageNum = $(this).text();
				console.log("pageNum:"+pageNum);
				
				var curPageNum = $(".num.active").text();
				/*
				var lastPage = $(".num:last-child").text();
				var firstPage = $(".num:first-child").text();
				
				$(".button-group").empty();
				
				if(lastPage>4){
			
					if(pageNum==lastPage){
						
					}else if(pageNum==firstPage){
						
					}else if(pageNum-firstPage==1){
						
					}else if(pageNum-firstPage==2){
						if(lastPage==5 && firstPage==1){
							$(".button-group").append(paginationDefined([2,3,4,5]));
							$(".num:eq(1)").addClass("active");
						}else if(lastPage==5 && firstPage==2){
							firstPage = pageNum-1;
						}else{
							
						}
						
					}
					
				}else{
					$(".num").removeClass("active");
					$(this).addClass("active");
				}
				*/
				
				
				
				
				
				
				
			});
			
			$(".button-group").on("click",".num",function(){
			
				var spanIndex = $(".etc").index()-1;
				var curIndex  = $(this).index()-1;
				var activeIndex = -1;
				
				var choosedIndex = $(".active").index()-1;
				if(choosedIndex==curIndex){
					return;
				}
				
				var firstPage = parseInt($(".num:eq(0)").text());
				var lastPage = parseInt($(".num:eq(3)").text());

				var pageNum = 0;
				var pageStr = "";
			
				if(curTab=='all'){
					pageNum = $!{orderListCount};
				}else if(curTab=='dfk'){
					pageNum = $!{noPayedOrderListCount};
				}else if(curTab=='dfh'){
					pageNum = $!{noSendOrderListCount};
				}else if(curTab=='dsk'){
					pageNum = $!{sendOrderListCount};
				}else if(curTab=='dpl'){
					pageNum = $!{waitForCommentListCount};
				}else if(curTab=='tk'){
					pageNum = $!{returnMoneyListCount};
				}else if(curTab=='th'){
					pageNum = $!{returnGoodsListCount};
				}
				
				console.log("pageNum:"+pageNum);
				console.log("spanIndex:"+spanIndex);
				console.log("curIndex:"+curIndex);
				console.log("lastPage:"+$(".num:eq(3)").text());
				
				
				
				if(spanIndex==1){
					if(curIndex<spanIndex){
						if(firstPage!=1){
							pageStr = paginationDefined([firstPage-1,firstPage,0,lastPage-2,lastPage-1]);
							activeIndex = 1;
						}else{
							pageStr = paginationDefined([firstPage,firstPage+1,0,lastPage-1,lastPage]);	
							activeIndex = 0;
						}
					}
					if(curIndex==4){
						if(lastPage<pageNum){
							pageStr = paginationDefined([firstPage+1,0,lastPage-1,lastPage,lastPage+1]);
							activeIndex = 2;
						}
					}
				}else if(spanIndex==2){
					if(curIndex==0){
						if(firstPage!=1){
							pageStr = paginationDefined([firstPage-1,firstPage,firstPage+1,0,lastPage-1]);
							activeIndex = 1;
						}
					}else if(curIndex==1){
						pageStr = paginationDefined([firstPage,firstPage+1,firstPage+2,0,lastPage]);
						activeIndex = 1;
					}else if(curIndex==3){
						pageStr = paginationDefined([firstPage,0,lastPage-2,lastPage-1,lastPage]);
						activeIndex = 2;
					}else if(curIndex==4){
						if(lastPage<pageNum){
							pageStr = paginationDefined([firstPage+1,0,lastPage-1,lastPage,lastPage+1]);
							activeIndex = 2;
						}
					}
				}else if(spanIndex==3){
					if(curIndex==0){
						if(firstPage!=1){
							pageStr = paginationDefined([firstPage-1,firstPage,firstPage+1,0,lastPage]);
							activeIndex = 1;
						}
					}else if(curIndex==2){
						if(firstPage+3<lastPage){
							pageStr = paginationDefined([firstPage+1,firstPage+2,firstPage+3,0,lastPage]);
							activeIndex = 1;
						}
					}else if(curIndex==4){
						if(lastPage==pageNum){
							if(lastPage-1>firstPage+2){
								pageStr = paginationDefined([firstPage+1,firstPage+2,0,lastPage-1,lastPage]);
								activeIndex = 3;
							}
						}else{
							if(lastPage-1>firstPage+2){
								pageStr = paginationDefined([firstPage+2,0,lastPage-1,lastPage,lastPage+1]);
								activeIndex = 2;
							}else{
								pageStr = paginationDefined([lastPage-3,0,lastPage-1,lastPage,lastPage+1]);
								activeIndex = 2;
							}
						}
					}
				}
				
				$(".num").removeClass("active");
				
				if(activeIndex!=-1){
					$(".button-group").empty().append(pageStr);
					$(".num:eq("+activeIndex+")").addClass("active");
				}else{
					$(this).addClass("active");
				}
			
				//页面数据加载
				var targetPage = parseInt((activeIndex!=-1)?$(".num:eq("+activeIndex+")").text():$(this).text());
				
				
					
				
				$(".button-group").on("click",".prev",function(){
				
					var firstPage = parseInt($(".num:eq(0)").text());
					var curPage = parseInt($(".num.active").text());
					var curIndex = $(".num.active").index();
					var spanIndex = $(".etc").index();
					var spanBeforePage = parseInt($(".etc").prev().text());
					if(curPage==1){
						return;
					}
					
					var pages = [];
					var isNeedChange = true;
					
					
					console.log(firstPage+" "+curPage+" "+curIndex+" "+spanIndex+" "+spanBeforePage);
					
					$(".num").each(function(){
						if(curPage-1==parseInt($(this).text())){
							isNeedChange = false;
						}
					});
					if(!isNeedChange){
						$(".num").removeClass("active");
						$(this).addClass("active");
						return;
					}
					
					if(curIndex<spanIndex && firstPage!=1){
						$(".num").each(function(){
							$(this).text(parseInt($(this).text())-1);
						});
						toTargetPage(curPage-1);
						return;
					}
					
					if(spanIndex!=-1 && curIndex-spanIndex==1){
						if(firstPage!=1){
							$(".num").each(function(){
								$(this).text(parseInt($(this).text())-1);
							});
							toTargetPage(curPage-1);
							return;
						}else{
							if(spanIndex==2){
								if(curPage==3){
									$(".button-group").empty().append(paginationDefined([1,2,0,4,5]));
									$(".num:eq(1)").addClass("active");
									toTargetPage(2);
									return;
								}else{
									$(".button-group").empty().append(paginationDefined([1,0,curPage-1,curPage,curPage+1]));
									$(".num:eq(1)").addClass("active");
									toTargetPage(curPage-1);
									return;
								}
							}else if(spanIndex==3){
								if(curPage==4){
									$(".button-group").empty().append(paginationDefined([1,2,3,0,5]));
									$(".num:eq(2)").addClass("active");
									toTargetPage(3);
									return;
								}else{
									$(".button-group").empty().append(paginationDefined([1,2,0,curPage-1,curPage]));
									$(".num:eq(1)").addClass("active");
									toTargetPage(curPage-1);
									return;
								}
							}else if(spanIndex==4){
								if(curPage==5){
									$(".button-group").empty().append(paginationDefined([1,2,0,4,5]));
									$(".num:eq(2)").addClass("active");
									toTargetPage(4);
									return;
								}else{
									$(".button-group").empty().append(paginationDefined([1,2,3,0,curPage-1]));
									$(".num:eq(3)").addClass("active");
									toTargetPage(curPage-1);
									return;
								}
							}
						}
					}
					
					
				});
				
				$(".button-group").on("click",".next",function(){
					
					var firstPage = parseInt($(".num:eq(0)").text());
					var curPage = parseInt($(".active").text());
					var curIndex = $(".active").index();
					var spanIndex = $(".etc").index();
					var pageNum = 0;
					
					if(curTab=='all'){
						pageNum = $!{orderListCount};
					}else if(curTab=='dfk'){
						pageNum = $!{noPayedOrderListCount};
					}else if(curTab=='dfh'){
						pageNum = $!{noSendOrderListCount};
					}else if(curTab=='dsk'){
						pageNum = $!{sendOrderListCount};
					}else if(curTab=='dpl'){
						pageNum = $!{waitForCommentListCount};
					}else if(curTab=='tk'){
						pageNum = $!{returnMoneyListCount};
					}else if(curTab=='th'){
						pageNum = $!{returnGoodsListCount};
					}
					
					if(curPage==pageNum){
						return;
					}
					
					
					
					
				});
				
			
			});
			
			
			function toTargetPage(targetPage){
					if(curTab=='all'){
						$.ajax({
							url:'${link.contextPath}/order/more-order',
							type:'POST',
							data:{"pageIndex":targetPage},
							dataType:'json',
							success:function(ret){
								console.log(ret);
								for(var i=0;i<ret.length;i++){
									console.log("status:"+ret[i].status);
								}
								$(".order-info-all").empty();
								if(ret.length!=0){
									$(".order-info-all").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									$(".order-info-all tbody").append(getItemStr(ret[i]));
								}
								
								
							}
						});
					}else if(curTab=='dfk'){
						$.ajax({
							url:"/order/more-nopay-order",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-dfk").empty();
								
								if(ret.length!=0){
									$(".order-info-dfk").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									ret[i].status='DFK';
									$(".order-info-dfk tbody").append(getItemStr(ret[i]));
								}
								
							}
						});
					}else if(curTab=='dfh'){
						
						$.ajax({
							url:"/order/more-nosend-order",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-dfh").empty();
								if(ret.length!=0){
									$(".order-info-dfh").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									ret[i].status='DFH';
									$(".order-info-dfh tbody").append(getItemStr(ret[i]));
								}
								
							}
						});
						
					}else if(curTab=='dsk'){
					
						$.ajax({
							url:"/order/more-send-order",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-dsk").empty();
								if(ret.length!=0){
									$(".order-info-dsk").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									ret[i].status='YFH';
									$(".order-info-dsk tbody").append(getItemStr(ret[i]));
								}
								
							}
						});
						
					}else if(curTab=='dpl'){
						$.ajax({
							url:"/order/more-comments",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-dpl").empty();
								if(ret.length!=0){
									$(".order-info-dpl").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									ret[i].status='DPL';
									$(".order-info-dpl tbody").append(getItemStr(ret[i]));
								}
								
							}
						});
					}else if(curTab=='tk'){
						
						$.ajax({
							url:"/order/more-returnmoney",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-tk").empty();
								if(ret.length!=0){
									$(".order-info-tk").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									$(".order-info-tk tbody").append(getItemStr(ret[i]));
								}
								
							}
						});
						
					}else if(curTab=='th'){
						
						$.ajax({
							url:"/order/more-returngoods",
							type:"POST",
							data:{"pageIndex":targetPage},
							dataType:"json",
							success:function(ret){
								$(".order-info-th").empty();
								if(ret.length!=0){
									$(".order-info-th").append('<table class="table table-bordered table-hover table-responsive"><tbody></tbody></table>');
								}
								
								for(var i=0;i<ret.length;i++){
									
									var orderProduct = ret[i];
									var tmpStr = "";
									
									tmpStr += '<tr><td class="text-left"><a href="javascript:;" class="fl"><img src="'+orderProduct.skuImg+'" style="width:121px;height:120px;"></a><div class="fr"><p><a href="javascript:;">'+orderProduct.productName+'</a></p><p>';
									
									for(var j=0;j<orderProduct.skuStrs.length;j++){
										tmpStr += '<span>'+orderProduct.skuStrs[j]+'</span>';
									}
									
									tmpStr += '</p></div></td><td>¥'+(orderProduct.sellPrice/100.0).toFixed(2)+'</td><td>'+orderProduct.buyNum+'</td><td><p>¥'+((orderProduct.buyNum*orderProduct.sellPrice)/100).toFixed(2)+'</p><p></p></td><td>'+orderProduct.returnGoodsStr+'</td><td>';
									
									if(orderProduct.returnGoodsStatus=='NO#'||orderProduct.returnGoodsStatus=='JTK'){
										tmpStr += '<a href="/order/r2?p='+orderProduct.orderProductID+'" class="pay-money">重新申请</a>';
									}else{
										tmpStr += '<a href="/order/return-goods-detail-orderproductid?orderProductID='+orderProduct.orderProductID+'">退货详情</a>';
									}
									tmpStr += '</td></tr>';
									$(".order-info-th tbody").append(tmpStr);
								}
								
							}
						});
						
					}
			}
			
		</script>
    </footer>
</body>
</html>