
<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>待发货订单详情</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- orderbar -->
    <section class="orderbar">
        <div class="order">
            <div class="container">
                <div class="row">
                    <div class="branch">
                        <span>我的阿拉丁</span><span>></span>
                        <span>订单中心</span><span>></span>
                        <span class="num">订单$!{orderCode}</span>
                    </div>
                </div>
                <div class="row">
                    <h3 class="title">订单状态</h3>
                    <div class="order-status">
                        <p>订单状态：待付款（$!{remainTime}未付款订单将自动关闭）</p>
                        <p>
                            <a href="javascript:;" class="link">立即付款</a>
                            <a href="javascript:;" class="cancel">取消订单</a>
                        </p>
                    </div>
                </div>
                <div class="row order-message">
                    <div class="col-md-4">
                        <h3 class="title">订单信息</h3>
                        <div class="order-status">
                            <p>收货地址：$!{recName}  $!{recMobile} $!{address}</p>
                            <p>订单编号：$!{orderCode}</p>
                            <p>成交时间：$!date.format("yyyy-MM-dd HH:mm",$!{createTime})</p>
                            <p>发票抬头：$!{invoiceName}</p>
                            <p>支付方式：$!{payChannel}</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="title">物流信息</h3>
                        <div class="order-status">
                            <div class="box">
                                <p>暂无物流信息</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- cartbar -->
    <section class="cartbar apply-menu">
        <div class="cart order-status">
            <div class="container">
                <div class="row">
                    #foreach($childOrder in $childOrderVo)
						<table class="table order-table table-bordered table-responsive">
									<thead>
										#if($velocityCount==1)
											<th>商品</th>
											<th>单价(元)</th>
											<th>数量</th>
											<th>实付款(元)</th>
											<th>状态</th>
											<th>运费</th>
										#end
									</thead>
									<tbody>
										<tr class="status">
											<td colspan="6" class="text-left">
												<span>$!date.format("yyyy-MM-dd",$!{createTime})</span>
												<span>订单编号：$!{childOrder.orderCode}</span>
												<span>供应商：$!{childOrder.supName}</span>
												<span class="time">$!{remainTime}可以进行付款</span>
											</td>
										</tr>
										#foreach($orderProduct in $childOrder.childOrdreProductVo)
											<tr>
												<td class="text-left">
													<a href="javascript:;" class="fl">
														<img src="$qiniu.getDownloadUrl($!{orderProduct.skuImg})" style="width:121px;height:120px;"/>
													</a>
													<div class="fr">
														<p>
															<a href="javascript:;">$!{orderProduct.productName}</a>
														</p>
														<p>
															#foreach($skuStr in $orderProduct.skuStrs)
																<span>$skuStr</span>
															#end
														</p>
													</div>
												</td>
												<td>¥$!number.format("#0.00",$!math.div($!{orderProduct.skuPrice},100))</td>
												<td>$!{orderProduct.buyNum}</td>
												#set($size = $childOrder.childOrdreProductVo.size)
												<td rowspan="$size">
													<p>¥$!number.format("#0.00",$math.mul($!math.div($!{orderProduct.skuPrice},100),$!{orderProduct.buyNum}))</p>
													<p>（含运费¥0.00）</p>
												</td>
												<td rowspan="$size">待付款</td>
												<td rowspan="$size">￥0.00</td>
											</tr>
										#end
									</tbody>
						</table>
					#end
                </div>
                <div class="row bottom">
                    <div class="pull-right">
                        <p class="price-total">实付款（含运费）：¥$number.format("#0.00",$math.div($!{pSum},100))</p>
                        <p>
                            <span>选择付款方式：</span>
                            <a href="javascript:;">
                                <input type="radio" name="method">
                                <img src="/images/way/way-01.png">
                            </a>
                            <a href="javascript:;">
                                <input type="radio" name="method" checked="true">
                                <img src="/images/way/way-02.png">
                            </a>
                            <a href="javascript:;">
                                <input type="radio" name="method">
                                <img src="/images/way/way-03.png">
                            </a>
                            <a href="javascript:;">
                                <input type="radio" name="method">
                                <img src="/images/way/way-04.png">
                            </a>
                            <a href="javascript:;">
                                <input type="radio" name="method">
                                <span>账户余额（￥1000.00）</span>
                            </a>
                        </p>
                        <button type="button" class="btn btn-pay jq-orderError" data-toggle="modal" data-target="#myModal" data-href="/Aladdin/order-popup.html" data-class="modal-cartProduct">立即支付</button>
                    </div>    
                </div>
            </div>
        </div>
    </section>
    
    <!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>浏览记录</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>