<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>确认订单</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<script src="${link.contextPath}/js/cookie.js"></script>
<script src="${link.contextPath}/js/common.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/mall.css" type="text/css" />
<link rel="stylesheet" href="${link.contextPath}/css/order-generate.css" type="text/css" />
</head>
<body>
#parse("./common/header.vm") 
	<div id="container">
    <form id="placeOrder" action="${link.contextPath}/order/placeOrder" method="post">
    <input type="hidden" name="receaddID" value="$!{receaddID}"/>
    <input type="hidden" name="mode" value="$!{mode}"/>
    <input type="hidden" name="orderCode" value="$!{orderCode}"/>
    <input type="hidden" name="payType" value="WXP"/>
    <div class="header">
        <a href="javascript:history.go(-1);" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/classfiy/back_n.png">
			<img class="img2" src="${link.contextPath}/images/classfiy/back_p.png">
		</a>
        <span>确认订单</span>
    </div>
	<a href="javascript:void(0);" class="setadd"><div class="order-address">
		<div class="order-left">
			#if($recName)
			<div class="order-left-top">
				<table class="order-tb">
					<tr>
						<td style="width:55px;text-align:right;padding-right:5px;">收货人:</td>
						<td><span>${recName}</span><span style="position:absolute;right:30px;color:#666">${recMobile}</span></td>
					</tr>
					<tr style="vertical-align:top;">
						<td style="width:55px;text-align:right;padding-right:5px;">收货地址:</td>
						<td style="text-align:left:color:#cecece;color:#666">${fullAddress}</td>
					</tr>
				</table>
			</div>
			#else
			<div style="height:55px;line-height:55px;text-align:center;">
			尚未设置收货地址，前往设置
			</div>
			#end
		</div>
		<div class="order-right">
			<img src="${link.contextPath}/images/img/arrow.png" />
		</div>
	</div></a>
	
	#foreach($orderProduct in $supplierProducts)
	<input type="hidden" name="supplierAmounts" value=""/>
	<div class="order-info">
		<div class="info-title">
			<p>供应商：<span>${orderProduct.supName}</span></p>
		</div>
		#foreach($orderProductDetail in $orderProduct.shopCarProducts)
		<input type="hidden" name="skuIds" value="${orderProductDetail.skuID}"/>
		<input type="hidden" name="buyNums" value="${orderProductDetail.skuQuality}"/>
		<input type="hidden" name="skuPrices" value='$!{orderProductDetail.skuPrice}'/>
		<div class="info-content">
			
			<div class="info-bottom">
				<div class="info-bottom-img imgLiquidNotFill">
					<a href="#"><img src="$!qiniu.getDownloadUrl(${orderProductDetail.imgPath})" /></a>
				</div>
					<p class="bottom-1">${orderProductDetail.productName}</p>
					<p class="bottom-2">
						<!-- 如果没有skuStr 需要加个空格占一行 -->
				#if($orderProductDetail.skuStrs.isEmpty())<span>&nbsp;</span>#end
				#foreach($skuStr in $orderProductDetail.skuStrs)<span>$skuStr</span>&nbsp;#end
					</p>
					<p class="bottom-3"><span style="color:#F389AA;font-size:14px;">￥$number.format("#0.00",$math.div(${orderProductDetail.skuPrice},100))</span><span class="number">x${orderProductDetail.skuQuality}</span></p>
			</div>
			
		</div>
		#end
		#if($recName)
		<div class="order-freight">
			<p class="freiht-p">
				<span>运费</span><span class="p-right">#if($orderProduct.postFee==0)包邮#else￥$number.format("#0.00",$math.div(${orderProduct.postFee},100))#end</span>
			</p>
			<p class="p-left">温馨提示：如果超重物品需要另外加费</p>
		</div>
		#end
		<div class="order-freight">
			<p class="freiht-p">
				<span>小计(#if($recName)含运费#else不含运费#end)</span><span class="p-right">￥$number.format("#0.00",$math.div(${orderProduct.supplierAmount},100))</span>
			</p>
		</div>
	</div>
	#end
	<input type="hidden" name="invoiceID" value=""/>
	<input type="hidden" name="invoiceName" value=""/>
	
	<div class="invoice">
		<!-- <input type="hidden" name="invoiceID" value=""/>
		<a href="javascript:" class="btn invoice-link" id="invoice-btn">
			<img class="img1 option-img1" src="${link.contextPath}/images/img/select_n.png" />
			<img class="img2 option-img2" src="${link.contextPath}/images/img/select_p.png" />
			发票
		</a>
		<div class="invoice-main" style="display:none;height:#if($invoice.size()==0)30px#else$math.add(20,$math.mul(40,$invoice.size()))px#end;">
			<ul>
				<li><input class="text" placeholder="输入发票抬头" name="invoiceName" readonly="readonly"/></li>
				#foreach($inv in $invoice)
				<li><a href="javascript:" class="optionS" data-invoiceid="$!{inv.ID}">
					<img class="img1 option-img1" src="${link.contextPath}/images/img/select_n.png" />
					<img class="img2 option-img2" src="${link.contextPath}/images/img/select_p.png" />
					$!inv.invoiceInfo
				<a></li>
				#end
			</ul>
			
		</div>
		 -->
		<div class="invoice-message">
			<input type="text" placeholder="给卖家留言" name="notes" value="$!{notes}" readonly="readonly"/>
		</div>
	</div>
		<div class="pay-type">
			<div class="pay-type-title" >
				选择支付方式
			</div>
			<!-- 
			<div class="pay-type-left">
				<input type="radio" name="pay" checked="checked" value="wx">微信支付
			</div>
			 -->
			 <div class="pay-type-left">
				<input type="radio" name="pay" checked="checked" value="unionPay">银联支付
			</div>
			 
			<div class="pay-type-right">
				<input type="radio" name="pay" value="remain" checked="checked" #if($remainNotEnough)disabled="disabled"#end>余额支付#if($remainNotEnough)(余额不足)#end
			</div>
			
			#if($remainNotEnough)
			<div style="clear:both;margin-left: 3%;padding-left:21px;font-size: 14px;">
			              <a href="/user/recharge" style="text-decoration: underline;">马上充值</a>
			</div>
			#end
		</div>
	<div class="order-pay-footer">
		<input type="hidden" name="pFee" value=""/>
		<input type="hidden" name="pSum" value=""/>
		<div class="order-pay-footer-left"> 
			<p class="ppFee">总运费：<span style="color:#E81959" class="pFee">￥$number.format("#0.00",$math.div($!{totalPostFee},100))</span></span></p>
			<p class="ppSum">合计(含运费)<span style="color:#E81959" class="pSum">￥$number.format("#0.00",$math.div($!{totalPrice},100))</span></p>
		</div>
		<a href="javascript:" id="sureOrder">确定购买</a>
	</div>

	</form>
</div>
</body>
<script>
    $(function(){
    	
    	#if(${invoiceID})
    		$(".invoice-link").find(".option-img1").hide();
    		$(".invoice-link").find(".option-img2").show();
    		$(".invoice-main").slideDown();
    		$("input[name=invoiceName]").val('${invoiceName}');
    		$("input[name=invoiceID]").val('${invoiceID}');
    		$(".optionS").each(function(){
    			var tmpInvID = $(this).data("invoiceid");
    			if(tmpInvID=='${invoiceID}'){
    					$(this).find(".option-img1").hide();
    					$(this).find(".option-img2").show();
    			}
    		});
    		
    	#end
    	
    	//如果余额不足
    	#if(${remainNotEnough})
			$(".pay-type-left").css("margin-left","15%");
			$(".pay-type-right").css("width","50%");
		#end
		/*
    	$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		 $(".optionS").click(function(){
			$(".optionS").find(".img2").hide();
			$(".optionS").find(".img1").show();
			$(this).find(".img2").show();
			$(this).find(".img1").hide();
			$(".text").val($(this).get(0).innerText);
			
			
		}); 
		$(".text").focus(function(){
			$(".optionS").find(".img2").hide();
			$(".optionS").find(".img1").show();
		});
		*/
		$(".btn2").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
				$(this).removeClass("bg1").addClass("bg2");
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
				$(this).removeClass("bg2").addClass("bg1");
			}
		});
	});
	
	$(".p-right").each(function(){
		if($(this).text()!= "包邮"){
			$(this).parent(".freiht-p").siblings(".p-left").show();
		}else{
			$(this).parent(".freiht-p").siblings(".p-left").hide();
		}
	});
	
	$(".type-btn").click(function(){
		if($(this).hasClass("bg1")){
			$(".type-btn").removeClass("bg2").addClass("bg1");
			$(this).removeClass("bg1").addClass("bg2");
		}
	});
	
	$("#sureOrder").click(function(){
		$(this).css({"background-color":"#E81959","color":"#fff"})
	});
	/*
	$("#invoice-btn").click(function(){
		if($(".invoice-main").is(":visible")){
			$(".invoice-main").slideUp();
			//隐藏所有的发票 并清空 发票栏
			$(".optionS").find(".img1").show();
			$(".optionS").find(".img2").hide();
			$("input[name=invoiceID]").val("");
			$("input[name=invoiceName]").val("");
		}else{
			$(".invoice-main").slideDown();
		}
	})
	*/
	var payResult;//支付的参数
	$.ajaxSettings.traditional = true;
	$.ajaxSettings.async = false;
	$("#sureOrder").click(function(){
		
		#if(${common.subscribe}!=1)
			alert("您尚未关注公众号,无法进行购买");	
			return;
		#end
		
		//将按钮设置为
		if(!confirm("是否确定购买?")){
				return;
			}
		$(this).unbind("click");
		
		//如果发票 3个选中1个  则设置invoiceID
		$(".optionS").each(function(){
			if($(this).find(".img2").is(":visible")){
				$("input[name=invoiceID]").val($(this).data("invoiceid"));
			}
		});
		
		
		//设置pFee pSum
		var pattern = new RegExp("^[0-9]+\.{0,1}[0-9]{0,2}$");
		var pFee = $(".pFee").text().substring(1);
		var pSum = $(".pSum").text().substring(1);
		
		var pFeeToFixed = accMul(Number(pFee).toFixed(2),100);
		var pSumToFixed = accMul(Number(pSum).toFixed(2),100);
		
		$("input[name=pFee]").val(pFeeToFixed);
		$("input[name=pSum]").val(pSumToFixed);
		
		var val = $("input:radio[name=pay]:checked").val();
		var skuIds = [];
		var buyNums = [];
		$("input[name=skuIds]").each(function(){
			skuIds.push($(this).val());
		});
		$("input[name=buyNums]").each(function(){
			buyNums.push($(this).val());
		});
		var limit = false;
		$.ajax({
			url:"${link.contextPath}/product/check-limit-count",
			dataType:"JSON",
			data:{"skuIds":skuIds,"buyNums":buyNums},
			success:function(ret){
				if(ret && ret.limit){
					alert("您有商品超过限购数量");
				}else{
					if(val=='wx'){
						$.ajax({
							url:"${link.contextPath}/order/placeOrder",
							type:"POST",
							data:$("#placeOrder").serialize(),
							dataType:"json",
							success:function(payInfo){
								if(payInfo&&payInfo.timeStamp){
									payResult = payInfo;
									payNow();
								}				
							}
						});
					}else if(val=='remain'){
						#if($remainNotEnough)
						alert("余额不足,无法支付");
						sureOrderAble=true;
						return;
					#end
						$("input[name=payType]").val("SUM");
						$("#placeOrder").submit();
					}else if(val=='unionPay'){
						$("input[name=payType]").val("UNI");
						$("#placeOrder").submit();
					}
				}
			}
		});
		
		
		
		
		
	});
	
	function onBridgeReady(){
		if(payResult){
			WeixinJSBridge.invoke(
			   'getBrandWCPayRequest', {
				   "appId":payResult.appId,
				   "nonceStr":payResult.nonceStr,
				   "timeStamp":payResult.timeStamp,
				   "package":payResult.package,
				   "signType":payResult.signType,
				   "paySign":payResult.paySign
			   },
			   function(res){
				   //if(confirm("完成支付")){
						location.href="${link.contextPath}/order/pay-result?orderCode="+payResult.orderCode;
				  // }else{
						//location.href="${link.contextPath}/order/pay-result?orderCode="+payResult.orderCode;
				   //}
			   }
		   );	
		}
	}
	
	function payNow(){
		
		if (typeof WeixinJSBridge == "undefined"){
		   if( document.addEventListener ){
			   document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
		   }else if (document.attachEvent){
			   document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
			   document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
		   }
		}else{
		   onBridgeReady();
		}
		
	}
	
</script>
#parse("./common/img_adjust.vm")
</html>