<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>阿拉丁--支付成功</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- message-bar -->
    <section class="message-bar payment">
        <div class="message">
            <div class="container">
                <div class="row">
                    <div class="info">
                        <i class="icon-info-check"></i>
                        <div class="detail">
                            <p>支付成功！我们会尽快为您发货！</p>
                            <p class="small">订单编号：$!{orderCode}
                                <a href="/order/order-detail?orderCode=$!{orderCode}" class="red">查看订单详情</a>
                            </p>
                            <div class="price">
                                <div class="fl">
                                    <p>在线支付：¥$!number.format("0.00",$!math.div($!{pSum},100))</p>
                                    <a href="javascript:;" class="red">继续逛逛</a>
                                </div>
                                <a href="javascript:;" class="fr">
                                    <img src="/images/code.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>为您推荐</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png" />
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png" />
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png" />
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png" />
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>