
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品下架</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/pay-success.css" type="text/css" />
<style>
.index-btn{width:60%;height:40px;margin-left:20%;margin-top:30px;text-align: center;background-color:#fff;border:1px solid #cecece;box-shadow:0 0 5px #cecece;border-radius:8px;transition:all 0.5s linear;-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-o-transition:all 0.5s linear;}
.index-btn a{width:100%;height:100%;display:block;line-height:40px;color:#666;position:relative;font-size:16px;}
.index-btn:active{background-color:#E81959;transition:all 0.5s linear;-webkit-transition:all 0.5s linear;-moz-transition:all 0.5s linear;-o-transition:all 0.5s linear;}
</style>
</head>

<body>
#parse("./common/header.vm") 
	<div id="container">
    <div class="header">
        <a href="${link.contextPath}/order/order-index" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/classfiy/back_n.png">
			<img class="img2" src="${link.contextPath}/images/classfiy/back_p.png">
		</a>
        <span>商品下架</span>
    </div>
	<div class="pay-tip">
		以下商品已下架，无法进行购买
		<ul style="padding-right:15px;">
			#foreach($productNameMap in $noUpProductNameList)
			<li>$!{productNameMap.productName}</li>
			#end
		</ul>
		<div class="index-btn">
				 <a href="${link.contextPath}/" class="addAddress"> 
		       			到首页逛逛
		       	</a>
		</div>
	</div>
</div>
</body>
<script>
    $(function(){
		$(".pay-link").click(function(){
			if($(this).hasClass("bg1")){
				$(this).removeClass("bg1").addClass("bg2");
			}else{
				$(this).removeClass("bg2").addClass("bg1");
			}
		});
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();;
			}
		})
	});
</script>
</html>