<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>申请退货</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="../../js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="${link.contextPath}/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="${link.contextPath}/js/qiniu.js"></script>
<script src="${link.contextPath}/js/common.js"></script>
<link rel="stylesheet" href="../css/return-goods.css" type="text/css" />
</head>
<body>
#parse("./common/header.vm")
<div id="container">
    <div class="header">
        <a href="${link.contextPath}/order/order-index" class="header-back btn">
			<img class="img1" src="../images/back_n.png">
			<img class="img2" src="../images/back_p.png">
		</a>
        <span>申请退货</span>
	</div>
	<form id="returnGoods" action="${link.contextPath}/order/apply-return-goods" method="post">
		<input type="hidden" name="orderCode" value="$!{orderCode}"/>
		<input type="hidden" name="orderProductID" value="$!{orderProductID}"/>
		<div class="return-area">
			<p class="area-title">退货原因</p>
			<div class="area-selected">
				<div class="seleted-content">选择退货原因</div>
				<div class="select-img">
					<img class="img1" src="../images/pull_down.png" />
					<img class="img2" src="../images/up_down.png" />
				</div>
				<select class="selected" name="returnReason">
					<option>选择退货原因</option>
					<option value="SEV">七天无理由退货</option>
					<option value="DES">收到商品破损</option>
					<option value="QUA">商品质量问题</option>
					<option value="SJ#">少件/漏发</option>
					<option value="TYF">退运费</option>
					<option value="WAY">未按约定发货</option>
					<option value="JMP">假冒品牌</option>
					<option value="FP#">发票问题</option>
					<option value="REP">商品需要维修</option>
					<option value="WRO">收到商品与描述不符</option>
				</select>
			</div>
			<p class="area-title"><span>退货金额</span><span class="price">最多可以退款￥$number.format("#0.00",${refundLimit})</span></p>
			<div class="area-input">
				<input type="hidden" name="refundFee" text=""/> 
				<input type="text" placeholder="请输入退货金额" class="refundFee">
			</div> 
			<p class="waring">退款金额不得超过￥<span class="refundLimit">$number.format("#0.00",${refundLimit})</span></p>
			<p class="area-title"><span>退货说明</span><span class="price">(可不填)</span></p>
			<div class="area-textarea">
				<textarea  placeholder="请输入退货说明" name="returnDesc"></textarea>
			</div>
			<div class="upload-img">上传照片</div>
			<div class="upload-area">
				<a href="javascript:" class="btn" id="pickfiles"><div class="area-img">
					<img class="img1" src="${link.contextPath}/images/add_n.png">
					<img class="img2" src="${link.contextPath}/images/add_p.png">
				</div></a>
				<span class="e-img" style="position:relative;">
				</span>
				<span class="imgPaths">
				</span>
				
			</div>
			<div style="text-align:center;font-size:15px;">
				最多可选择3张照片
			</div>
		</div>
		
		<div class="return-btn">
			<a href="javascript:void(0);" class="rbrn">提交申请</a>
		</div>
	</form>
</div>
</body>
</body>
<script>
function uuid() {

	var s = [];

	var hexDigits = "0123456789abcdef";

	for (var i = 0; i < 36; i++) {

		s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);

	}

	s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010

	s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01

	s[8] = s[13] = s[18] = s[23] = "-";

 

	var uuid = s.join("");

	return uuid;

}
    $(function(){
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		$(".rbrn").click(function(){
			$(this).css({"color":"#fff","background-color":"#E81959"});
			setTimeout(function(){
				$(".rbrn").css({"color":"#666","background-color":"#fff"});
			},1000)
			if($(".seleted-content").text()=='选择退货原因'){
				alert("请选择退货原因");
				return;
			}
			if($(".refundFee").val().trim()==''){
				alert("请填写退款金额");
				return;
			}
			var refundFee = parseFloat($(".refundFee").val());
			if(isNaN(refundFee) || refundFee<=0){
				alert("请填写合法的退款金额");
				return;
			}
			
			if(refundFee>$(".refundLimit").text()){
				alert("您输入的退款金额超出范围");
				return;
			}
			
			$("input[name=refundFee]").val(accMul(parseFloat($(".refundFee").val()).toFixed(2),100));
			
			$("#returnGoods").submit();
		});
		$(".selected").click(function(){
			
			if($(this).siblings(".select-img").find(".img1").is(":visible")){
				$(this).siblings(".select-img").find(".img1").hide();
				$(this).siblings(".select-img").find(".img2").show();
			}else{
				$(this).siblings(".select-img").find(".img1").show();
				$(this).siblings(".select-img").find(".img2").hide();
			}
		
		});
		$(".selected").change(function(){
			var divTxt = $(".seleted-content");
			var optionTxt = $(".selected option:selected");
			divTxt.text(optionTxt.text());
			$(this).siblings(".select-img").find(".img1").show();
			$(this).siblings(".select-img").find(".img2").hide();
		})
		
		$.ajaxSetup({  
		    async : false  
		});
		
	    $(".upload-area").on("click",'.delete-pic',function(){
	    	if(!$("#pickfiles").is("visible")){
	    		$("#pickfiles").show();
	    	}
	    	var index = $(this).closest(".evaluate-img").index();
	    	$(this).closest(".evaluate-img").remove();
	    	$("input[name=imgs]:eq("+index+")").remove();
	    	$(".upload-area").css("text-align","left");
	    });
	    
	    function onBridgeReady(){
	    		 var images = {
		    	    localIds: [],
		    	    serverIds: [],
		    	  };
	    		  $("#pickfiles").click(function(){
					  
					  wx.chooseImage({
							count: 3, // 默认9
							sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
							sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
							success: function (res) {
								images.localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
								var len = images.localIds.length;
								var curLen = $(".e-img span").length;
								if(len+curLen>3){
									alert("最多只能上传3张图片");
									return;
								}else{
									for(var i=0;i<len;i++){
										$('.e-img').append('<span class="evaluate-img" style="position:relative;display:inline-block;margin-left:3px;width:80px;height:80px;vertical-align:middle;border:1px solid gray;"><img width="80" height="80" src="'+images.localIds[i]+'"><a href="javascript:" style="position:absolute;right:-5px;top:-5px;" class="delete-pic"><img src="${link.contextPath}/images/Delete.png" style="width:15px;height:15px;"></a></span>');
									}
									if(curLen+len==3){
										$("#pickfiles").hide();
										$(".upload-area").css("text-align","center");
									}
								}
			    	 		
								syncUpload(images.localIds);
						  
							}
						});
	    		  });
		    
	    }
	    function chooseNow(){
			
			if (typeof WeixinJSBridge == "undefined"){
			   if( document.addEventListener ){
				   document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
			   }else if (document.attachEvent){
				   document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
				   document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
			   }
			}else{
			   onBridgeReady();
			}
			
		}
	    chooseNow();
	    
	    
	});
    function syncUpload(localIds){

    	var localId = localIds.shift();

    	wx.uploadImage({
	            localId: localId,
	            isShowProgressTips: 1,
	            success: function (res) {
	            	 $('.imgPaths').append('<input type="hidden" name="imgs" value="'+res.serverId+'"/>');
	            	 
	                //其他对serverId做处理的代码
	                 if(localIds.length > 0){
	                  syncUpload(localIds);
	                 }
	                 
	                             
	            },
	            error: function(){
	              alert("图片上传失败");
	            }
	      });
		
		
	}
</script>
</html>