<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>退货详情</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/returnG-success.css" type="text/css" />
</head>
<!-- 去掉若选择"其他",请填写好物流公司 -->
<body>
#parse("./common/header.vm") 
<div id="container">
    <div class="header">
        <a href="${link.contextPath}/order/order-index" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/back_n.png">
			<img class="img2" src="${link.contextPath}/images/back_p.png">
		</a>
        <span>退货详情</span>
    </div>
	<div class="returnG-title">
		<div class="title1">
			<p>退货编号：$!{goodsReturn.returnCode}</p>
			<p>申请时间：$!date.format('yyyy-MM-dd HH:mm ',$!goodsReturn.applyTime)</p>
		</div>
		<div class="detail-process">
			<ul>
				<li class="bg1">
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:20px;">提交</div>
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:15px;">退货申请</div>
				</li>
				<li class="bg2">
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:20px;">商家</div>
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:15px;">审核通过</div>
				</li>
				<li class="bg1">
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:20px;">等待</div>
					<div style="width:100%;height:50%;margin:0;padding:0;line-height:15px;">商家收货</div>
				</li>
				<li class="bg1">退货成功</li>
			</ul>
			<div class="process-bottom">
				<p>商家审核通过</p>
			</div>
		</div>
	</div>
	<div class="pass-area">
		<div class="pass-title">寄回地址</div>
		<p><span style="margin-left:30px;">地址：</span><span>$!{fullAddress}</span></p>
		<p><span style="margin-left:20px;">收货人：</span><span>$!{recName}</span></p>
		<p><span style="margin-left:10px;">联系电话：</span><span>$!{recMobile}</span></p>
	</div>
	<form id="logisticsForm" action="${link.contextPath}/order/set-return-goods-logistics" method="POST">
		<input type="hidden" name="logistics" value="">
		<input type="hidden" name="goodsReturnID" value="$!{goodsReturn.ID}">
		<div class="pass-footer">
			<div class="pass-title">填写物流单号</div>
			<div class="pass1">
				<span>物流公司</span>
				<div class="area-selected">
					<div class="seleted-content">请选择物流公司</div>
					<select class="selected" name="logisticsID">
						<option value="0">请选择物流公司</option>
						<option value="1">顺丰快递</option>
						#foreach($expressCompany in $expressCompanyList)
							<option value="$expressCompany.ID">$expressCompany.companyName</option>
						#end
					</select>
					<div class="select-img">
						<img class="img1" src="${link.contextPath}/images/pull_down.png" />
						<img class="img2" src="${link.contextPath}/images/up_down.png" />
					</div>
				</div>
				<!-- <span class="txt">若选择"其他",请填写好物流公司</span> -->
			</div>
			<div class="pass2">
				<span>物流单号</span>
				<div class="area-selected">
					<div class="seleted-content2">
						<input type="text" name="logisticsNum" placeholder="填写物流单号" class="logisticsNum">
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="pass-btn">
		<a href="javascript:" class="submit-pass">提 交</a>
	</div>
	<div class="common-msg">
		
	</div>
</div>
</body>
<script>
    $(function(){
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
			setTimeout(function(){
				$(".btn").find(".img1").show();
				$(".btn").find(".img2").hide();
			},1000)
		});
		$(".submit-pass").click(function(){
			
			//判断提交信息是否正确
			if($(".selected").val()==0){
				//请选择物流公司
				$(".common-msg").text("请选择物流公司");
				$(".common-msg").fadeIn();
				setTimeout(function () {
					$(".common-msg").fadeOut();
				}, 2000);
				return;
			}
			#if($null.isNull(${fullAddress}) or $null.isNull(${recName}) or $null.isNull(${recMobile}))
				$(".common-msg").text("供应商信息不完整,无法退货");
				$(".common-msg").fadeIn();
				setTimeout(function () {
					$(".common-msg").fadeOut();
				}, 2000);
				return;
			#end
			if(""==$(".logisticsNum").val().trim()){
				//请填写物流单号
				$(".common-msg").text("请填写物流单号");
				$(".common-msg").fadeIn();
				setTimeout(function () {
					$(".common-msg").fadeOut();
				}, 2000);
				return;
			}
			var logisReg = /^[a-zA-Z0-9]+$/;
			if(!logisReg.test($(".logisticsNum").val())){
				$(".common-msg").text("物流单号不正确");
				$(".common-msg").fadeIn();
				setTimeout(function () {
					$(".common-msg").fadeOut();
				}, 2000);
				return;
			}
			
			$(this).css({"color":"#fff","background-color":"#E81959"});
			console.log("logisticsID-->"+$(".selected").val());
			console.log("logistics-->"+$(".selected option:selected").text());
			console.log("logisticsNum-->"+$(".logisticsNum").val());
			
			$("input[name=logistics]").val($(".selected option:selected").text());
			
			$("#logisticsForm").submit();
			
			/* $.ajax({
				url:'${link.contextPath}/order/set-return-goods-logistics',
				data:{"goodsReturnID":"$!{goodsReturn.ID}","logisticsID":$(".selected").val(),"logistics":$(".selected option:selected").text(),"logisticsNum":$(".logisticsNum").val()},
				dataType:'json',
				success:function(ret){
					if(ret && ret.errcode==0){
						$(".common-msg").text("提交成功");
						$(".common-msg").fadeIn();
						setTimeout(function () {
							$(".common-msg").fadeOut();
						}, 2000);
					}else{
						$(".common-msg").text("提交失败");
						$(".common-msg").fadeIn();
						setTimeout(function () {
							$(".common-msg").fadeOut();
						}, 2000);
					}
				}
			})
			setTimeout(function(){
				$(".submit-pass").css({"color":"#666","background-color":"#fff"});
			},1000) */
		});
		$(".selected").click(function(){
			if($(this).siblings(".select-img").find(".img1").is(":visible")){
				$(this).siblings(".select-img").find(".img1").hide();
				$(this).siblings(".select-img").find(".img2").show();
			}else{
				$(this).siblings(".select-img").find(".img1").show();
				$(this).siblings(".select-img").find(".img2").hide();
			}
		});
		$(".selected").change(function(){
			var divTxt = $(".seleted-content");
			var optionTxt = $(".selected option:selected");
			divTxt.text(optionTxt.text());
			$(this).siblings(".select-img").find(".img1").show();
			$(this).siblings(".select-img").find(".img2").hide();
		})
	});
</script>
</html>
