<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>退款审核不通过</title>
</head>
<body>
   #parse("./common/header.vm") 
    
    <!--  refund-bar -->   
    <section class="refund-bar">
        <div class="refund">
            <div class="container">
                <div class="row">
                    <ul class="refund-list refund-money">
                        <li>
                            <a href="javascript:;">
                                <p>买家申请退款</p>
                                <em>1</em>  
                             </a>
                        </li>
                        <li class="active">
                            <a href="javascript:;">
                               <p>商家审核不通过</p>
                               <em>2</em> 
                             </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <p>等待商家退款</p>
                                <em>3</em> 
                             </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- content-bar -->
    <section class="content-bar">
        <div class="content return">
            <div class="container">
                <div class="row">
                    <div class="return-item failed">
                        <div class="col-md-3">
                            <h2>订单信息</h2>
                            <div class="information">
                                <p>收货地址：$!{recName}  $!{recMobile} $!{address}</p>
                                <p>订单编号：$!{orderCode}</p>
                                <p>成交时间：$!date.format("yyyy-MM-dd HH:mm",$!{payTime})</p>
                                <p>总    计：$!number.format("#0.00",$!math.div($!{orderSum},100))元</p>
                                <p>发票抬头：$!{invoiceName}</p>
                                <p>支付方式：$!{payChannel}</p>
                            </div>
                            <h2>退款信息</h2>
                            <div class="information">
                                <p>退款金额  ¥$!number.format("#0.00",$math.div($!{moneyReturn.applySum},100))</p>
                                <p>退款原因  $!{returnReason}</p>
                                <p>退款说明  $!{moneyReturn.returnDesc}</p>
                                <p>退款编号  $!{moneyReturn.returnCode}</p>
                                <p>申请时间  $!date.format("yyyy-MM-dd HH:mm",$!{moneyReturn.createTime})</p>
                            </div>
                        </div>
                        <div class="col-md-9 message">
                            <div class="return-autid">  
                                <h2>商家审核不通过</h2>
                                <p>需要您联系客服或修改退款申请</p>
                                <p>
                                    <a href="/order/modify-return-money?moneyReturnID=$!{moneyReturn.ID}" class="audit">修改退款申请</a>
                                    <a href="javascript:;" class="service">联系客服</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- cartbar -->    
    <section class="cartbar">
        <div class="cart order-status">
            <div class="container">
                <div class="row">
                    <table class="table order-table table-bordered table-hover table-responsive">
                        <thead>
                            <tr><th>商品</th>
                            <th>单价(元)</th>
                            <th>数量</th>
                            <th>实付款(元)</th>
                            <th>状态</th>
                            <th>运费</th>
                        </tr></thead>
                        <tbody>
                            #foreach($orderProduct in $childOrder[0].orderProductList)
								<tr>
									<td class="text-left">
										<a href="javascript:;" class="fl">
											<img src="$!qiniu.getDownloadUrl($!orderProduct.skuImg)" style="width:121px;height:120px;">
										</a>
										<div class="fr">
											<p>
												<a href="javascript:;">$!{orderProduct.productName}</a>
											</p>
											<p>
												#foreach($skuStr in $orderProduct.skuStrs)
													<span>$skuStr</span>&nbsp;&nbsp;
												#end
											</p>
										</div>
									</td>
									<td>¥$!number.format("#0.00",$!math.div($!{orderProduct.skuPrice},100))</td>
									<td>$!{orderProduct.buyNum}</td>
									#if($velocityCount==1)
										#set($size = $childOrder[0].orderProductList.size())
										<td rowspan="$size">
											<p>¥$!number.format("#0.00",$!math.div($!{orderSum},100))</p>
											<p>（含运费¥$!number.format("#0.00",$!math.div($!{postFee},100))）</p>
										</td>
										<td rowspan="$size">审核不通过</td>
										<td rowspan="$size">￥$!number.format("#0.00",$!math.div($!{postFee},100))</td>
									#end
								</tr>
							#end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>