<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>申请退款</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<script src="${link.contextPath}/js/common.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/return-goods.css" type="text/css" />
</head>
<style>
.return-area{height:400px;}
.note{
	color:red;
	margin:10px 0px 5px 3%;
}
</style>
<body>
#parse("./common/header.vm") 
<div id="container">
    <div class="header">
        <a href="${link.contextPath}/order/order-index" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/back_n.png">
			<img class="img2" src="${link.contextPath}/images/back_p.png">
		</a>
        <span>申请退款</span>
	</div>
	<form id="returnMoney" action="${link.contextPath}/order/apply-return-money" method="post">
	<input type="hidden" name="orderCode" value="$!{orderCode}"/>
	<div class="return-area">
		<p class="note">申请退款将不会发货，将在3个工作日内处理退款</p>
		<p class="area-title">退款原因</p>
		<div class="area-selected">
			<div class="seleted-content">选择退款原因</div>
			<div class="select-img">
				<img class="img1" src="${link.contextPath}/images/pull_down.png" />
				<img class="img2" src="${link.contextPath}/images/up_down.png" />
			</div>
			<select class="selected" name="returnReason">
				<option>选择退款原因</option>
				<option value="ERR">拍错了/订单信息错误</option>
				<option value="NOT">不想要了</option>
				<option value="ABS">缺货</option>
			</select>
		</div>
		<p class="area-title"><span>退款金额</span><span class="price">最多可以退款￥$number.format("#0.00",${refundLimit})</span></p>
		<div class="area-input">
			<input type="hidden" name="refundFee" text="">
			<input type="text" placeholder="请输入退款金额" class="refundFee">
		</div> 
		<p class="waring">退款金额不得超过￥<span class="refundLimit">$number.format("#0.00",${refundLimit})</span></p>
		<p class="area-title"><span>退款说明</span><span class="price">(可不填)</span></p>
		<div class="area-textarea">
			<textarea  placeholder="请输入退款说明" name="returnDesc"></textarea>
		</div> 
	</div>
	</form>
	<div class="return-btn">
		<a href="javascript:void(0);" class="rbrn">提交申请</a>
	</div>
</div>
</body>
</body>
<script>
    $(function(){
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		$(".rbrn").click(function(){
			$(this).css({"color":"#fff","background-color":"#E81959"});
			setTimeout(function(){
				$(".rbrn").css({"color":"#666","background-color":"#fff"});
			},1000);
			if($(".seleted-content").text()=='选择退款原因'){
				alert("请选择退款原因");
				return;
			}
			if($(".refundFee").val().trim()==''){
				alert("请填写退款金额");
				return;
			}
			var refundFee = parseFloat($(".refundFee").val());
			if(isNaN(refundFee) || refundFee<=0){
				alert("请填写合法的退款金额");
				return;
			}
			
			if(refundFee>$(".refundLimit").text()){
				alert("您输入的退款金额超出范围");
				return;
			}
			$("input[name=refundFee]").val(accMul(parseFloat($(".refundFee").val()).toFixed(2),100));
			
			$("#returnMoney").submit();
		});
		$(".selected").click(function(){
			if($(this).siblings(".select-img").find(".img1").is(":visible")){
				$(this).siblings(".select-img").find(".img1").hide();
				$(this).siblings(".select-img").find(".img2").show();
			}else{
				$(this).siblings(".select-img").find(".img1").show();
				$(this).siblings(".select-img").find(".img2").hide();
			}
		});
		$(".select-img").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		$(".selected").change(function(){
			var divTxt = $(".seleted-content");
			var optionTxt = $(".selected option:selected");
			divTxt.text(optionTxt.text());
			$(this).siblings(".select-img").find(".img1").show();
			$(this).siblings(".select-img").find(".img2").hide();
		})
	});
</script>
</html>