<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script type="text/javascript">
var share_title = "《我的免费网》超市";
var share_desc = "免费——无需理由";
var share_link = 'http://$request.serverName?iv=$session.getAttribute("principal").userId';
var share_imgUrl = "http://$request.serverName/$!{common.shareImg}";
		
		/* wx.config({
			"check":true,
			"debug": false, 
			"appId": "$!{wxMap.appId}", 
			"timestamp": $!{wxMap.timestamp}, 
			"nonceStr": "$!{wxMap.nonceStr}", 
			"signature": "$!{wxMap.signature}",
			"jsApiList": [
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'chooseWXPay',
			'chooseImage',
			'uploadImage'
			] 
		});
		wx.ready(function(){
			console.log("ready");
			wx.onMenuShareAppMessage({
			    title:share_title, 
			    desc:share_desc, 
			    link:share_link, 
			    imgUrl:share_imgUrl, 
			    type:"link",
			    success: function () { 
			        console.log("share success");
			    },
			    cancel: function () { 
			    },
			    trigger: function (res) {
			    	
	            },
			});
			
			wx.onMenuShareTimeline({
			    title: share_title, // 分享标题
			    link: share_link, // 分享链接
			    imgUrl: share_imgUrl, // 分享图标
			    success: function () { 
			        console.log("hello");
			    },
			    cancel: function () { 
					console.log("cancel");
			    }
			});
		}); */
		
	
		$(function(){
			 $("#attention").click(function(){
	    		$('.showCode').fadeIn();
	    	});
	    	$(".closeCode").click(function(){
	    		$('.showCode').fadeOut();
	    	});
		})
	
	

</script>
<style>
#if(${common.subscribe}!=1)
#container{
	position:relative;
}
#end
.detail-p-top{margin:0;padding:0;top:0;left:0;width:100%;height:35px;line-height:35px;background:rgba(0,0,0,0.67);z-index:999;}
.detail-p-top span{font-size:14px;color:#eee;margin-left:10px;}
.detail-p-top a{display:block;font-size:12px;width:40px;height:25px;line-height:25px;border-radius:5px;background-color:#E81959;color:#fff;position:absolute;right:15px;top:5px;text-align: center;}

.showCode{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.78);z-index:99999;display: none;text-align: center;color:#fff;}
.showCode img{width:50%;margin-left:6%;margin-top:10px;}
.showCode p{margin-top:50px;}
.titleName{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;font-size:14px;}
.closeCode{width:20%;margin-left:40%;display:block;padding:5px;background-color:#E81959;color:#fff;font-size:14px;margin-top:20px;border-radius:5px;}
</style>
#if(${common.subscribe}!=1)
<p class="detail-p-top">
	<span class="titleName">您尚未关注公众号,点击这里关注</span>
	<a href="javascript:" id="attention">关注</a>
</p>
#end
<div class="showCode">
	<p>长按二维码关注</p>
	<img src="${link.contextPath}/$!{common.two_dimension_code_img}">
	<a href="javascript:" class="closeCode">我知道了</a>
</div>
<div style="display:none;">
	<script src="http://s11.cnzz.com/z_stat.php?id=1259194904&web_id=1259194904" language="JavaScript"></script>
</div>


