<div class="col-md-2">
	<div class="content">
		<ul class="nav-category">
            <li class="bold">
                <a href="javascript:;">账户中心</a>
            </li>
            <li class="sub">
                <a href="person.html">首页</a>
            </li>
            <li class="sub">
                <a href="person-info.html">个人信息</a>
            </li>
            <li class="sub">
                <a href="level.html">会员等级</a>
            </li>
            <li class="sub">
                <a href="/receadd/manage_rece_add">收货地址</a>
            </li class="sub">
            <li class="sub">
                <a href="my-sales.html">我的销售</a>
            </li>
            <li class="sub">
                <a href="alipay-binding.html">我要提现</a>
            </li>
            <li class="sub">
                <a href="my-code.html">我要推广</a>
            </li>
            <li class="bold">
                <a href="javascript:;">订单中心</a>
            </li>
            <li class="sub">
                <a href="/order/order-index">我的订单</a>
            </li>
            <li class="bold">
                <a href="javascript:;">参与活动</a>
            </li>
            <li class="sub">
                <a href="javascript:;">我的一元购</a>
            </li>
            <li class="bold">
                <a href="/wealth/wealth-index" class="active">我的财富</a>
            </li>
            <li class="bold">
                <a href="my-team.html">我的团队</a>
            </li>
            <li class="bold">
                <a href="collection.html">我的收藏</a>
            </li>
        </ul>
    </div>
</div>