<!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                   <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="/login">登录</a>
                        </li>
                        <li>    
                            <a href="/register">免费注册</a>
                        </li>
                        <li>    
                            <a href="/store">我的店铺</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="/user">个人中心</a>
                        </li>
                        <li>
                            <a href="/shop_car">购物车</a>
                        </li> 
                        <li>
                            <a href="/order/order-index">我的订单</a>
                        </li> 
                        <li>
                            <a href="/user/collects">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="/" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
