<!-- category-bar -->
    <section class="category-bar">
        <div class="category list">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>浏览记录</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:;">
                            <img src="/images/product/product-01.png">
                        </a>
                        <p class="price">￥25.00</p>
                        <p class="name">
                            <a href="javascript:;">AMII 0942纯色圆领长袖基础短款</a>
                        </p>
                        <p>1524人购买</p>
                    </div>
                </div>
            </div>
        </div>
    </section>    
