body{margin:0;padding:0;background:url("../images/bg.png")}
body a:hover{text-decoration: none;}
body a:focus{outline:none;}
body a{color:#666;text-decoration:none;}
#container{width:100%;height:100%;}
.header{width:100%;height:50px;background:url("../images/title_bar.png");text-align: center;}
.header-back{width:25px;height:25px;display:block;float:left;text-align: center;line-height: 25px;margin:12px;}
.header-back img{width:100%;height:100%;}
.header span{text-align: center;font-size:20px;color:#fff;line-height: 50px;position:relative;left:-20px;}
.img2{display:none;}
.right-btn{width:25px;height:25px;display:block;float:right;text-align: center;line-height: 25px;margin:12px;}
.right-btn img{width:100%;height:100%;}
.team-title{width:100%;height:100%;background-color:#fff;text-align:center;padding-bottom:10px;box-shadow:0 0 5px #cecece;}
.team-tile-btn{width:80%;height:40px;box-shadow:0 0 5px #cecece;line-height:40px;text-align:center;margin-left:10%;border-radius:5px;margin-top:15px;}
.team-tile-btn a{width:100%;height:100%;display:block;}
.end-time{width:100%;height:80px;box-shadow:0 0 5px #cecece;margin-top:5px;background-color:#fff;padding-top:5px;}
.end-time-text{width:100%;height:40px;line-height:40px;text-align:center;font-size:20px;color:#E81959;margin-top:10px;}
.team-area{width:100%;height:100%;margin-top:5px;padding-top:5px;background-color:#fff;padding-bottom:10px;}
.end-time-main{margin-top:10px;width:96%;height:10px;margin-left:2%;background:url("../images/embellish_label3.png");background-size:100% 100%;text-align:center;line-height:10px;font-size:14px;color:#555;}
.end-time-title{margin-top:10px;width:96%;margin-left:3%;height:10px;background:url("../images/embellish_label.png");background-size:100% 100%;text-align:center;line-height:10px;font-size:14px;color:#555;}
.end-time-content p{margin:5px 0 0 0;padding:0;text-align:center;}
.teamer{width:30px;height:30px;border:1px solid;margin-left:45%;}
#team-ul{list-style:none;position:relative;margin:30px 0 0 0;padding:0;}
.leader-main{width:94%;margin-left:3%;}
.team-li{width:49%;height:70px;}
.team-li-div{width:100%;height:100%;position:relative;}
.leader{width:100%;height:100%;margin-top:5px;position:relative;padding-bottom:15px;}
.long-string{position:absolute;left:50%;}
.leader-img{width:70px;height:70px; margin-left:42%;border-radius:50%;}
.leader-img img{width:100%;height:100%;}
.div-left{position:absolute;right:5px;}
.right{position:absolute;left:5px;}
.member-left1{width:80px;height:100%;float:left;position:relative;}
.member-grade{width:90%;height:20px;font-size:12px;line-height:20px;text-align:right;color:#666;}
.member-time{width:90%;height:25px;line-height:25px;text-align:right;color:#666;font-size:12px;}	
.member-left2{width:50px;height:100%;float:left;}
.member-img{width:50px;height:50px;font-size:14px;text-align:center;}
.member-name{font-size:14px;}
.member-img img{width:100%;height:100%;}
.member-left3{width:10px;height:100%;float:left;}
.member-left3 img{width:10px;position:relative;top:25px;left:5px;}
.member1-right{width:10px;height:70px;float:left;margin-right:5px;}
.member1-right img{width:10px;position:relative;top:20px;}
.member2-right{width:50px;height:70px;float:left;margin-right:5px;}
.member2-img{width:50px;height:50px;font-size:14px;text-align:center;}
.member2-img img{width:100%;height:100%;}
.member2-name{font-size:14px;}
.member3-right{width:77px;height:100%;float:left;position:relative;}
.member3-grade{width:90%;height:20px;font-size:12px;line-height:20px;text-align:left;color:#666;}
.member3-time{width:90%;height:25px;line-height:25px;text-align:left;color:#666;font-size:12px;}
.share-main{width:100%;height:100%;position:fixed;top:0;left:0;background:rgba(0,0,0,0.9);display:none;}
.share-heeader{width:100%;height:120px;margin-top:50px;font-size:14px;color:#fff;text-align:center;}
.share-centent{width:70%;height:60px;margin-left:15%;}
.share-centent img{width:25px;height:25px;position:relative;top:5px;margin-left:5px;margin-right:5px;}
.share-footer{width:150px;height:40px;line-height:40px;border:1px solid #E81959;background-color:#E81959;position:absolute;bottom:100px;left:32%;text-align:center;border-radius:5px;}
.share-footer a{color:#fff;display:block;width:100%;height:100%;border-radius:5px;}






