body{margin:0;padding:0;background:url("../images/bg.png")}
body a:hover{text-decoration: none;}
body a:focus{outline:none;}
body a{color:#666;text-decoration:none;}
#container{width:100%;height:100%;}
.header{width:100%;height:50px;background:url("../images/title_bar.png");text-align: center;}
.header-back{width:25px;height:25px;display:block;float:left;text-align: center;line-height: 25px;margin:12px;}
.header-back img{width:100%;height:100%;}
.header span{text-align: center;font-size:20px;color:#fff;line-height: 50px;position:relative;left:-14px;margin-right:25px;}
.img2{display:none;}
.bank{
	color:#666;
	width: 96%;
    background: #fff;
    height: 160px;
    margin: 10px 0;
    box-shadow: 0 0 3px #cecece;
    padding:2% 2%;
}
.bankName{
	font-size: 20px;
    font-weight: bold;
}
.p{
	margin-top: 10px;
}
.address-btn {
    width: 60%;
    height: 40px;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #cecece;
    box-shadow: 0 0 5px #cecece;
    border-radius: 8px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.address-btn a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 40px;
    color: #666;
    position: relative;
    font-size: 16px;
}
.address-btn img {
    width: 15px;
    height: 15px;
    margin-top: -5px;
}
.address-btn:hover {
    background-color: #E81959;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.address-btn:hover a {
    color: #fff;
}
.footer-right span img {
    width: 20px;
    height: 20px;
}
.footer-right span {
    display:inline-block;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width:100%;
}
.footer-right {
    width: 17%;
    height: 30px;
    float: right;
    line-height: 30px;
}
