
/* 全局公共样式的设定 */


/*lib*/
.hide{display: none;}
.hide2{display: none!important;}
.fz12{font-size: 12px;}
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.fz18{font-size: 18px;}
.fz20{font-size: 20px;}
.fz24{font-size: 24px;}
.fz26{font-size: 26px;}
.fz30{font-size: 30px;}
.fz36{font-size: 36px;}
.fz38{font-size: 38px;}
.fz64{font-size: 64px;}
.bgnone{background: none;}

.lineh20{line-height: 20px!important;}
.lineh25{line-height: 25px;}
.wdi30{width: 30%}
.wdi40{width: 40%}
.wdi50{width: 50%}
.wid40{width: 40px!important;}
.wid50{width: 50px!important;}
.wid60{width: 60px!important;}
.wid70{width: 70px!important;}
.wid80{width: 80px!important}
.wid90{width: 90px!important}
.wid100{width: 100px!important}
.wid110{width: 110px!important}
.wid120{width: 120px!important;}
.wid130{width: 130px!important;}
.wid150{width: 150px!important;}
.wid160{width: 160px!important;}
.wid170{width: 170px!important;}
.wid180{width: 180px!important;}
.wid190{width: 190px!important;}
.wid200{width: 200px!important;}
.wid210{width: 210px!important;}
.wid220{ width: 220px!important;}
.wid225{ width: 225px!important;}
.wid240{ width: 240px!important;}
.wid280{ width: 280px!important;}
.wid300{width: 300px!important;}
.wid350{width: 350px!important;}
.wid400{width: 400px!important;}
.wid500{width: 500px!important;}

.white{color: #fff;}
.orange{color: #ff9b09}
.red{color: #73e2ff;}
.green{color: #6fc1a7;}
.red { color:#F00;}

.text-left{text-align: left!important;}
.text-center{text-align: center!important;}
.text-right{text-align: right!important;}

.pad0{padding: 0;}
.pad5{padding:5px;}
.pad10{padding:10px;}
.pad20{padding:20px;}
.pad25{padding:25px;}
.pad30{padding:30px;}
.pad40{padding:40px;}
.pad50{padding:50px;}
.pad60{padding:60px;}
.pad70{padding:70px;}
.pad80{padding:80px;}
.pad90{padding:90px;}
.pad100{padding:100px;}

.padm10{padding-left: 10px;padding-right: 10px;}
.padm20{padding-left: 20px;padding-right: 20px;}
.padm30{padding-left: 30px;padding-right: 30px;}
.padm40{padding-left: 40px;padding-right: 40px;}
.padm50{padding-left: 50px;padding-right: 50px;}
.padm60{padding-left: 60px;padding-right: 60px;}
.padm70{padding-left: 70px;padding-right: 70px;}
.padm80{padding-left: 80px;padding-right: 80px;}
.padm90{padding-left: 90px;padding-right: 90px;}
.padm100{padding-left: 100px;padding-right: 100px;}

.padv10{padding-top: 10px;padding-bottom: 10px;}
.padv20{padding-top: 20px;padding-bottom: 20px;}
.padv30{padding-top: 30px;padding-bottom: 30px;}
.padv40{padding-top: 40px;padding-bottom: 40px;}
.padv50{padding-top: 50px;padding-bottom: 50px;}
.padv60{padding-top: 60px;padding-bottom: 60px;}
.padv70{padding-top: 70px;padding-bottom: 70px;}
.padv80{padding-top: 80px;padding-bottom: 80px;}
.padv90{padding-top: 90px;padding-bottom: 90px;}
.padv100{padding-top: 100px;padding-bottom: 100px;}
.padv110{padding-top: 110px;padding-bottom: 110px;}
.padv120{padding-top: 120px;padding-bottom: 120px;}
.padv130{padding-top: 130px;padding-bottom: 130px;}
.padv140{padding-top: 140px;padding-bottom: 140px;}
.padv150{padding-top: 150px;padding-bottom: 150px;}
.padv160{padding-top: 160px;padding-bottom: 160px;}
.padv170{padding-top: 170px;padding-bottom: 170px;}
.padv180{padding-top: 180px;padding-bottom: 180px;}
.padv190{padding-top: 190px;padding-bottom: 190px;}
.padv200{padding-top: 200px;padding-bottom: 200px;}



.padl5{padding-left: 5px;}
.padl10{padding-left: 10px;}
.padl15{padding-left: 15px!important;}
.padl20{padding-left: 20px!important;}
.padl23{padding-left: 23px!important;}
.padl25{padding-left: 25px!important;}
.padl30{padding-left: 30px;}
.padl40{padding-left: 40px;}
.padl50{padding-left: 50px;}
.padl60{padding-left: 60px;}
.padl70{padding-left: 70px;}
.padl80{padding-left: 80px;}
.padl90{padding-left: 90px;}
.padl100{padding-left: 100px;}

.padr5{padding-right: 5px;}
.padr10{padding-right: 10px;}
.padr20{padding-right: 20px;}
.padr30{padding-right: 30px;}
.padr40{padding-right: 40px;}
.padr50{padding-right: 50px;}
.padr60{padding-right: 60px;}
.padr70{padding-right: 70px;}
.padr80{padding-right: 80px;}
.padr90{padding-right: 90px;}
.padr100{padding-right: 100px;}

.padt5{padding-top: 5px;}
.padt10{padding-top: 10px;}
.padt20{padding-top: 20px;}
.padt30{padding-top: 30px!important;}
.padt40{padding-top: 40px;}
.padt50{padding-top: 50px!important;}
.padt60{padding-top: 60px;}
.padt70{padding-top: 70px;}
.padt80{padding-top: 80px;}
.padt90{padding-top: 90px;}
.padt100{padding-top: 100px;}

.padb5{padding-bottom: 5px;}
.padb10{padding-bottom: 10px;}
.padb20{padding-bottom: 20px;}
.padb30{padding-bottom: 30px;}
.padb40{padding-bottom: 40px;}
.padb50{padding-bottom: 50px;}
.padb60{padding-bottom: 60px;}
.padb70{padding-bottom: 70px;}
.padb80{padding-bottom: 80px;}
.padb90{padding-bottom: 90px;}
.padb100{padding-bottom: 100px;}

.mar0{margin: 0px;}
.marl5{margin-left: 5px;}
.marl10{margin-left: 10px;}
.marl20{margin-left: 20px;}
.marl25{margin-left: 25px;}
.marl30{margin-left: 30px;}
.marl40{margin-left: 40px;}
.marl50{margin-left: 50px;}
.marl60{margin-left: 60px;}
.marl70{margin-left: 70px;}
.marl80{margin-left: 80px;}
.marl90{margin-left: 90px;}
.marl100{margin-left: 100px;}
.marl150{margin-left: 150px;}

.marr5{margin-right: 5px;}
.marr10{margin-right: 10px;}
.marr20{margin-right: 20px;}
.marr24{margin-right: 24px;}
.marr30{margin-right: 30px;}
.marr40{margin-right: 40px;}
.marr50{margin-right: 50px;}
.marr60{margin-right: 60px;}
.marr70{margin-right: 70px;}
.marr80{margin-right: 80px;}
.marr90{margin-right: 90px;}
.marr100{margin-right: 100px;}

.mart0{margin-top: 0!important;}
.mart5{margin-top: 5px;}
.mart9{margin-top: 9px;}
.mart10{margin-top: 10px!important;}
.mart20{margin-top: 20px;}
.mart25{margin-top: 25px;}
.mart30{margin-top: 30px;}
.mart40{margin-top: 40px;}
.mart50{margin-top: 50px;}
.mart60{margin-top: 60px;}
.mart70{margin-top: 70px;}
.mart80{margin-top: 80px;}
.mart90{margin-top: 90px;}
.mart100{margin-top: 100px;}

.marb5{margin-bottom: 5px;}
.marb10{margin-bottom: 10px;}
.marb20{margin-bottom: 20px;}
.marb30{margin-bottom: 30px;}
.marb40{margin-bottom: 40px;}
.marb50{margin-bottom: 50px;}
.marb60{margin-bottom: 60px;}
.marb70{margin-bottom: 70px;}
.marb80{margin-bottom: 80px;}
.marb90{margin-bottom: 90px;}
.marb100{margin-bottom: 100px;}



.bordn{border: none!important;}
.verm{vertical-align: middle;}
.vert{vertical-align: top;}
.radiu0{border-radius: 0;}
.radiu5{border-radius: 5px;}
.taged{border:#A6B010 1px solid}
.disabled,.btn[disabled],button[disabled],input[disabled]{
    background-color: #ababab !important;
}




.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floatl {float: left}

.floatr{float: right}
