<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme2.css" />
    <!--[if (gte IE 6)&(lte IE 8)]>
    <link rel="stylesheet" href="/css/ie-8.css" />
    <![endif]-->
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="/js/selectivizr.js"></script>
    <![endif]-->
    <!-- title -->
    <title>首页</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="javascript:;">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="search-box">
                                <form class="search-form" action="/product/search" method="post">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="" name="keyWord"/>
                                        <span class="input-group-addon">
                                            <i class="icon icon-search"></i>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <a href="javascript:;">
                                <img src="/images/code.png" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 has-subcategory">
                            <a href="javascript:;" class="category">分类导航</a>
                        </div>
                        <div class="col-md-10">
                            <ul class="menu-list">
                                <li>
                                    <a href="index.html">首页</a>
                                </li>
                                <li>
                                    <a href="javascript:;">团购</a>
                                </li>
                                <li>
                                    <a href="javascript:;">砍价</a>
                                </li>
                                <li>
                                    <a href="javascript:;">一元购</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- banner -->
    <section class="banner-bar">
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="category-list jq-category">
                            <li>
                                <a href="javascript:;">美妆</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">面部护肤<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">卸妆</a>
                                            <a href="javascript:;" target="_blank">洁面</a>
                                            <a href="javascript:;" target="_blank">爽肤水</a>
                                            <a href="javascript:;" target="_blank">乳液面霜</a>
                                            <a href="javascript:;" target="_blank">精华</a>
                                            <a href="javascript:;" target="_blank">眼霜</a>
                                            <a href="javascript:;" target="_blank">防晒</a>
                                            <a href="javascript:;" target="_blank">面膜</a>
                                            <a href="javascript:;" target="_blank">剃须</a>
                                            <a href="javascript:;" target="_blank">套装</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">洗发护发<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">洗发</a>
                                            <a href="javascript:;" target="_blank">护发</a>
                                            <a href="javascript:;" target="_blank">染发</a>
                                            <a href="javascript:;" target="_blank">造型</a>
                                            <a href="javascript:;" target="_blank">假发</a>
                                            <a href="javascript:;" target="_blank">套装</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">身体护肤<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">沐浴</a>
                                            <a href="javascript:;" target="_blank">润肤</a>
                                            <a href="javascript:;" target="_blank">精油</a>
                                            <a href="javascript:;" target="_blank">颈部</a>
                                            <a href="javascript:;" target="_blank">手足</a>
                                            <a href="javascript:;" target="_blank">纤体塑形</a>
                                            <a href="javascript:;" target="_blank">美胸</a>
                                            <a href="javascript:;" target="_blank">套装</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">口腔护理<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">牙膏/牙粉</a>
                                            <a href="javascript:;" target="_blank">牙刷/牙线</a>
                                            <a href="javascript:;" target="_blank">漱口水</a>
                                            <a href="javascript:;" target="_blank">套装</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女性护理<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">卫生巾</a>
                                            <a href="javascript:;" target="_blank">卫生护垫</a>
                                            <a href="javascript:;" target="_blank">私密护理</a>
                                            <a href="javascript:;" target="_blank">脱毛膏</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">香水彩妆<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">女士香水</a>
                                            <a href="javascript:;" target="_blank">男士香水</a>
                                            <a href="javascript:;" target="_blank">底妆</a>
                                            <a href="javascript:;" target="_blank">眉笔</a>
                                            <a href="javascript:;" target="_blank">睫毛膏</a>
                                            <a href="javascript:;" target="_blank">眼线</a>
                                            <a href="javascript:;" target="_blank">眼影</a>
                                            <a href="javascript:;" target="_blank">唇膏/彩</a>
                                            <a href="javascript:;" target="_blank">腮红</a>
                                            <a href="javascript:;" target="_blank">美甲</a>
                                            <a href="javascript:;" target="_blank">美妆工具</a>
                                            <a href="javascript:;" target="_blank">套装</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">清洁用品<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">纸品湿巾</a>
                                            <a href="javascript:;" target="_blank">衣物清洁</a>
                                            <a href="javascript:;" target="_blank">清洁工具</a>
                                            <a href="javascript:;" target="_blank">家庭清洁</a>
                                            <a href="javascript:;" target="_blank">一次性用品</a>
                                            <a href="javascript:;" target="_blank">驱虫用品</a>
                                            <a href="javascript:;" target="_blank">皮具护理</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">鞋包</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">时尚女鞋<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">单鞋</a>
                                            <a href="javascript:;" target="_blank">休闲鞋</a>
                                            <a href="javascript:;" target="_blank">帆布鞋</a>
                                            <a href="javascript:;" target="_blank">鱼嘴鞋</a>
                                            <a href="javascript:;" target="_blank">妈妈鞋</a>
                                            <a href="javascript:;" target="_blank">凉鞋</a>
                                            <a href="javascript:;" target="_blank">拖鞋/人字拖</a>
                                            <a href="javascript:;" target="_blank">布鞋/绣花鞋</a>
                                            <a href="javascript:;" target="_blank">坡跟鞋</a>
                                            <a href="javascript:;" target="_blank">松糕鞋</a>
                                            <a href="javascript:;" target="_blank">防水台</a>
                                            <a href="javascript:;" target="_blank">高跟鞋</a>
                                            <a href="javascript:;" target="_blank">踝靴</a>
                                            <a href="javascript:;" target="_blank">内增高</a>
                                            <a href="javascript:;" target="_blank">女靴</a>
                                            <a href="javascript:;" target="_blank">马丁靴</a>
                                            <a href="javascript:;" target="_blank">雪地靴</a>
                                            <a href="javascript:;" target="_blank">雨鞋/雨靴</a>
                                            <a href="javascript:;" target="_blank">鞋配件</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">流行男鞋<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">休闲鞋</a>
                                            <a href="javascript:;" target="_blank">商务休闲鞋</a>
                                            <a href="javascript:;" target="_blank">正装鞋</a>
                                            <a href="javascript:;" target="_blank">帆布鞋</a>
                                            <a href="javascript:;" target="_blank">工装鞋</a>
                                            <a href="javascript:;" target="_blank">增高鞋</a>
                                            <a href="javascript:;" target="_blank">拖鞋/人字拖</a>
                                            <a href="javascript:;" target="_blank">凉鞋/沙滩鞋</a>
                                            <a href="javascript:;" target="_blank">雨鞋/雨靴</a>
                                            <a href="javascript:;" target="_blank">定制鞋</a>
                                            <a href="javascript:;" target="_blank">男靴</a>
                                            <a href="javascript:;" target="_blank">传统布鞋</a>
                                            <a href="javascript:;" target="_blank">功能鞋</a>
                                            <a href="javascript:;" target="_blank">鞋配件</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">潮流女包<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">单肩包</a>
                                            <a href="javascript:;" target="_blank">手提包</a>
                                            <a href="javascript:;" target="_blank">斜挎包</a>
                                            <a href="javascript:;" target="_blank">双肩包</a>
                                            <a href="javascript:;" target="_blank">钱包</a>
                                            <a href="javascript:;" target="_blank">手拿包</a>
                                            <a href="javascript:;" target="_blank">卡包/零钱包</a>
                                            <a href="javascript:;" target="_blank">钥匙包</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">精品男包<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">商务公文包</a>
                                            <a href="javascript:;" target="_blank">单肩/斜挎包</a>
                                            <a href="javascript:;" target="_blank">男士手包</a>
                                            <a href="javascript:;" target="_blank">双肩包</a>
                                            <a href="javascript:;" target="_blank">男士钱包</a>
                                            <a href="javascript:;" target="_blank">卡包名片夹</a>
                                            <a href="javascript:;" target="_blank">钥匙包</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">功能箱包<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">拉杆箱</a>
                                            <a href="javascript:;" target="_blank">拉杆包</a>
                                            <a href="javascript:;" target="_blank">旅行包</a>
                                            <a href="javascript:;" target="_blank">电脑包</a>
                                            <a href="javascript:;" target="_blank">休闲运动包</a>
                                            <a href="javascript:;" target="_blank">相机包</a>
                                            <a href="javascript:;" target="_blank">腰包/胸包</a>
                                            <a href="javascript:;" target="_blank">登山包</a>
                                            <a href="javascript:;" target="_blank">旅行配件</a>
                                            <a href="javascript:;" target="_blank">书包</a>
                                            <a href="javascript:;" target="_blank">妈咪包</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">奢侈品<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">箱包</a>
                                            <a href="javascript:;" target="_blank">钱包</a>
                                            <a href="javascript:;" target="_blank">服饰</a>
                                            <a href="javascript:;" target="_blank">腰带</a>
                                            <a href="javascript:;" target="_blank">鞋靴</a>
                                            <a href="javascript:;" target="_blank">太阳镜/眼镜框</a>
                                            <a href="javascript:;" target="_blank">饰品</a>
                                            <a href="javascript:;" target="_blank">配件</a>
                                            <a href="javascript:;" target="_blank">GUCCI</a>
                                            <a href="javascript:;" target="_blank">COACH</a>
                                            <a href="javascript:;" target="_blank">雷朋</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">服饰</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">食品</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">居家</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">母婴</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">数码</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">饰品</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">其他</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;">品牌馆</a>
                                <div class="category-menu">
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">女装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">连衣裙</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">雪纺衫</a>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">短外套</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">小西装</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">半身裙</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">吊带/背心</a>
                                            <a href="javascript:;" target="_blank">打底衫</a>
                                            <a href="javascript:;" target="_blank">打底裤</a>
                                            <a href="javascript:;" target="_blank">正装裤</a>
                                            <a href="javascript:;" target="_blank">马甲</a>
                                            <a href="javascript:;" target="_blank">大码女装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">皮草</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                            <a href="javascript:;" target="_blank">婚纱</a>
                                            <a href="javascript:;" target="_blank">旗袍/唐装</a>
                                            <a href="javascript:;" target="_blank">礼服</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                        </dd>
                                    </dl>
                                    <dl class="fore">
                                        <dt>
                                            <a href="javascript:;" target="_blank">男装<i>&gt;</i></a>
                                        </dt>
                                        <dd>
                                            <a href="javascript:;" target="_blank">衬衫</a>
                                            <a href="javascript:;" target="_blank">T恤</a>
                                            <a href="javascript:;" target="_blank">牛仔裤</a>
                                            <a href="javascript:;" target="_blank">休闲裤</a>
                                            <a href="javascript:;" target="_blank">卫衣</a>
                                            <a href="javascript:;" target="_blank">针织衫</a>
                                            <a href="javascript:;" target="_blank">西服</a>
                                            <a href="javascript:;" target="_blank">西裤</a>
                                            <a href="javascript:;" target="_blank">POLO衫</a>
                                            <a href="javascript:;" target="_blank">羽绒服</a>
                                            <a href="javascript:;" target="_blank">西服套装</a>
                                            <a href="javascript:;" target="_blank">真皮皮衣</a>
                                            <a href="javascript:;" target="_blank">夹克</a>
                                            <a href="javascript:;" target="_blank">风衣</a>
                                            <a href="javascript:;" target="_blank">卫裤/运动裤</a>
                                            <a href="javascript:;" target="_blank">短裤</a>
                                            <a href="javascript:;" target="_blank">仿皮皮衣</a>
                                            <a href="javascript:;" target="_blank">棉服</a>
                                            <a href="javascript:;" target="_blank">马甲/背心</a>
                                            <a href="javascript:;" target="_blank">毛呢大衣</a>
                                            <a href="javascript:;" target="_blank">羊毛衫</a>
                                            <a href="javascript:;" target="_blank">羊绒衫</a>
                                            <a href="javascript:;" target="_blank">大码男装</a>
                                            <a href="javascript:;" target="_blank">中老年男装</a>
                                            <a href="javascript:;" target="_blank">工装</a>
                                            <a href="javascript:;" target="_blank">设计师/潮牌</a>
                                            <a href="javascript:;" target="_blank">唐装/中山装</a>
                                            <a href="javascript:;" target="_blank">加绒裤</a>
                                        </dd>
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <div id="banner-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#banner-carousel" data-slide-to="1"></li>
                                <li data-target="#banner-carousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img src="/images/banner/banner-01.png"/>
                                </div>
                                <div class="item">
                                  <img src="/images/banner/banner-01.png" />
                                </div>
                                <div class="item">
                                  <img src="/images/banner/banner-01.png" />
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#banner-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#banner-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2">
                         <ul class="side-area">
                            <li>
                                <a href="javascript:;" class="pull-left">
                                    <img src="/images/side/side-01.png" />
                                </a>
                                <div class="name pull-right">
                                    <p>免费开店</p>
                                    <p>该分类下的主商城会</p>
                                </div>
                            </li>
                            <li>
                                <div class="name pull-left">
                                    <p>一元购</p>
                                    <p>该分类下的主商城会</p>
                                </div>
                                <a href="javascript:;" class="pull-right">
                                    <img src="/images/side/side-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="pull-left">
                                    <img src="/images/side/side-02.png" />
                                </a>
                                <div class="name pull-right">
                                    <p>团购</p>
                                    <p>该分类下的主商城会</p>
                                </div>
                            </li>
                            <li>
                                <div class="name pull-left">
                                    <p>砍价</p>
                                    <p>该分类下的主商城会</p>
                                </div>
                                <a href="javascript:;" class="pull-right">
                                    <img src="/images/side/side-03.png" />
                                </a>
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- category-bar -->
    <section class="category-bar">
        <div class="category">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>服饰</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/clothing/clothing-01.png" />
                            </a>
                        </p>
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/clothing/clothing-02.png" />
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-03.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-05.png" />
                        </a>
                        <div class="item">
                            <p>Eight Guys</p>
                            <p>
                                <a href="javascript:;">双口带字母印花长袖衬衫</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-06.png" />
                        </a>
                         <div class="item">
                            <p>COKEIN</p>
                            <p>
                                <a href="javascript:;">格子纯棉长袖衬衫</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-07.png" />
                        </a>
                         <div class="item">
                            <p>意树</p>
                            <p>
                                <a href="javascript:;">中国风修身立领复古棉麻衬衫</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="sub-category">
                            <li>
                                <a href="javascript:;">T恤</a>
                            </li>
                            <li>
                                <a href="javascript:;">衬衫</a>
                            </li>
                            <li>
                                <a href="javascript:;">卫衣</a>
                            </li>
                            <li>
                                <a href="javascript:;">POLO</a>
                            </li>
                            <li>
                                <a href="javascript:;">西装</a>
                            </li>
                            <li>
                                <a href="javascript:;">夹克</a>
                            </li>
                            <li>
                                <a href="javascript:;">高能暗黑</a>
                            </li>
                            <li>
                                <a href="javascript:;">军事迷彩</a>
                            </li>
                            <li>
                                <a href="javascript:;">街头原宿</a>
                            </li>
                            <li>
                                <a href="javascript:;">英伦学院</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-04.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-08.png" />
                        </a>
                         <div class="item">
                            <p>Stussy</p>
                            <p>
                                <a href="javascript:;">logo印花条纹T恤</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-09.png" />
                        </a>
                         <div class="item">
                            <p>GAWS DIGI</p>
                            <p>
                                <a href="javascript:;">满版海浪图案印花短袖T恤</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/clothing/clothing-10.png" />
                        </a>
                         <div class="item">
                            <p>ERICD</p>
                            <p>
                                <a href="javascript:;">渐变吊染印花T恤</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>鞋履</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/shoe/shoe-01.png" />
                            </a>
                        </p>
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/shoe/shoe-02.png" />
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-03.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-05.png" />
                        </a>
                        <div class="item">
                            <p>converse</p>
                            <p>
                                <a href="javascript:;">Chuck Tavior All Star ll</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-06.png" />
                        </a>
                        <div class="item">
                            <p>New Balance</p>
                            <p>
                                <a href="javascript:;">574原色复古跑鞋</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-07.png" />
                        </a>
                        <div class="item">
                            <p>LACOSTE</p>
                            <p>
                                <a href="javascript:;">SAULIEU CHUNKY 休闲鞋</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="sub-category">
                            <li>
                                <a href="javascript:;">休闲鞋</a>
                            </li>
                            <li>
                                <a href="javascript:;">复古跑鞋</a>
                            </li>
                            <li>
                                <a href="javascript:;">时装鞋</a>
                            </li>
                            <li>
                                <a href="javascript:;">靴子</a>
                            </li>
                            <li>
                                <a href="javascript:;">板鞋</a>
                            </li>
                            <li>
                                <a href="javascript:;">帆布鞋</a>
                            </li>
                            <li>
                                <a href="javascript:;">Reebok</a>
                            </li>
                            <li>
                                <a href="javascript:;">Nike</a>
                            </li>
                            <li>
                                <a href="javascript:;">PUMA</a>
                            </li>
                            <li>
                                <a href="javascript:;">VANS</a>
                            </li>
                            <li>
                                <a href="javascript:;">New Balance</a>
                            </li>
                            <li>
                                <a href="javascript:;">converse</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-04.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-08.png" />
                        </a>
                        <div class="item">
                            <p>Outdo Zenith</p>
                            <p>
                                <a href="javascript:;">反毛皮拼色雕花皮鞋</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-09.png" />
                        </a>
                        <div class="item">
                            <p>COLE HAAN</p>
                            <p>
                                <a href="javascript:;">男式拼色雕花牛皮时装鞋</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/shoe/shoe-10.png" />
                        </a>
                        <div class="item">
                            <p>KKtP</p>
                            <p>
                                <a href="javascript:;">VELCRO DRESS SHOES</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category">
            <div class="container">
                <div class="row">
                    <h1 class="title">
                        <span>配饰</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/jewelry/jewelry-01.png" />
                            </a>
                        </p>
                        <p>
                            <a href="javascritp:;">
                                <img src="/images/jewelry/jewelry-02.png" />
                            </a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-03.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-05.png" />
                        </a>
                        <div class="item">
                            <p>soundbyte</p>
                            <p>
                                <a href="javascript:;">几何版图印花双肩包</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-06.png" />
                        </a>
                        <div class="item">
                            <p>YIZISTORE</p>
                            <p>
                                <a href="javascript:;">印花双肩包-墨绿色橄榄球</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-07.png" />
                        </a>
                        <div class="item">
                            <p>VANS</p>
                            <p>
                                <a href="javascript:;">DOREN ll BACKPACK</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="sub-category">
                            <li>
                                <a href="javascript:;">双肩包</a>
                            </li>
                            <li>
                                <a href="javascript:;">单肩包</a>
                            </li>
                            <li>
                                <a href="javascript:;">帽子</a>
                            </li>
                            <li>
                                <a href="javascript:;">太阳镜/眼睛</a>
                            </li>
                            <li>
                                <a href="javascript:;">首饰</a>
                            </li>
                            <li>
                                <a href="javascript:;">配饰</a>
                            </li>
                            <li>
                                <a href="javascript:;">数码3C</a>
                            </li>
                            <li>
                                <a href="javascript:;">手表</a>
                            </li>
                            <li>
                                <a href="javascript:;">Pineal Body</a>
                            </li>
                            <li>
                                <a href="javascript:;">GAWS CAP</a>
                            </li>
                            <li>
                                <a href="javascript:;">InterFool</a>
                            </li>
                            <li>
                                <a href="javascript:;">黑头</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-04.png" />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-08.png" />
                        </a>
                        <div class="item">
                            <p>LINSHI TASKS</p>
                            <p>
                                <a href="javascript:;">针扣皮腰带</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-09.png" />
                        </a>
                        <div class="item">
                            <p>OMTO</p>
                            <p>
                                <a href="javascript:;">个性单围皮手链</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="javascritp:;">
                            <img src="/images/jewelry/jewelry-10.png" />
                        </a>
                        <div class="item">
                            <p>朴坊Simplemill</p>
                            <p>
                                <a href="javascript:;">朴坊鸭子铃铛匙扣</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script type="text/javascript">
    	$(function(){
    		
    		$(".icon-search").click(function(){
					$(".search-form").submit();
    		});
    		
    	});
    </script>
</body>
</html>