<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!-- title -->
    <title>阿拉丁--登录</title>
    <script>
    $(function(){
    	$('#chgImg').click(function(){
    		var timestamp=(new Date()).valueOf();
    		$('#captchaImg').attr('src','/common/captcha?timestamp='+timestamp);     
    	})
    	$('#chgImg').click();
    	
    	var submitAble=true;
    	$('#submit').click(function(){
    		$('#tip').css('display','none');
			var captcha=$('#captcha').val();
			var username=$('#username').val();
			var password=$('#password').val();
			if(username==''||password==''){
				$('#tipWord').html('请输入用户名和密码');
				$('#tip').css('display','block');
				return;
			}
			if(captcha==''){
				$('#tipWord').html('请输验证码');
				$('#tip').css('display','block');
				return;
			}
    		if(submitAble){
    			submitAble=false;
    			$.ajax({ 
    				url: '/login/submit',
    				data:{captcha:captcha,username:username,password:password},
    				type:"post",
    				success: function(data){
    					if('captcha_error'==data){
    						$('#chgImg').click();
    						$('#tipWord').html('验证码错误！');
    						$('#tip').css('display','block');
    					}else if('username_password_error'==data){
    						$('#chgImg').click();
    						$('#tipWord').html('账户名与密码不匹配，请重新输入！');
    						$('#tip').css('display','block');
    					}else if('success'){
    						location.href="${link.contextPath}/index.html"
    					}
    				},
    				complete:function(){
    					submitAble=true;
    				}
    			});
    		}
    	})
    })
    </script>
</head>
<body>
    <!-- header -->
    <header class="header">     
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- login -->
    <section class="login-bar">
        <div class="login">
            <div class="container">
                <div class="row">
                    <div class="form-box">
                        <form class="form">
                            <h2>登录</h2>
                            <div class="form-group error" id="tip" style="display:none;">
                                <i class=""></i>
                                <span id="tipWord" >账户名与密码不匹配，请重新输入！</span>
                            </div>
                            <div class="form-group">
                                  <input type="text" placeholder="邮箱/手机号" id="username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="密码" id="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="captcha" class="form-control pull-left" />
                                <div class="pull-right">
                                    <a href="javascript:;">
                                        <img style="width:90px;height:32px;" id="captchaImg"/>
                                    </a>
                                    <a href="javascript:;" id="chgImg">换一张</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="forget-password.html" class="forget fl">忘记密码？</a>
                                <a href="register.html" class="register fr">免费注册</a>
                            </div>
                            <button type="button" id="submit" class="btn btn-login">登录</button>
                            
                        </form>
                        <div class="weichat">
                            <a href="javascript:;">
                                <i class="icon-weichat"></i>微信登录
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>