<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商品详情</title>
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 <script type="text/javascript" src="${link.contextPath}/js/jquery-2.1.3.min.js"></script>
<link rel="stylesheet" href="${link.contextPath}/css/mall.css" type="text/css" />
<link rel="stylesheet" href="${link.contextPath}/css/product-detail.css" type="text/css" />
<link rel="stylesheet" href="${link.contextPath}/css/swiper-3.3.1.min.css" type="text/css" />
<script src="${link.contextPath}/js/swiper-3.3.1.jquery.min.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="$link.getContextPath()/js/imgLiquid-min.js"></script>
</head>
<body>
#parse("./common/header.vm")
	<div id="container" #if(${common.subscribe}!=1) style="margin-top:35px;" #end>
	 <input type="hidden" class="status" value="$!{status}"/>
	 <input type="hidden" class="productID" value="$productID"/>
	 <input type="hidden" class="skuID" value="${productVo.skus[0].ID}"/>
	 <div class="header">
        <a href="${link.contextPath}/#$productID" class="header-back btn">
			<img class="img1" src="${link.contextPath}/images/classfiy/back_n.png">
			<img class="img2" src="${link.contextPath}/images/classfiy/back_p.png">
		</a>
        <span>商品详情</span>
    </div>
	 
	<div class="carousel swiper-container" id="carousel">
		<div class="carousel-bigger swiper-wrapper">
			#foreach($productImg in $productImgList)
				<div class="swiper-slide imgLiquidNotFill" style="height:375px;">
					<a href="javascript:void(0);"><img src="$qiniu.getDownloadUrl($productImg)" /></a>
				</div>
			#end
		</div>
		<div class="swiper-pagination"></div>
		<div class="heart">
     			#if($isCollect)
     				<img src="${link.contextPath}/images/img/collect.png" id="collect"/>
     			#else
     				<img src="${link.contextPath}/images/img/uncollect.png" id="collect"/>
     			#end
     	</div>
		<P class="detail-p">
			<span class="pname">$!{productVo.product.productName}</span>
			<span>￥$!number.format("#0.00",$math.div($!{productVo.product.price},100))</span>
		</p>
	</div>

	 <div class="product-freight">
		<table class="freight-tb">
			<tr>
				<td style="width:83px;text-align:left;font-size:14px;"><p style="margin-left:5%;">运费详情：</p></td>
				<td style="color:#666;font-size:14px;">$!{productVo.freightStr}</td>
			</tr>
			#set($si=$math.sub($productVo.exceptAddList.size(),1))
			#if($productVo.exceptAddList and $productVo.exceptAddList.size()>0)
				#if($productVo.exceptAddList.size()>2)
					<tr style="vertical-align:top;">
						<td style="width:83px;text-align:left;font-size:14px;"><p style="margin-left:5%;">指定地区：</p></td>
						<td style="color:#666;font-size:14px;">
							#foreach($count in [0..1])
								#if($velocityCount==1)
								<p>$productVo.exceptAddList[$count].address [运费：￥$number.format("#0.00",$math.div($productVo.exceptAddList[$count].firstFreight,100))]&nbsp;<a href="${link.contextPath}/product/except-add?productID=$productVo.product.ID" style="float:right;text-decoration:underline;">更多</a></p>
								#else
								<p>$productVo.exceptAddList[$count].address [运费：￥$number.format("#0.00",$math.div($productVo.exceptAddList[$count].firstFreight,100))]......</p>
								#end
							#end
						</td>
					</tr>
				#else
					<tr style="vertical-align:top;">
						<td style="width:83px;text-align:left;font-size:14px;"><p style="margin-left:5%;">指定地区：</p></td>
						<td style="color:#666;font-size:14px;">
							#foreach($count in [0..$si])
								#if($velocityCount==1)
								<p>$productVo.exceptAddList[$count].address [运费：￥$number.format("#0.00",$math.div($productVo.exceptAddList[$count].firstFreight,100))]&nbsp;<a href="${link.contextPath}/product/except-add?productID=$productVo.product.ID" style="float:right;text-decoration:underline;">更多</a></p>
								#else
								<p>$productVo.exceptAddList[$count].address [运费：￥$number.format("#0.00",$math.div($productVo.exceptAddList[$count].firstFreight,100))]</p>
								#end
							#end
						</td>
					</tr>
				#end
			#end
			#if($productVo.tips)
				<tr>
					<td style="width:83px;text-align:left;font-size:14px;vertical-align:top;"><p style="margin:0;margin-left:5%;">温馨提示：</p></td>
					<td style="color:#EF608C;font-size:14px;">$!{productVo.tips}</td>
				</tr>
			#end
			
		</table>
	 </div>
	 
	 
	 <div class="comment-area">
		 <div class="comment-main">
			<p class="product-evaluate">
				<span>商品评价(${productVo.commentCount})</span>
			</p>
			<div class="product-evaluate-bottom">
				<ul>
					#if(${productVo.commentCount}==0)
					<li>发货速度<span>0.0</span></li>
					<li>描述相符<span>0.0</span></li>
					<li>服务态度<span>0.0</span></li>
					#else
					<li>发货速度<span>$!number.format("#0.0",$math.div(${productVo.commentVo.commentStatistics.speed},100))</span></li>
					<li>描述相符<span>$!number.format("#0.0",$math.div(${productVo.commentVo.commentStatistics.descConform},100))</span></li>
					<li>服务态度<span>$!number.format("#0.0",$math.div(${productVo.commentVo.commentStatistics.service},100))</span></li>
					#end
				</ul>
			</div>
			#if($productVo.commentVo)
			<div class="comment-img">
				<img src="#if($null.isNull(${productVo.commentVo.userHeadImg}) || ${productVo.commentVo.userHeadImg}=='')${link.contextPath}/images/headImg.png#else ${productVo.commentVo.userHeadImg} #end" />
			</div>
			<div class="comment-name">$!{productVo.commentVo.userName}</div>
			<p class="comment-time">$!date.format('yyyy-MM-dd HH:mm',$!{productVo.commentVo.comment.createTime})<p>
			<span class="comment-tip">$!{productVo.commentVo.comment.commentDesc}</span>
			<div class="show-productC">
	        	#foreach($img in $productVo.commentVo.comment.imgs)
	            <div class="productC-img">
					<a href="#"><img src="$qiniu.getDownloadUrl(${img.imgPath})" /></a>
				</div>
				#end
	        </div>
			<div class="productC-size">
				<p>
					#foreach($skuStr in ${productVo.commentVo.skuStrs})
						<span>$skuStr</span>&nbsp;
					#end
				</p>
			</div>
			#else
				暂无评论
			#end
			
		</div>
		#if(${productVo.commentCount}!=0)
		<div class="more-link">
			<a href="${link.contextPath}/comments/commentlist?productID=$productID">查看更多评论</a>
		</div>
		#end
	 </div>
	 
	 
	
	 
	 
	<div class="detail-show">
		<div class="detail-inner">
		$!{productVo.productDetail}
		</div>
	</div>
	
	<div class="footer">
		<ul class="footer-menu">
			<li style="width:18%;font-size:12px;"><a href="https://eco-api.meiqia.com/dist/standalone.html?eid=7466" id="service" class="btn">
				<p>
					<img class="img1" src="${link.contextPath}/images/img/service_n.png" />
					<img class="img2" src="${link.contextPath}/images/img/service2_p.png" />
				</p>	
			<p>客服</p></a>
			</li>
			<li style="width:18%;font-size:12px;">
				<a href="${link.contextPath}/shop_car" class="btn">
					<p>
						<img class="img1" src="${link.contextPath}/images/img/shopping2_cart_n.png" />
						<img class="img2" src="${link.contextPath}/images/img/shopping_cart_p.png" />
						<span class="num">$!{productCount}</span>
					</p>	
					<p>购物车</p>
				</a>
			</li>
			<li><a href="javascript:" class="addCar" style="line-height:50px;">加入购物车</a></li>
			<li><a href="javascript:" class="payCar" style="line-height:50px;">直接购买</a></li>
		</ul>
	</div>
	
	<div class="top">
		<a href="#carousel" id="top" class="btn">
			<img class="img1" src="${link.contextPath}/images/img/up1_n.png" />
			<img class="img2" src="${link.contextPath}/images/img/up2_p.png" />
		</a>
	</div>
	<div class="customer-service">
		<div class="service-main">
			<a href="${link.contextPath}/#">在线客服</a>
		</div>
		<div class="service-main">
			<a href="${link.contextPath}/#">留言</a>
		</div>
		<div class="flag"></div>
	</div>
	<div class="add-car">
		<div class="add-car-footer">
			<div class="car-content-area">
				<div class="car-content">
					<div class="info-bottom">
						<div class="info-bottom-img">
							<a href="javascript:void(0)"><img src="$qiniu.getDownloadUrl($!{productVo.skus[0].skuImg})" /></a>
						</div>
						<p class="bottom-1" style="font-size:14px;">$!{productVo.product.productName}</p>
						<br/>
						<p class="bottom-3">
							<span style="color:#F389AA;font-size:14px;" class="skuPrice">￥$!number.format("#0.00",$math.div($!{productVo.skus[0].skuPrice},100))</span>
						</p>
						<div class="delete-x">
							<a href="javascript:void(0);" class="btn" id="delete-car">
								<img class="img1" src="${link.contextPath}/images/img/delete2_n.png" />
								<img class="img2" src="${link.contextPath}/images/img/delete2_p.png" />
							</a>
						</div>
					</div>
					<div class="choose-size">
							#foreach($attrItem in $attrItems)
								<div class="choose-size-main attr" data-attrid="$attrItem.attrID">
									<span style="font-size:14px;margin-left:5px;color:#666">$attrItem.attrName：</span>
									<ul class="choose-size-menu">
										#foreach($attrValue in $attrItem.attrValues)
										<li><a href="javascript:" class="#if($velocityCount==1)size-bg2 #else size-bg1 #end attr-btn" data-valueid="$attrValue[0]">$attrValue[1]</a></li>
										#end
									</ul>
								</div>
								<br/><br/>
							#end
					
					</div>
					<div class="bottom-number-area">
							<div class="bottom-number-right">(库存：0件)</div>
							<div class="bottom-number">
								<div class="number-1">
									<a href="javascript:" class="subtract">
										<img class="img1" src="${link.contextPath}/images/img/subtract_n.png" style="display: none;">
										<img class="img2" src="${link.contextPath}/images/img/subtract_p.png" style="display: inline;">
									</a>
								</div>
								<div class="number-2">1</div>
								<div class="number-1">
									<a href="javascript:" class="add ">
										<img class="img1" src="${link.contextPath}/images/img/add_n.png" style="display: inline;">
										<img class="img2" src="${link.contextPath}/images/img/add_p.png" style="display: none;">
									</a>
								</div>
							</div>	
							<div class="limit-count" style="float:right;width:85px;height:20px;font-size:12px;color:red;line-height:20px;">#if($limitCount!=0)该商品限购<span>$!{limitCount}</span>件#end</div>
						</div>
						<div style="clear:both;"></div>
					<div class="bottom-number-btn">
						<a href="javascript:void(0);" id="sureP">确认</a>
						<a href="javascript:void(0);" id="sureP2">确认</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="collect-success">
		恭喜您，商品收藏成功！
	</div>
	<div class="uncollect-success">
		成功取消收藏该商品！
	</div>
	<div class="addtocar-success">
		商品已添加到购物车
	</div>
	<div class="product-down">
		该商品已下架,无法购买!
	</div>
	<div class="common-msg">
		
	</div>
</div>
</body>
<img src="$qiniu.getDownloadUrl($productImgList[0])" width="0" height="0" />
<script type="text/javascript">
	
	
	
	
    $(function(){
    	
    	
    	
    	share_link = location.href;
    	share_title = $(".pname").text();
    	share_imgUrl = '$qiniu.getDownloadUrl($productImgList[0])';
    	share_desc = '售价:'+'￥$!number.format("#0.00",$math.div($!{productVo.product.price},100)) '+$(".pname").text();
    	
    	$("img.lazy").lazyload({
		    effect : "fadeIn"
		});
    	
		var productID = $(".productID").val();
		var param = "productID="+productID;
    	//var curSkuStock = 0;
		
    	$(".attr").each(function(){
    		param+="&attrs="+$(this).data("attrid")+"&values="+$(this).find(".attr-btn:eq(0)").data("valueid");
    	})
    	console.log(param);
    	$.ajax({
			url:"${link.contextPath}/product/querySku?"+param,
			type:"POST",
			dataType:"JSON",
			success:function(ret){
				if(ret.errcode==0){
					var numPattern = new RegExp("[0-9]+");
					$(".info-bottom-img").find("img").attr("src",ret.skuImg);
					$(".bottom-number-area").find(".bottom-number-right").text("(库存："+ret.skuStock+"件)");
					$(".skuPrice").text("￥"+(ret.skuPrice/100.0).toFixed(2));
					$(".skuID").val(ret.skuID);
					//curSkuStock = ret.skuStock;
				}else{
					$(".bottom-number-area").find(".bottom-number-right").text("(库存：0件)");
				}
			}
			
		});
    	
    	
    	var href=location.href;
    	console.log("href: "+href);
    	
    	
    	//初始化的时候 根据商品属性个数  改变购买页面高度
    	/*if($attrItems.size()==0){
    		$(".add-car-footer").height(230);
    	}else if($attrItems.size()==1){
    		$(".add-car-footer").height(270);
    	}else if($attrItems.size()==2){
    		$(".add-car-footer").height(310);
    	}else if($attrItems.size()==3){
    		$(".add-car-footer").height(350);
    	}*/
    	
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		$(".btn2").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
				$(this).removeClass("bg1").addClass("bg2");
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
				$(this).removeClass("bg2").addClass("bg1");
			}
		});
		 $("#top").on("click",function(){
			var scrolltop = $(window).scrollTop();
            $('html,body').animate({
                scrollTop:$($.attr(this,'href')).offset().top,
            },500);
            return false;
        });
	
    	 var swiper = new Swiper('.swiper-container', {
	       pagination: '.swiper-pagination',
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        paginationClickable: true,
	        spaceBetween: 30,
	        centeredSlides: true,
	        autoplay: 2500,
	        autoplayDisableOnInteraction: false
   		 });
		$(".btn").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
			}
		});
		$(".btn2").click(function(){
			if($(this).find(".img1").is(":visible")){
				$(this).find(".img1").hide();
				$(this).find(".img2").show();
				$(this).removeClass("bg1").addClass("bg2");
			}else{
				$(this).find(".img1").show();
				$(this).find(".img2").hide();
				$(this).removeClass("bg2").addClass("bg1");
			}
		});
		 $("#top").on("click",function(){
			var scrolltop = $(window).scrollTop();
            $('html,body').animate({
                scrollTop:$($.attr(this,'href')).offset().top,
            },500);
            return false;
        });

		 
        /* $("#service").click(function(){
            $(".customer-service").slideToggle();
        }); */

		var txt;
		var num = 1;
		var divTxt; 
		$(".add").click(function(){
			divTxt = $(this).parents(".number-1").siblings(".number-2");
			//if(num+1>curSkuStock){
				//return;
			//}
			num ++;
			#if($limitCount!=0)
				if(num>$limitCount){
					num--;
					return;
				}
			#end
			divTxt.text(num);
			$(".subtract").find(".img1").show();
			$(".subtract").find(".img2").hide();
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		});
		$(".subtract").click(function(){
			divTxt = $(this).parents(".number-1").siblings(".number-2");
			console.log("num:"+num);
			if(num > 1){
				num --;
			}else{
				return;
			}
			divTxt.text(num);
			$(".add").find(".img1").show();
			$(".add").find(".img2").hide();
			$(this).find(".img1").hide();
			$(this).find(".img2").show();
		});
		
		$(".attr-btn").click(function(){
			
			//如果重复点同一个选项
			if($(this).closest(".attr").find(".size-bg2").get(0)==this){
				console.log("same ")
				return;
			}
			
			$(this).closest(".attr").find(".attr-btn").removeClass("size-bg2").addClass("size-bg1");
			$(this).removeClass("size-bg1").addClass("size-bg2");
			var attrNum = $(".choose-size").find(".attr").length;
			console.log(attrNum);
			var choosedAttr = 0;
			$(".choose-size").find(".attr").each(function(index,item){
				
				if($(item).find(".size-bg2").length>0){
					choosedAttr++;
				}
				
			});
			if(choosedAttr==attrNum){
				
				var productID = $(".productID").val();
				var param = "productID="+productID;
				for(var i=0;i<attrNum;i++){
					var attrID = $(".choose-size").find(".attr:eq("+i+")").data("attrid");
					var valueID = $(".choose-size").find(".attr:eq("+i+")").find(".size-bg2").data("valueid");
					param+="&attrs="+attrID+"&values="+valueID;
				}
				console.log(param);		
				
				$.ajax({
					url:"${link.contextPath}/product/querySku?"+param,
					type:"POST",
					dataType:"JSON",
					success:function(ret){
						$(".number-2").text("1");
						num=1;
						if(ret.errcode==0){
							
							console.log(ret);
							
							var numPattern = new RegExp("[0-9]+");
							$(".info-bottom-img").find("img").attr("src",ret.skuImg);
							$(".bottom-number-area").find(".bottom-number-right").text("(库存："+ret.skuStock+"件)");
							$(".skuPrice").text("￥"+(ret.skuPrice/100.0).toFixed(2));
							$(".skuID").val(ret.skuID);
							//curSkuStock = ret.skuStock;
							$(".info-bottom-img").imgLiquid({
						        fill: false,
						        horizontalAlign: "center",
						        verticalAlign: "center"
						    });
							
						}else{
							$(".bottom-number-area").find(".bottom-number-right").text("(库存：0件)");
							//curSkuStock = 0;
						}
					}
					
				});
			}
			
		});
		
		$(".addCar").click(function(){
			$(".add-car").fadeIn();
			$(".img2").hide();
			$(".img1").show();
			$("#sureP2").hide();
			$("#sureP").show();
		});
		$("#delete-car").click(function(){
			$(".add-car").fadeOut('fast');
			$(".img1").show();
			$(".img2").hide();
			
		});
		$("#collect").click(function(){
			
			
			//改变图片
			if($("#collect").attr("src").indexOf("uncollect")!=-1){
				$("#collect").attr("src","${link.contextPath}/images/img/collect.png");
				$.ajax({
					url:'${link.contextPath}/product/collect',
					type:'POST',
					dataType:'JSON',
					data:{"productID":$(".productID").val(),"collect":1},
					success:function(ret){
						console.log(ret);
						if(ret.errcode==0){
							$(".collect-success").fadeIn();
							setTimeout(function () {
								$(".collect-success").fadeOut();
							}, 2000);
						}
					}
				});
			}else{
				$("#collect").attr("src","${link.contextPath}/images/img/uncollect.png");
				$.ajax({
					url:'${link.contextPath}/product/collect',
					type:'POST',
					dataType:'JSON',
					data:{"productID":$(".productID").val(),"collect":0},
					success:function(ret){
						console.log(ret);
						if(ret.errcode==0){
							$(".uncollect-success").fadeIn();
							setTimeout(function () {
								$(".uncollect-success").fadeOut();
							}, 2000);
						}
					}
				});
			}
			
			 
		});
		
		$("#sureP").click(function(){
			//必须将东西添加到购物车
			
			if($(".status").val()=='DW#'){
				$(".add-car").fadeOut();
				$(".product-down").fadeIn();
				setTimeout(function () {
					$(".product-down").fadeOut();
				}, 2000);
				return;
			}
			
			var attrNum = $(".choose-size").find(".attr").length;
			var choosedAttr = 0;
			$(".choose-size").find(".attr").each(function(index,item){
				
				if($(item).find(".size-bg2").length>0){
					choosedAttr++;
				}
				
			});
			var numPattern = new RegExp("[0-9]+");
			var buyNum = $(".number-2").text();
			var skuPrice = numPattern.exec($(".skuPrice").text());
			var stockNum = parseInt(numPattern.exec($(".bottom-number-area").find(".bottom-number-right").text())[0]);
			if(choosedAttr!=attrNum){
				alert("请选择您要的商品信息");
			}else if(buyNum>stockNum){
				console.log("库存数量"+stockNum);
				alert("库存不足");
			}else{
				var productID = $(".productID").val();
				$.ajax({
					
					url:"${link.contextPath}/shop_car/add_to_shopcar",
					type:"POST",
					dataType:"JSON",
					data:{"productID":productID,"skuID":$(".skuID").val(),"buyNum":buyNum},
					success:function(ret){
						if(ret && ret.errcode==0){
							$(".add-car").fadeOut();
							//$(".attr-btn").removeClass("size-bg2").addClass("size-bg1");
							$(".img1").show();
							$(".img2").hide();
							if(divTxt){
								divTxt.text("1");
								num=1;
							}
							$("span.num").text(ret.count);
							$(".addtocar-success").fadeIn();
							setTimeout(function () {
								$(".addtocar-success").fadeOut();
							}, 2000);
						}else if(ret && ret.errcode && ret.errcode!=0){
							$(".common-msg").text(ret.errmsg);
							$(".common-msg").fadeIn();
							setTimeout(function () {
								$(".common-msg").fadeOut();
							}, 1500);
						}else{
							$(".common-msg").text("网络异常,请稍后重试");
							$(".common-msg").fadeIn();
							setTimeout(function () {
								$(".common-msg").fadeOut();
							}, 1500);
						}
						
					}
					
				});
				
			}
			
			
		});
		$("#sureP2").click(function(){
			
			if($(".status").val()=='DW#'){
				$(".add-car").fadeOut();
				$(".product-down").fadeIn();
				setTimeout(function () {
					$(".product-down").fadeOut();
				}, 2000);
				return;
			}
			#if(${common.subscribe}!=1)
				alert("您尚未关注公众号,无法进行购买");
				return;
			#end
			var attrNum = $(".choose-size").find(".attr").length;
			var choosedAttr = 0;
			$(".choose-size").find(".attr").each(function(index,item){
				
				if($(item).find(".size-bg2").length>0){
					choosedAttr++;
				}
				
			});
			var numPattern = new RegExp("[0-9]+");
			var buyNum = $(".number-2").text();
			var skuPrice = numPattern.exec($(".skuPrice").text());
			var stockNum = parseInt(numPattern.exec($(".bottom-number-area").find(".bottom-number-right").text())[0]);
			if(choosedAttr!=attrNum){
				alert("请选择您要的商品信息");
			}else if(buyNum>stockNum){
				alert("库存不足");
			}else{
				
				$.ajax({
					url:"${link.contextPath}/product/check-limit",
					type:"POST",
					data:{"skuIds":$(".skuID").val(),"buyNums":buyNum},
					dataType:"json",
					success:function(ret){
						if(ret && ret.errcode==0){
							var params = [];
							params.push($("<input>",{name:"mode",value:"buyNow"}))
							params.push($("<input>",{name:"skuIds",value:$(".skuID").val()}));
							params.push($("<input>",{name:"buyNums",value:buyNum}));
							
							$('<form>', {  
								method: 'post',
								action: '${link.contextPath}/order/previewOrder'
							}).append(params).submit();
						}else if(ret && ret.errcode && ret.errcode==10000){
							$(".common-msg").text("商品超出限购数量,无法进行购买");
							$(".common-msg").fadeIn();
							setTimeout(function () {
								$(".common-msg").fadeOut();
							}, 1500);
						}else{
							$(".common-msg").text("网络异常,请稍后重试");
							$(".common-msg").fadeIn();
							setTimeout(function () {
								$(".common-msg").fadeOut();
							}, 1500);
						}
					}
				})
				
				//构造表单提交
				/*var params = [];
				params.push($("<input>",{name:"mode",value:"buyNow"}))
				params.push($("<input>",{name:"skuIds",value:$(".skuID").val()}));
				params.push($("<input>",{name:"buyNums",value:buyNum}));
				
				$('<form>', {  
				    method: 'post',
				    action: '${link.contextPath}/order/previewOrder'
				}).append(params).submit();*/
			}
		});
		$(".payCar").click(function(){
			$(".add-car").fadeIn();
			$(".img2").hide();
			$(".img1").show();
			$("#sureP").hide();
			$("#sureP2").show();
		});
		
		$(".imgLiquidNotFill").imgLiquid({
	        fill: false,
	        horizontalAlign: "center",
	        verticalAlign: "center"
	    });
		
	});
</script>
</html>