<!DOCTYPE html>
<html>
<head>
#parse("./common/resources.vm")
    <!-- title -->
    <title>阿拉丁--找回密码</title>
    <script>
    $(function(){
    	var smsAble=true;
    	var countDown=function(i){
    		smsAble=false;
    		var content=$('#sms').html();
    		$('#sms').html(content+'('+i+')');
    		var interval=setInterval(function(){
    			$('#sms').html(content+'('+i+')');
    			if(i<0){
    				$('#sms').html(content);
    				clearTimeout(interval);
    				smsAble=true;
    			}
    			i--;
    		},1000);
    	}
    	$('#sms').click(function(){
    		if(smsAble){
    			smsAble=false;
    			$.ajax({ 
    				url: '/password/find/sms',
    				type:"post",
    				success: function(data){
    					if('success'==data){
    		    			countDown(60);
    					}else if('error'==data){
    						alert('系统繁忙，请稍后再试');
    						smsAble=true;
    					}
    				},
    				error:function(){
    					alert('系统繁忙，请稍后再试');
    					smsAble=true;
    				}
    			});
    		}
    	})
    	if($sms_wait_second>0){
    		countDown($sms_wait_second);
    	}
    	
    	var submitAble=true;
    	$('#submit').click(function(){
    		if(submitAble){
    			submitAble=false;
    			var captcha=$('#captcha').val();
    			if(captcha==''){
    				alert('请输入短信验证码');
    				submitAble=true;
    				return;
    			}
    			$.ajax({ 
    				url: '/password/find/sms/vertify',
    				type:"post",
    				data:{captcha:captcha},
    				success: function(data){
    					if('success'==data){
    		    			location.href="/password/find/reset";
    					}else if('captcha_error'==data){
    						alert('验证码输入错误');
    						submitAble=true;
    					}
    				},
    				error:function(){
    					alert('系统繁忙，请稍后再试');
    					submitAble=true;
    				}
    			});
    		}
    	})
    })
    </script>
</head>
<body>
<!-- header -->
#parse("./common/header.vm")
    
    <!-- content-bar-->
    <section class="content-bar">
        <div class="content">
            <div class="container">
                <div class="form-box">
                        <h2 class="password" style="color:#1a1a1a;font-size:30px;padding:30px;text-align:center;">找回密码</h2>
                        <div class="row">
                            <ul class="step-list">
                                <li>
                                    <a href="javascript:;">
                                        <em>1</em>
                                        <p>填写用户名</p>
                                     </a>
                                </li>
                                <li class="active">
                                    <a href="javascript:;">
                                        <em>2</em>
                                        <p>验证身份</p>
                                     </a>
                                </li>
                                <li class="negative">
                                    <a href="javascript:;">
                                        <em >3</em>
                                        <p class="complete">设置新密码</p>
                                     </a>
                                </li>
                                <li class="negative">
                                    <a href="javascript:;">
                                        <em>
                                            <i class="icon-check"></i>
                                        </em>
                                        <p class="complete">完成</p>
                                     </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="message-box emial" style="width:380px;text-align:center;">
                                <div class="detail" style="text-align:left;">
                                	<p>
                                		<span style="width: 100px;display: inline-block;text-align: right;">昵称：</span>$nickname
                                	</p>
                                	<p style="margin-top:20px;">
                                		<span style="width: 100px;display: inline-block;text-align: right;">验证手机：</span>$phone
                                	</p>
                                	<form id="from1" action="/password/find/reset" method="post" style="display:inline;">
                                    <p style="margin-top:20px;">
                                        <span style="width: 100px;display: inline-block;text-align: right;">验证码：</span>
                                        	<input type="text" name="captcha" id="captcha" style="width: 120px;" class="form-control" placeholder="手机校验码" />
                                        <button type="button" id="sms" class="btn btn-simple" style="position:relative;top:-2px;width:150px;">获取短信验证码</button>  
                                    </p>     
                                    </form>		
                                </div>
                                <button type="button" id="submit" class="btn btn-mailbox">提交</button>                   
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>