<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <!-- js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv-printshiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <!-- title -->
    <title>阿拉丁--找回密码</title>
    <script>
    $(function(){
    	$('#chgImg').click(function(){
    		var timestamp=(new Date()).valueOf();
    		$('#captchaImg').attr('src','/common/captcha?timestamp='+timestamp);     
    	})
    	$('#chgImg').click();
    	
    	/*表单验证对象*/
		var formValidate={
			username:{
				target:$("#username"),
				required:true,
				reg:/(^1\d{10}$)|(^.*@.*\..*)/,
				tip:$('#usernameTip'),
				tipWord:'输入手机号/邮箱格式错误'
			},
			captcha:{
				target:$("#captcha"),
				required:true,
				tip:$('#captchaTip'),
				tipWord:'验证码输入错误'
			},
			init:function(){
				this.username.target.blur(function(){
					formValidate.validate(formValidate.username);
				})
				this.captcha.target.blur(function(){
					formValidate.validate(formValidate.captcha);
				})
				this.username.target.focus(function(){
					formValidate.username.tip.css('display','none');
				})
				this.captcha.target.focus(function(){
					formValidate.captcha.tip.css('display','none');
				})
			},
			validate:function(o){//通用验证
				var v=o.target.val();
				if(o.required){
					if(v==""){//非空
						o.tip.html(o.tipWord);
						o.tip.css('display','block');
						return false;
					}
				}
				if(v!=""){
					if(o.reg!=undefined){//格式
						if(!o.reg.test(v)){
							o.tip.html(o.tipWord);
							o.tip.css('display','block');
							return false;
						}
					}
				}
				if(o.validator!=undefined){//自定义验证
					if(!o.validator()){
						o.tip.html(o.tipWord);
						o.tip.css('display','block');
						return false;
					}
				}
				o.tip.css('display','none');
				return true;
			},
			validateAll:function(){
				if(this.validate(this.username)&this.validate(this.captcha)){
					return true;
				}
				return false;
			}
		}
		formValidate.init();
		
		
		
		var submitAble=true;
    	$('#submit').click(function(){
    		if(submitAble){
    			submitAble=false;
    			if(formValidate.validateAll()){
    				var username=$('#username').val();
    				var captcha=$('#captcha').val();
    				$.ajax({ 
        				url: '/password/find/check',
        				data:{captcha:captcha,username:username},
        				type:"post",
        				success: function(data){
        					if('captcha_error'==data){
        						$('#chgImg').click();
        						$('#captchaTip').css('display','inline');
        						submitAble=true;
        					}else if('username_not_exists'==data){
        						$('#chgImg').click();
        						$('#usernameTip').html('您输入的账户名不存在，请重新输入');
        						$('#usernameTip').css('display','block');
        						submitAble=true;
        					}else if('error'==data){
        						$('#chgImg').click();
            					alert('系统繁忙，请稍后再试');
            					submitAble=true;
        					}else{
        						location.href=data;
        					}
        				},
        				error:function(){
        					$('#chgImg').click();
        					alert('系统繁忙，请稍后再试');
        					submitAble=true;
        				}
        			});
    			}else{
    				submitAble=true;
    			}
    		}
    	})
		
		
    	
    })
    </script>
</head>
<body>
    <header class="header new-header">
        <!-- navbar -->
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="row">
                    <ul class="nav navbar-nav navbar-left"> 
                        <li>
                            <a href="login.html">登录</a>
                        </li>
                        <li>    
                            <a href="register.html">免费注册</a>
                        </li>
                        <li>    
                            <a href="store.html">我的店铺</a>
                        </li>   
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        <li>
                            <a href="person.html">个人中心</a>
                        </li>
                        <li>
                            <a href="cart.html">购物车</a>
                        </li> 
                        <li>
                            <a href="order.html">我的订单</a>
                        </li> 
                        <li>
                            <a href="collection.html">我的收藏</a>
                        </li> 
                        <li>
                            <a href="link.html">联系客服</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </div>
        <!-- searchbar -->
        <div class="searchbar">
            <div class="search">
                <div class="container">
                    <div class="row">
                        <div class="pull-left">
                            <a href="index.html" class="logo">
                                <img src="/images/logo/logo.png">
                            </a>
                        </div>
                        <div class="pull-right">
                            <span>已有账号？</span>
                            <a href="" class="login">马上登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- content-bar-->
    <section class="content-bar">
        <div class="content">
            <div class="container">
                <div class="form-box">
                    <form>
                        <h2 class="password">找回密码</h2>
                        <div class="row">
                            <ul class="step-list">
                                <li class="active">
                                    <a href="javascript:;">
                                        <em>1</em>
                                        <p>填写用户名</p>
                                     </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <em>2</em>
                                        <p>验证身份</p>
                                     </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <em >3</em>
                                        <p>设置新密码</p>
                                     </a>
                                </li>
                                <li class="negative">
                                    <a href="javascript:;">
                                        <em>
                                            <i class="icon-check"></i>
                                        </em>
                                        <p class="complete">完成</p>
                                     </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label class="control-label">用户名：</label>
                            <input type="text" id="username" class="form-control" placeholder="邮箱/手机号" />
                            <p class="error" id="usernameTip" style="display:none;">您输入的账户名不存在，请重新输入。</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">验证码：</label>
                            <input type="text" id="captcha" class="form-control" placeholder="验证码" />
                            <a href="javascript:;" class="code">
                                <img  id="captchaImg" style="width:90px;height:32px;" >
                            </a><a>
                            </a><a href="javascript:;" class="update" id="chgImg">换一张</a>
                            <p class="error"  id="captchaTip" style="display:none;">验证码错误</p>
                        </div>
                        <button type="button" id="submit" class="btn btn-commit">提交</button>
                    </div>
                </form>   
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-service">
            <div class="container">
                <div class="row">
                    <ul class="service">
                        <li>
                            <i class="icon icon-service-one"></i>
                            <span>品类齐全</span>
                            <span>轻松购物</span>
                        </li>
                        <li>
                            <i class="icon icon-service-two"></i>
                            <span>多仓直发</span>
                            <span>急速配送</span>
                        </li>
                        <li>
                            <i class="icon icon-service-three"></i>
                            <span>正品行货</span>
                            <span>精致服务</span>
                        </li>
                        <li>
                            <i class="icon icon-service-four"></i>
                            <span>天天低价</span>
                            <span>畅选无忧</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="middle">
                        <ul>
                            <li>
                                <span>北京市公安局朝阳分局备案编号110105014669</span>
                            </li>
                            <li>
                                <span>京ICP证070359号</span>
                            </li>
                            <li>
                                <span>互联网药品信息服务资格证编号(京)字150号</span>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <span>音像制品经营许可证苏宿批005号</span>
                            </li>
                            <li>
                                <span>出版物经营许可证编号新出发(苏)批字第N-012号</span>
                            </li>
                            <li>
                                <span>互联网出版许可证编号新出网证(京)字150号</span>
                            </li>
                        </ul>
                        <p>网络文化经营许可证京网文[2011]0168-061号&nbsp;&nbsp;Copyright&nbsp;&nbsp;2004-2016&nbsp;&nbsp;京东JD.com版权所有</p>
                        <P>京东旗下网站：&nbsp;306TOP&nbsp;&nbsp;English Site</P>
                        <ul>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-01.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-02.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-03.png" />
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/images/footer/website-04.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>