<!DOCTYPE html>
<html>
<head>
	#parse("./common/resources.vm")
    <!-- title -->
    <title>阿拉丁--找回手机号</title>
</head>
<body>
<!-- header -->
#parse("./common/header.vm")
    
    <!-- content-bar -->
    <section class="content-bar">
        <div class="content">
            <div class="container">
                <div class="form-box">
                    <form>
                        <h2 class="password">找回密码</h2>
                        <div class="row">
                            <ul class="step-list">
                                <li>
                                    <a href="javascript:;">
                                        <em>1</em>
                                        <p>填写用户名</p>
                                     </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <em>2</em>
                                        <p>验证身份</p>
                                     </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <em >3</em>
                                        <p>设置新密码</p>
                                     </a>
                                </li>
                                <li class="active">
                                    <a href="javascript:;">
                                        <em>
                                            <i class="icon-check"></i>
                                        </em>
                                        <p style="color:#a8e585;">完成</p>
                                     </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="message-box mobile">
                                <i class="icon-info-check"></i>
                                <div class="detail">
                                    <p class="new">登陆密码重置成功！</p>
                                    <p>点此<a href="/login">登录</a>或<a href="/index.html">进入首页</a>，开启您的购物之旅！</p> 
                                </div>           
                            </div>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </section>

    <!-- footer -->
    #parse("./common/footer.vm")
</body>
</html>