<!DOCTYPE html>
<html>
	#parse("./common/resources.vm")
    <!-- title -->
    <title>我的财富-线下充值</title>
<body>
    <!-- header -->
    #parse("./common/header.vm")

    <!-- main -->
    <!-- contentbar -->
    <div class="content-bar">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="refill">
                        <div class="head">
                            <p class="fl">
                                <i class="icon-refill"></i>填写充值金额
                            </p>
                        </div>
                        <div class="center">
                           <div class="col-md-6">
                               <form class="form" action="${link.contextPath}/wealth/off-recharge" method="post" >
                                    <div class="form-group">
                                        <label class="control-label">幸运号：</label>
                                        <input type="text" class="form-control" placeholder="请填写幸运号" value="${luckNum}" readonly="readonly" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">交易单号：</label>
                                        <input type="text" class="form-control" placeholder="请填写交易单号" name="externalOrderId" value="" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">充值金额：</label>
                                        <input type="text" class="form-control" placeholder="请填写充值金额" name="sum" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">手机号码：</label>
                                        <input type="text" class="form-control" placeholder="请填写手机号码" name="phone" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">备注说明：</label>
                                        <input type="text" class="form-control" placeholder="非必填" name="remark" value=""/>
                                    </div>
                                    <button type="button" class="btn btn-refill" >充值</button>
                                    <a href="javascript:;" class="tips" style="display:none;color:#7dbf58;">
												<span id="tips"></span>
											</a>
                               </form>
                           </div>
                           <div class="col-md-6">
                               <div class="prompt">
                                   <h3>温馨提示：</h3>
                                   <p>第三方线下付款有以下两种方式：</p>
                                   <p>注：以下两种方式都需要在备注栏准确填写本人的"幸运号"！</p>
                                   <p class="example">如：100052345</p>
                                   <p>1、支付宝账号</p>
                                   <p>昵称：泛系科技</p>
                                   <p>支付宝账号：xxxxxxx@qq.com</p>
                                   <p>2、收款银行账户（此账户只接受电脑端网银支付）</p>
                                   <p>开户银行：招商银行 广州市支行</p>
                                   <p>账号：xxxxxxxxxxxxxx</p>
                                   <p>户名：泛系科技</p>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #parse("./common/footer.vm")
    <script>
    $(function(){
		$(".btn-refill").click(function(){
			var sum = $("input[name=sum]").val();
			var externalOrderId = $("input[name=externalOrderId]").val();
			var phone = $("input[name=phone]").val();
			var remark = $("input[name=remark]").val();
			if(externalOrderId.trim()==""){
				fadeTips("请填写交易单号");
				return ;
			}
			if(!isUnsignedNumeric(sum)){
				fadeTips("充值金额必须大于0并且不能超过2位小数！");
				return ;
			}
			sum1 = parseFloat(sum);
			
			if(sum1<=0){
				fadeTips("充值金额必须大于0并且不能超过2位小数！");
				return ;
			}
			$.ajax({ 
				url: '/wealth/off-recharge',
				data:{sum:sum,externalOrderId:externalOrderId,phone:phone,remark:remark},
				type:"post",
				success: function(data){
					window.location.href = "/wealth/off-recharge-result";
				},
				error:function(){
					fadeTips("系统繁忙，请稍后再试");
					return ;
				}
			});
			
		});
    });
    
  	//检查是否为两位小数的正实数
    function isUnsignedNumeric(a){
        var  reg= /^[0-9]+(.[0-9]{2})?$/;
        return reg.test(a);
    }
    
    function fadeTips(val) {
    	$("#tips").html(val);
		$(".tips").fadeIn();
		setTimeout(function(){
			$(".tips").fadeOut();
		},3000);
	}
	    
	</script>
</body>
</html>