<!DOCTYPE html>
<html>
<head>
    #parse("./common/resources.vm")
    <!-- title -->
    <title>我的财富-充值记录</title>
</head>
<body>
    <!-- header -->
    #parse("./common/header.vm")

    <!-- main -->
    <section class="main">
        <div class="list">
            <div class="container">
                <div class="row">
                    <!-- left menu -->
                    #parse("./common/left-menu.vm")
                    <div class="col-md-10">
                        <div class="content alipay-content">
                            <div class="wealth">
                                <div class="col-sm-3">
                                    <p>可用余额：$number.format("#0.00",$math.div($remainingSum,100))</p>
                                    <p>
                                        <a href="online-refill.html">充值</a>
                                        <a href="alipay-binding.html">提现</a>
                                    </p>
                                </div>
                                <div class="col-sm-3">
                                    <p>累计收入</p>
                                    <p>¥$number.format("#0.00",$math.div($totalEaring,100))</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>已提现</p>
                                    <p>¥$number.format("#0.00",$math.div($totalWithdraw,100))</p>
                                </div>
                                <div class="col-sm-3">
                                    <p>冻结余额</p>
                                    <p>¥$number.format("#0.00",$math.div($frozenSum,100))</p>
                                </div>
                            </div>
                            <p class="record">
                                <a href="/wealth/wealth-index">近一个月的收支明细</a>| <span>充值记录</span>| <a href="/wealth/frozen-list">冻结余额记录</a>
                            </p>
                            <table class="table wealth-order table-bordered table-hover table-responsive">
                                <thead>
                                    <tr>
                                        <th>时间</th>
                                        <th>交易单号</th>
                                        <th>充值金额</th>
                                        <th>状态</th>
                                        <th>备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                	#if($null.isNull($rechargeList)||$rechargeList.size()==0) 
                                	<tr>
                                		<td colspan="5">暂无记录!</td>
                                    </tr>
                                    #else
                                	#foreach($recharge in $rechargeList)
                                    <tr>
                                        <td>$!{recharge.insertTime}</td>
                                        <td>$!{recharge.externalOrderId}</td>
                                        <td>¥$number.format("#0.00",$math.div($recharge.sum,100))</td>
                                        #if($recharge.status=='APL')
                                        	<td>申请中</td>
                                        #elseif($recharge.status=='OK#')
                                        	<td>充值成功</td>
                                        #elseif($recharge.status=='FLS')
                                        	<td>充值失败</td>
                                        #end
                                        <td>$!{recharge.remark}</td>
                                    </tr>
                                    #end
                                    #end
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    #parse("./common/viewed.vm")
    #parse("./common/footer.vm")
    
</body>
</html>